In [ ]:
nom_colonnes = ['Code du département','Libellé du département','Code de la commune',
 'Libellé de la commune','Code du b.vote','Inscrits', 'Abstentions', '% Abs/Ins', 'Votants',
 '% Vot/Ins', 'Blancs', '% Blancs/Ins', '% Blancs/Vot',
 'Nuls','% Nuls/Ins', '% Nuls/Vot', 'Exprimés', '% Exp/Ins', '% Exp/Vot',
 'N°Liste_1', 'Libellé Abrégé Liste_1', 'Libellé Etendu Liste_1', 'Nom Tête de Liste_1', 'Voix_1', '% Voix/Ins_1', '% Voix/Exp_1',
 'N°Liste_2', 'Libellé Abrégé Liste_2', 'Libellé Etendu Liste_2', 'Nom Tête de Liste_2', 'Voix_2', '% Voix/Ins_2', '% Voix/Exp_2',
 'N°Liste_3', 'Libellé Abrégé Liste_3', 'Libellé Etendu Liste_3', 'Nom Tête de Liste_3', 'Voix_3', '% Voix/Ins_3', '% Voix/Exp_3',
 'N°Liste_4', 'Libellé Abrégé Liste_4', 'Libellé Etendu Liste_4', 'Nom Tête de Liste_4', 'Voix_4', '% Voix/Ins_4', '% Voix/Exp_4',
 'N°Liste_5', 'Libellé Abrégé Liste_5', 'Libellé Etendu Liste_5', 'Nom Tête de Liste_5', 'Voix_5', '% Voix/Ins_5', '% Voix/Exp_5',
 'N°Liste_6', 'Libellé Abrégé Liste_6', 'Libellé Etendu Liste_6', 'Nom Tête de Liste_6', 'Voix_6', '% Voix/Ins_6', '% Voix/Exp_6',
 'N°Liste_7', 'Libellé Abrégé Liste_7', 'Libellé Etendu Liste_7', 'Nom Tête de Liste_7', 'Voix_7', '% Voix/Ins_7', '% Voix/Exp_7',
 'N°Liste_8', 'Libellé Abrégé Liste_8', 'Libellé Etendu Liste_8', 'Nom Tête de Liste_8', 'Voix_8', '% Voix/Ins_8', '% Voix/Exp_8',
 'N°Liste_9', 'Libellé Abrégé Liste_9', 'Libellé Etendu Liste_9', 'Nom Tête de Liste_9', 'Voix_9', '% Voix/Ins_9', '% Voix/Exp_9',
 'N°Liste_10', 'Libellé Abrégé Liste_10', 'Libellé Etendu Liste_10', 'Nom Tête de Liste_10', 'Voix_10', '% Voix/Ins_10', '% Voix/Exp_10',
 'N°Liste_11', 'Libellé Abrégé Liste_11', 'Libellé Etendu Liste_11', 'Nom Tête de Liste_11', 'Voix_11', '% Voix/Ins_11', '% Voix/Exp_11',
 'N°Liste_12', 'Libellé Abrégé Liste_12', 'Libellé Etendu Liste_12', 'Nom Tête de Liste_12', 'Voix_12', '% Voix/Ins_12', '% Voix/Exp_12',
 'N°Liste_13', 'Libellé Abrégé Liste_13', 'Libellé Etendu Liste_13', 'Nom Tête de Liste_13', 'Voix_13', '% Voix/Ins_13', '% Voix/Exp_13',
 'N°Liste_14', 'Libellé Abrégé Liste_14', 'Libellé Etendu Liste_14', 'Nom Tête de Liste_14', 'Voix_14', '% Voix/Ins_14', '% Voix/Exp_14',
 'N°Liste_15', 'Libellé Abrégé Liste_15', 'Libellé Etendu Liste_15', 'Nom Tête de Liste_15', 'Voix_15', '% Voix/Ins_15', '% Voix/Exp_15',
 'N°Liste_16', 'Libellé Abrégé Liste_16', 'Libellé Etendu Liste_16', 'Nom Tête de Liste_16', 'Voix_16', '% Voix/Ins_16', '% Voix/Exp_16',
 'N°Liste_17', 'Libellé Abrégé Liste_17', 'Libellé Etendu Liste_17', 'Nom Tête de Liste_17', 'Voix_17', '% Voix/Ins_17', '% Voix/Exp_17',
 'N°Liste_18', 'Libellé Abrégé Liste_18', 'Libellé Etendu Liste_18', 'Nom Tête de Liste_18', 'Voix_18', '% Voix/Ins_18', '% Voix/Exp_18',
 'N°Liste_19', 'Libellé Abrégé Liste_19', 'Libellé Etendu Liste_19', 'Nom Tête de Liste_19', 'Voix_19', '% Voix/Ins_19', '% Voix/Exp_19',
 'N°Liste_20', 'Libellé Abrégé Liste_20', 'Libellé Etendu Liste_20', 'Nom Tête de Liste_20', 'Voix_20', '% Voix/Ins_20', '% Voix/Exp_20',
 'N°Liste_21', 'Libellé Abrégé Liste_21', 'Libellé Etendu Liste_21', 'Nom Tête de Liste_21', 'Voix_21', '% Voix/Ins_21', '% Voix/Exp_21',
 'N°Liste_22', 'Libellé Abrégé Liste_22', 'Libellé Etendu Liste_22', 'Nom Tête de Liste_22', 'Voix_22', '% Voix/Ins_22', '% Voix/Exp_22',
 'N°Liste_23', 'Libellé Abrégé Liste_23', 'Libellé Etendu Liste_23', 'Nom Tête de Liste_23', 'Voix_23', '% Voix/Ins_23', '% Voix/Exp_23',
 'N°Liste_24', 'Libellé Abrégé Liste_24', 'Libellé Etendu Liste_24', 'Nom Tête de Liste_24', 'Voix_24', '% Voix/Ins_24', '% Voix/Exp_24',
 'N°Liste_25', 'Libellé Abrégé Liste_25', 'Libellé Etendu Liste_25', 'Nom Tête de Liste_25', 'Voix_25', '% Voix/Ins_25', '% Voix/Exp_25',
 'N°Liste_26', 'Libellé Abrégé Liste_26', 'Libellé Etendu Liste_26', 'Nom Tête de Liste_26', 'Voix_26', '% Voix/Ins_26', '% Voix/Exp_26',
 'N°Liste_27', 'Libellé Abrégé Liste_27', 'Libellé Etendu Liste_27', 'Nom Tête de Liste_27', 'Voix_27', '% Voix/Ins_27', '% Voix/Exp_27',
 'N°Liste_28', 'Libellé Abrégé Liste_28', 'Libellé Etendu Liste_28', 'Nom Tête de Liste_28', 'Voix_28', '% Voix/Ins_28', '% Voix/Exp_28',
 'N°Liste_29', 'Libellé Abrégé Liste_29', 'Libellé Etendu Liste_29', 'Nom Tête de Liste_29', 'Voix_29', '% Voix/Ins_29', '% Voix/Exp_29',
 'N°Liste_30', 'Libellé Abrégé Liste_30', 'Libellé Etendu Liste_30', 'Nom Tête de Liste_30', 'Voix_30', '% Voix/Ins_30', '% Voix/Exp_30',
 'N°Liste_31', 'Libellé Abrégé Liste_31', 'Libellé Etendu Liste_31', 'Nom Tête de Liste_31', 'Voix_31', '% Voix/Ins_31', '% Voix/Exp_31',
 'N°Liste_32', 'Libellé Abrégé Liste_32', 'Libellé Etendu Liste_32', 'Nom Tête de Liste_32', 'Voix_32', '% Voix/Ins_32', '% Voix/Exp_32',
 'N°Liste_33', 'Libellé Abrégé Liste_33', 'Libellé Etendu Liste_33', 'Nom Tête de Liste_33', 'Voix_33', '% Voix/Ins_33', '% Voix/Exp_33',
 'N°Liste_34', 'Libellé Abrégé Liste_34', 'Libellé Etendu Liste_34', 'Nom Tête de Liste_34', 'Voix_34', '% Voix/Ins_34', '% Voix/Exp_34']

In [ ]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
pd.set_option("display.max_row",50)
pd.set_option("display.max_columns",130)

In [ ]:
"""
- nettoyage de données:  doublons, nan, géronde (*2)


"""

'\n- nettoyage de données:  doublons, nan, géronde (*2)\n\n\n'

In [ ]:
# LOUIS
data_louis_orig = pd.read_csv("C:/Users/Christian/Desktop/IRIS_BV_final/Bureau_de_votes_louis/CORRIGER/geo_bureaux_de_vote.csv", encoding="utf" )
print(data_louis_orig.shape)
bv_louis =  data_louis_orig.copy()
bv_louis["L_bv_code_init"] =  bv_louis["code"]
bv_louis = bv_louis[bv_louis["libelle"]!="Belfort"] 
bv_louis = bv_louis[bv_louis["libelle"]!="Pont-Saint-Esprit"] #
bv_louis = bv_louis[bv_louis["libelle"]!="Gradignan"]
bv_louis.loc[70041-2:70040,:]
print(bv_louis.shape)

(70042, 22)
(69985, 23)

In [ ]:
bv_louis["longitude"].isnull().sum(), bv_louis["latitude"].isnull().sum()

(9045, 9045)

In [ ]:
nom_longitude = 0
for k in range(bv_louis.shape[0]):
    try :
        float(bv_louis.iloc[k,13])
        
    except:
        nom_longitude = nom_longitude + 1
        #print(bv_louis.iloc[k,13])
        
nom_latitude = 0
for k in range(bv_louis.shape[0]):
    try :
        float(bv_louis.iloc[k,14])

    except:
        nom_latitude = nom_latitude + 1
        print(bv_louis.iloc[k,:])
print(nom_longitude,nom_latitude)

0 0

In [ ]:
bv_louis[bv_louis["longitude"]=="06-08"]

Empty DataFrame
Columns: [commune_code, libelle, code, libelle.1, num_voie, voie, complement1, complement2, lieu_dit, code_postal, commune, canton_code, circonscription_code, longitude, latitude, geo_score, geo_type, geo_adresse, geo_id, geo_ligne, geo_l4, geo_l5, L_bv_code_init]
Index: []

In [ ]:
bv_louis.head(1)

,commune_code,libelle,code,libelle.1,num_voie,voie,complement1,complement2,lieu_dit,code_postal,commune,canton_code,circonscription_code,longitude,latitude,geo_score,geo_type,geo_adresse,geo_id,geo_ligne,geo_l4,geo_l5,L_bv_code_init
0,59350,Lille,807,ECOLE AMPERE,64,RUE D'IENA,NaN,NaN,NaN,59000,LILLE,59-27,59-11,3.043027,50.621124,0.96,street,Rue d'Iena 59000 Lille,59350_4658,G,RUE D IENA,NaN,807

In [ ]:
#######################   CORRECTION DE CODE BV DANS LES DEUX BV   #######################

In [ ]:
################ CORRECTION DU BV DE LOUIS

In [ ]:
for i in range(bv_louis.shape[0]):
   
    if bv_louis.iloc[i,1]=="Montbéliard":        
        continue
    if bv_louis.iloc[i,1]=="Toulouse":
        #try:
        #    bv_louis.iloc[i,2]=str(int(bv_louis.iloc[i,2]))
        #if bv_louis.iloc[i,2].find("0")!=-1:
        #    bv_louis.iloc[i,2] = bv_louis.iloc[i,2].replace("0","")
        #else:
        #except:
        #    if  bv_louis.iloc[i,2][0] =="0":
        #        bv_louis.iloc[i,2] = bv_louis.iloc[i,2][1:]      
        continue
            
    try :
        bv_louis.iloc[i,2]=str(int(bv_louis.iloc[i,2]))
        
    except:
        if (bv_louis.iloc[i,2]=="Unique")|(bv_louis.iloc[i,2]=="unique")|(bv_louis.iloc[i,2]=="UNIQUE")|(bv_louis.iloc[i,2]=="BUR")|(bv_louis.iloc[i,2]=="M1-3")|(bv_louis.iloc[i,2]=="1LC")|(bv_louis.iloc[i,2]=="01 - 1"): 
            bv_louis.iloc[i,2]="1"
        if (bv_louis.iloc[i,2]=="BV01")|(bv_louis.iloc[i,2]=="Bureau 1")|(bv_louis.iloc[i,2]=="M1 - 3")|(bv_louis.iloc[i,2]=="M1")|(bv_louis.iloc[i,2]=="UN")|(bv_louis.iloc[i,2]=="U")|(bv_louis.iloc[i,2]=="VO"):
            bv_louis.iloc[i,2]="1"
        if (bv_louis.iloc[i,2]=="BV02")|(bv_louis.iloc[i,2]=="Bureau 2"):
            bv_louis.iloc[i,2]="2"
        if (bv_louis.iloc[i,2][0]=="A")|(bv_louis.iloc[i,2][0]=="B")|(bv_louis.iloc[i,2][0]=="C")|(bv_louis.iloc[i,2][0]=="D")|(bv_louis.iloc[i,2][0]=="E")|(bv_louis.iloc[i,2][0]=="F") :
            bv_louis.iloc[i,2] = bv_louis.iloc[i,2][1:]
        if (bv_louis.iloc[i,2][-1]=="A")|(bv_louis.iloc[i,2][-1]=="B")|(bv_louis.iloc[i,2][-1]=="C")|(bv_louis.iloc[i,2][-1]=="D")|(bv_louis.iloc[i,2][-1]=="E")|(bv_louis.iloc[i,2][-1]=="F") : 
            bv_louis.iloc[i,2] = bv_louis.iloc[i,2][:-1]
        if bv_louis.iloc[i,2][0]=="0":
            bv_louis.iloc[i,2] = bv_louis.iloc[i,2][1:]
        if bv_louis.iloc[i,2][0]=="0":
            bv_louis.iloc[i,2] = bv_louis.iloc[i,2][1:]            
        #print("zedezd 1", bv_louis.iloc[i,2])    
        if bv_louis.iloc[i,2].find("-")!=-1:
            #print("vdkjhzdb")
            if bv_louis.iloc[i,2][0]=="-":
                print(bv_louis.iloc[i,2])
            if bv_louis.iloc[i,2][1]=="-":
                bv_louis.iloc[i,2] = bv_louis.iloc[i,2][0]
            #print("yyy",bv_louis.iloc[i,2])
            
        if bv_louis.iloc[i,2].find(" ")!=-1:
            if bv_louis.iloc[i,2][1]==" ":
                bv_louis.iloc[i,2] = bv_louis.iloc[i,2][0]      
                                
        try :
            if bv_louis.iloc[i,2][2]=="-":
                bv_louis.iloc[i,2] = bv_louis.iloc[i,2].replace("-","")
        except:
             continue
                
print("phase 1 fini")

phase 1 fini

In [ ]:
# vérification 
for k in bv_louis[(bv_louis.loc[:,"libelle"]!="Montbéliard")&(bv_louis.loc[:,"libelle"]!="Toulouse")]["code"].value_counts().index:
    try:
        int(k)
    except:
        print(k,'-'*5, (bv_louis["code"]==k).sum() )

9.2 ----- 1
24.1 ----- 1
18.1 ----- 1
4.1 ----- 1
4.2 ----- 1
2.2 ----- 1
6.1 ----- 1
23.2 ----- 1
6.2 ----- 1
19.2 ----- 1
18.2 ----- 1
10.1 ----- 1
23.1 ----- 1
4.3 ----- 1
18.3 ----- 1
17.2 ----- 1
5.2 ----- 1
15.1 ----- 1
16.2 ----- 1
22.2 ----- 1
13.3 ----- 1
8.1 ----- 1
2.1 ----- 1
4.4 ----- 1
9.1 ----- 1
17.3 ----- 1
16.4 ----- 1
9.3 ----- 1
11.1 ----- 1
10.3 ----- 1
12.1 ----- 1
14.2 ----- 1
20.1 ----- 1
13.2 ----- 1
17.1 ----- 1
23.3 ----- 1
7.1 ----- 1
3.2 ----- 1
19.3 ----- 1
15.2 ----- 1
14.1 ----- 1
7.3 ----- 1
10.2 ----- 1
7.2 ----- 1
11.3 ----- 1
11.2 ----- 1
13.1 ----- 1
21.2 ----- 1
16.3 ----- 1
21.1 ----- 1
1.1 ----- 1
22.1 ----- 1
16.1 ----- 1
19.1 ----- 1
3.1 ----- 1
5.1 ----- 1
13 - 2 ----- 1

In [ ]:
# AJOUT DES VILLES
dt_temp = data_louis_orig[data_louis_orig["libelle"]=="Belfort"] 
dt_temp = pd.concat([dt_temp, data_louis_orig[data_louis_orig["libelle"]=="Pont-Saint-Esprit"]], axis=0) 
dt_temp = pd.concat([dt_temp, data_louis_orig[data_louis_orig["libelle"]=="Gradignan"]], axis=0) 

bv_louis = pd.concat([bv_louis,dt_temp], axis=0)
bv_louis.shape

(70042, 23)

In [ ]:
################ CORRECTION DU BV DE PIERRE

In [ ]:
# EUROPEEEN (AVEC LES ENTETES COMPLETS)
bv_euro_orig = pd.read_csv("C:/Users/Christian/Desktop/IRIS_BV_final/Bureau_de_votes_louis/CORRIGER/resultats-definitifs-par-bureau-de-vote_entete_complet.csv",sep=";",header=0, names=nom_colonnes, dtype=str,encoding="iso-8859-1")
bv_euro = bv_euro_orig.copy()
bv_euro = bv_euro.iloc[:,:9]
bv_euro["E_bv_code_init"] = bv_euro["Code du b.vote"]
print(bv_euro.shape)
bv_euro.iloc[:2,:]

(69297, 10)

,Code du département,Libellé du département,Code de la commune,Libellé de la commune,Code du b.vote,Inscrits,Abstentions,% Abs/Ins,Votants,E_bv_code_init
0,01,Ain,001,L'Abergement-Clémenciat,0001,601,268,44.59,333,0001
1,01,Ain,002,L'Abergement-de-Varey,0001,210,69,32.86,141,0001

In [ ]:
# CORRIGER LYON
for i in range(bv_euro.shape[0]):
    if bv_euro.iloc[i,3]=="Lyon":
        bv_euro.iloc[i,2]=str(69380+int(bv_euro.iloc[i,4][:2]))[2:]
    if bv_euro.iloc[i,3]=="Marseille":
        bv_euro.iloc[i,2]=str(13200+int(bv_euro.iloc[i,4][:2]))[2:]
    if bv_euro.iloc[i,3]=="Toulouse":
        try:
            bv_euro.iloc[i,4] = str(int(bv_euro.iloc[i,4]))
        except:
            if bv_euro.iloc[i,4][0]=="0":
                bv_euro.iloc[i,4] = bv_euro.iloc[i,4][1:]

In [ ]:
# bv à l'étranger
bv_euro[bv_euro["Libellé du département"]=="Français établis hors de France"]["Code du département"].value_counts()

ZZ    209
Name: Code du département, dtype: int64

In [ ]:
#IL FAUT EFFACER CETTE LIGNE CAR LES INFORMATIONS NE SONT PAS REPRESENTANT DANS LA BASE DE PARIS
# fichier qui va être importer après
pd.DataFrame(bv_euro.loc[51452,:]).T

,Code du département,Libellé du département,Code de la commune,Libellé de la commune,Code du b.vote,Inscrits,Abstentions,% Abs/Ins,Votants,E_bv_code_init
51452,75,Paris,056,Paris,JUS1,5184,789,15.22,4395,JUS1

In [ ]:
bv_euro = bv_euro.drop(51452,0)

In [ ]:
bv_euro

,Code du département,Libellé du département,Code de la commune,Libellé de la commune,Code du b.vote,Inscrits,Abstentions,% Abs/Ins,Votants,E_bv_code_init
0,01,Ain,001,L'Abergement-Clémenciat,0001,601,268,44.59,333,0001
1,01,Ain,002,L'Abergement-de-Varey,0001,210,69,32.86,141,0001
2,01,Ain,004,Ambérieu-en-Bugey,0001,1050,548,52.19,502,0001
3,01,Ain,004,Ambérieu-en-Bugey,0002,1106,527,47.65,579,0002
4,01,Ain,004,Ambérieu-en-Bugey,0003,1058,485,45.84,573,0003
...,...,...,...,...,...,...,...,...,...,...
69292,ZZ,Français établis hors de France,227,Yaounde,0001,1474,1156,78.43,318,0001
69293,ZZ,Français établis hors de France,228,Zagreb,0001,707,576,81.47,131,0001
69294,ZZ,Français établis hors de France,229,Zurich,0001,21276,15923,74.84,5353,0001
69295,ZZ,Français établis hors de France,231,Taipeh,0001,1384,1018,73.55,366,0001
69296,ZZ,Français établis hors de France,233,Nur Sultan,0001,101,67,66.34,34,0001

In [ ]:
#EFFACER LES BV A L'ETRANGER
liste_a_effacer=["ZD","ZA","ZB","ZN","ZP","ZZ","ZM","ZC","ZX","ZS","ZW"]
for i in liste_a_effacer:
    bv_euro = bv_euro[bv_euro["Code du département"]!=i]
bv_euro.shape

(66577, 10)

In [ ]:
69296 - 66577

2719

In [ ]:
###############       CORRECTION CODE DE LA COMMUNE DE PARIS             #####################

In [ ]:
test_code = pd.read_csv("C:/Users/Christian/Desktop/IRIS_BV_final/Bureau_de_votes_louis/CORRIGER/paris_arrond_codebv/test_code.csv",sep=",",dtype=str)
print(test_code.shape)
test_code.head(2)

(896, 50)

,id_bvote,scrutin,annee,tour,date,num_circ,num_quartie,num_arrond,num_bureau,nb_procu,nb_inscr,nb_emarg,nb_votant,nb_bl,nb_nul,nb_exprim,aubry_manon,de_prevoisi,camus_renau,marie_flori,loiseau_nat,traore_hama,philippot_f,alexandre_a,bourg_domin,vauclin_vin,lagarde_jea,glucksmann_,gernigon_yv,helgen_gill,dupont_aign,caillaud_so,delfel_ther,arthaud_nat,brossat_ian,asselineau_,hamon_benoi,tomasini_na,bardella_jo,corbet_cath,sanchez_ant,dieumegard_,chalencon_c,lalanne_fra,bellamy_fra,jadot_yanni,thouy_helen,bidou_olivi,person_chri,azergui_naj
0,1-5,EuropÃ©ennes,2019,1,2019/05/26,1,2,1,5,29,1059,626,626,1,1,624,16,0,0,4,257,0,1,0,24,0,4,62,0,0,3,0,0,1,14,2,20,1,45,0,0,0,0,0,49,113,8,0,0,0
1,3-11,EuropÃ©ennes,2019,1,2019/05/26,1,12,3,11,57,1535,937,937,6,5,926,38,0,0,4,382,0,1,1,18,0,11,69,0,0,8,0,1,5,29,3,35,0,41,0,0,0,0,1,50,216,12,1,0,0

In [ ]:
t_3=0;t_4=0;t_5=0;t_autre=0

for i in test_code["id_bvote"]:
    if len(i)==3:
        t_3=t_3+1
    elif len(i)==4:
        t_4=t_4+1  
    elif len(i)==5:
        t_5=t_5+1         
    else:
        t_autre=t_autre+1
print(t_3,t_4,t_5,t_autre)

81 184 631 0

In [ ]:
for i in range(test_code.shape[0]):
    if len(test_code.iloc[i,0])==3:
        test_code.iloc[i,0] ="0"+test_code.iloc[i,0][0:2]+"0"+test_code.iloc[i,0][2]
    if len(test_code.iloc[i,0])==4:
        if test_code.iloc[i,0][1]=="-":
            test_code.iloc[i,0] = "0"+test_code.iloc[i,0]
        else:
            test_code.iloc[i,0] = test_code.iloc[i,0][:3]+"0"+test_code.iloc[i,0][3]

t_3=0;t_4=0;t_5=0;t_autre=0
for i in test_code["id_bvote"]:
    if len(i)==3:
        t_3=t_3+1
    elif len(i)==4:
        t_4=t_4+1  
    elif len(i)==5:
        t_5=t_5+1         
    else:
        t_autre=t_autre+1
print(t_3,t_4,t_5,t_autre)

0 0 896 0

In [ ]:
for i in range(test_code.shape[0]):
    test_code.iloc[i,0]=test_code.iloc[i,0].replace("-","")
test_code

,id_bvote,scrutin,annee,tour,date,num_circ,num_quartie,num_arrond,num_bureau,nb_procu,nb_inscr,nb_emarg,nb_votant,nb_bl,nb_nul,nb_exprim,aubry_manon,de_prevoisi,camus_renau,marie_flori,loiseau_nat,traore_hama,philippot_f,alexandre_a,bourg_domin,vauclin_vin,lagarde_jea,glucksmann_,gernigon_yv,helgen_gill,dupont_aign,caillaud_so,delfel_ther,arthaud_nat,brossat_ian,asselineau_,hamon_benoi,tomasini_na,bardella_jo,corbet_cath,sanchez_ant,dieumegard_,chalencon_c,lalanne_fra,bellamy_fra,jadot_yanni,thouy_helen,bidou_olivi,person_chri,azergui_naj
0,0105,EuropÃ©ennes,2019,1,2019/05/26,1,2,1,5,29,1059,626,626,1,1,624,16,0,0,4,257,0,1,0,24,0,4,62,0,0,3,0,0,1,14,2,20,1,45,0,0,0,0,0,49,113,8,0,0,0
1,0311,EuropÃ©ennes,2019,1,2019/05/26,1,12,3,11,57,1535,937,937,6,5,926,38,0,0,4,382,0,1,1,18,0,11,69,0,0,8,0,1,5,29,3,35,0,41,0,0,0,0,1,50,216,12,1,0,0
2,0312,EuropÃ©ennes,2019,1,2019/05/26,1,9,3,12,38,1401,781,781,7,11,763,50,0,0,5,264,0,3,0,10,0,11,71,0,0,3,1,1,3,26,6,36,0,32,0,1,0,0,4,42,181,13,0,0,0
3,0407,EuropÃ©ennes,2019,1,2019/05/26,7,15,4,7,59,1321,848,848,6,3,839,20,0,0,4,319,0,3,1,21,0,15,80,0,0,13,1,0,0,27,3,19,0,52,0,0,0,0,1,83,166,10,1,0,0
4,0414,EuropÃ©ennes,2019,1,2019/05/26,7,14,4,14,41,1180,740,740,6,4,730,31,0,0,0,263,0,3,0,13,0,12,76,1,0,6,0,0,4,28,7,30,0,39,0,0,0,0,0,55,150,12,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
891,0921,EuropÃ©ennes,2019,1,2019/05/26,18,36,9,21,40,1497,912,912,6,5,901,40,0,0,5,324,0,1,0,13,0,18,83,0,0,9,0,0,2,15,10,37,3,43,0,0,1,0,0,74,210,11,2,0,0
892,1014,EuropÃ©ennes,2019,1,2019/05/26,5,40,10,14,65,1569,851,851,6,7,838,69,0,0,9,162,0,0,0,7,0,7,106,0,1,3,2,0,4,53,13,54,1,47,0,0,0,0,1,25,259,13,1,0,1
893,1022,EuropÃ©ennes,2019,1,2019/05/26,5,40,10,22,57,1364,823,823,8,3,812,50,0,0,3,219,0,1,0,5,0,4,69,1,1,10,1,0,2,34,2,57,0,52,0,0,1,0,3,38,250,8,1,0,0
894,1027,EuropÃ©ennes,2019,1,2019/05/26,5,37,10,27,36,1460,777,777,8,3,766,82,0,0,2,181,0,1,0,1,1,8,84,0,0,7,2,0,4,32,6,55,1,48,0,0,0,0,3,36,201,10,0,0,1
895,1133,EuropÃ©ennes,2019,1,2019/05/26,7,44,11,33,51,1769,1035,1035,7,6,1022,59,0,0,7,276,0,1,0,23,0,15,112,0,0,16,0,1,7,56,3,47,3,58,0,0,0,0,0,52,278,8,0,0,0

In [ ]:
test_code["id_bvote"].value_counts().shape

(896,)

In [ ]:
(test_code["num_arrond"]=="15").sum()

95

In [ ]:
pate = 0
for ii in range(bv_euro.shape[0]):
    if bv_euro.iloc[ii,0]=="75":
        for jj in range(test_code.shape[0]):
            if ((bv_euro.iloc[ii,4])==test_code.iloc[jj,0]):
                bv_euro.iloc[ii,2]=str(75100+int(test_code.iloc[jj,7]))[2:]
                pate=pate+1
print(pate)

896

In [ ]:
bv_euro[bv_euro["Code du département"]=="75"]["Code de la commune"].value_counts()

115    95
120    76
113    71
119    70
116    68
118    68
117    67
112    64
114    57
111    55
110    39
109    27
107    25
105    25
106    22
108    18
103    15
104    14
102    10
101    10
Name: Code de la commune, dtype: int64

In [ ]:
# ON PREND LES  DEUX CARACTERES DE CODE BV
for ii in range(bv_euro.shape[0]):
    if bv_euro.iloc[ii,0]=="75":
        bv_euro.iloc[ii,4]=str(int(bv_euro.iloc[ii,4][-2:]))

In [ ]:
###############    FIN   CORRECTION CODE DE LA COMMUNE DE PARIS         #####################

In [ ]:
###############       CORRECTION DE LA COLONNE Code du b.vote  #####################

In [ ]:
for i in range(bv_euro.shape[0]):
    if bv_euro.iloc[i,3]=="Montbéliard":        
        continue
    if bv_euro.iloc[i,3]=="Toulouse":
        continue
    if bv_euro.iloc[i,3]=="Hérimoncourt": 
        bv_euro.iloc[i,4] =  bv_euro.iloc[i,4][2:]
        continue
      
    try :
        bv_euro.iloc[i,4]=str(int(bv_euro.iloc[i,4]))
        
    except:

        if (bv_euro.iloc[i,4]=="BV01")|(bv_euro.iloc[i,4]=="JUS1"):
            bv_euro.iloc[i,4]="1"
        if (bv_euro.iloc[i,4]=="BV02"):
            bv_euro.iloc[i,4]="2"
        if bv_euro.iloc[i,4][0]=="0":
            bv_euro.iloc[i,4] = bv_euro.iloc[i,4][1:]
            
print("phase 1 fini")

phase 1 fini

In [ ]:
#vérification
for k in bv_euro[(bv_euro.loc[:,"Libellé de la commune"]!="Montbéliard")&(bv_euro.loc[:,"Libellé de la commune"]!="Toulouse")]["Code du b.vote"].value_counts().index:
    try:
        int(k)
    except:
        print(k, "-"*5,(bv_euro["Code du b.vote"]==k).sum()  )

18.1 ----- 1
9.2 ----- 1
24.1 ----- 1
4.1 ----- 1
4.2 ----- 1
2.2 ----- 1
23.1 ----- 1
6.1 ----- 1
23.2 ----- 1
19.2 ----- 1
6.2 ----- 1
18.2 ----- 1
10.1 ----- 1
15.1 ----- 1
4.3 ----- 1
18.3 ----- 1
17.2 ----- 1
5.2 ----- 1
22.2 ----- 1
13.3 ----- 1
4.4 ----- 1
9.1 ----- 1
11.2 ----- 1
13.1 ----- 1
21.2 ----- 1
17.3 ----- 1
8.1 ----- 1
2.1 ----- 1
16.4 ----- 1
9.3 ----- 1
11.1 ----- 1
10.3 ----- 1
12.1 ----- 1
13.2 ----- 1
16.2 ----- 1
20.1 ----- 1
14.2 ----- 1
17.1 ----- 1
23.3 ----- 1
14.1 ----- 1
15.2 ----- 1
3.2 ----- 1
19.3 ----- 1
7.3 ----- 1
19.1 ----- 1
7.1 ----- 1
16.1 ----- 1
7.2 ----- 1
10.2 ----- 1
16.3 ----- 1
21.1 ----- 1
11.3 ----- 1
1.1 ----- 1
22.1 ----- 1
3.1 ----- 1
5.1 ----- 1

In [ ]:
#########################################################################################
#                                      DOUBLONS 
#########################################################################################
"""
- Certains BV ont les mêmes coordonnées et des codes BV différents(deux salles dans un même bâtiment)


"""

'\n- Certains BV ont les mêmes coordonnées et des codes BV différents(deux salles dans un même bâtiment)\n\n\n'

In [ ]:
bv_sans_doublons= bv_louis.drop_duplicates(subset=["code","longitude","latitude"])
print(bv_sans_doublons.shape)
bv_sans_nan_doublons = bv_sans_doublons[bv_sans_doublons["longitude"].isnull()==False]
print(bv_sans_nan_doublons.shape)

(61250, 23)
(60879, 23)

In [ ]:
bv_sans_nan_doublons

,commune_code,libelle,code,libelle.1,num_voie,voie,complement1,complement2,lieu_dit,code_postal,commune,canton_code,circonscription_code,longitude,latitude,geo_score,geo_type,geo_adresse,geo_id,geo_ligne,geo_l4,geo_l5,L_bv_code_init
0,59350,Lille,807,ECOLE AMPERE,64,RUE D'IENA,NaN,NaN,NaN,59000,LILLE,59-27,59-11,3.043027,50.621124,0.96,street,Rue d'Iena 59000 Lille,59350_4658,G,RUE D IENA,NaN,807
2,97401,Les Avirons,1,MAIRIE DES AVIRONS,61,AV. DU GENERAL DE GAULLE,NaN,NaN,NaN,97425,Les Avirons,974-01,974-07,55.333200,-21.242358,0.88,housenumber,61 Avenue du Général de Gaulle 97425 Les Avirons,97401_0127_00061,G,61 AVENUE DU GENERAL DE GAULLE,NaN,001
5,50502,Saint-Lô,8,HARAS-Ecurie n°5 (BV 08),NaN,Rue de la Goubedière,HARAS-Ecurie n°5,NaN,NaN,50000,SAINT LO,50-23,50-01,-1.074428,49.117378,0.95,street,Rue de la Goubediere 50000 Saint-Lô,50502_1162,G,RUE DE LA GOUBEDIERE,NaN,008
7,97411,Saint-Denis,118,ECOLE PRIM. JEAN BAPTISTE BOSSARD (118),NaN,9 RUE LACROIX,NaN,NaN,NaN,97490,SAINTE CLOTILDE,974-09,974-01,55.483666,-20.893953,0.96,housenumber,9 Rue Lacroix 97400 Saint-Denis,BANO_974110728X_9,G,9 RUE LACROIX,NaN,118
10,56121,Lorient,11,GROUPE SCOLAIRE MERVILLE,1,AVENUE DE LA MARNE,NaN,NaN,NaN,56100,LORIENT,56-09,56-05,-3.368220,47.744513,0.96,housenumber,1 Avenue de la Marne 56100 Lorient,56121_3890_00001,G,1 AVENUE DE LA MARNE,NaN,11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
52355,33192,Gradignan,03E,SAINT GERY - Bureau E,NaN,Salle des sports SAINT GERY,NaN,NaN,NaN,33170,GRADIGNAN,33-24,33-07,-0.607612,44.779712,0.45,locality,Saint-Géry 33170 Gradignan,BANO_33192B255S,G,SAINT GERY,NaN,NaN
52450,33192,Gradignan,01C,PIERRE TOUPIAC - BUREAU C,NaN,Salle des sports TOUPIAC,NaN,NaN,NaN,33170,NaN,33-24,33-07,-0.629556,44.755283,0.35,street,Allée des Tonneliers 33170 Gradignan,BANO_331929646T,G,ALLEE DES TONNELIERS,NaN,NaN
52507,33192,Gradignan,05A,MANDAVIT - Bureau A,NaN,Théâtre des Quatre Saisons,NaN,NaN,NaN,33170,NaN,33-24,33-07,-0.608849,44.767884,0.92,poi.theatre,Théâtre des Quatre Saisons Gradignan,https://osm.org/way/227587912,G,NaN,NaN,NaN
52511,33192,Gradignan,01E,PIERRE TOUPIAC - BUREAU E,NaN,Salle des sports TOUPIAC,NaN,NaN,NaN,33170,GRADIGNAN,33-24,33-07,-0.629556,44.755283,0.35,street,Allée des Tonneliers 33170 Gradignan,BANO_331929646T,G,ALLEE DES TONNELIERS,NaN,NaN
54044,33192,Gradignan,05B,MANDAVIT - Bureau B,NaN,Théâtre des Quatre Saisons,NaN,NaN,NaN,33170,NaN,33-24,33-07,-0.608849,44.767884,0.92,poi.theatre,Théâtre des Quatre Saisons Gradignan,https://osm.org/way/227587912,G,NaN,NaN,NaN

In [ ]:
# BV FRANCE METROPOLITAINE UNIQUEMENT
data_sans_nan_doublons_sup_97501 = bv_sans_nan_doublons.copy()
temp_sup_97501 = 0
temp_lettre = 0
for k in bv_sans_nan_doublons["commune_code"].value_counts().index:
    try:
        temp_k = int(k)
        if (temp_k >= 97000):
            temp_sup_97501 = temp_sup_97501 + 1
            print(temp_k)
            data_sans_nan_doublons_sup_97501 = data_sans_nan_doublons_sup_97501[data_sans_nan_doublons_sup_97501["commune_code"]!=k]
            
    except:
        temp_lettre = temp_lettre +1
        #print(k)

97411
97415
97416
97422
97209
97414
97412
97101
97409
97410
97418
97413
97407
97408
97420
97611
97213
97128
97117
97103
97107
97118
97113
97120
97302
97116
97222
97228
97404
97115
97125
97405
97307
97210
97224
97401
97304
97309
97604
97230
97132
97105
97207
97220
97229
97227
97603
97614
97311
97221
97610
97212
97602
97124
97608
97605
97612
97617
97223
97421
97119
97601
97102
97616
97423
97607
97114
97121
97424
97305
97104
97217
97417
97403
97106
97214
97111
97615
97226
97609
97112
97406
97122
97225
97606
97109
97216
97204
97206
97218
97205
97134
97613
97126
97202
97203
97306
97234
97360
97310
97110
97133
97108
97219
97131
97130
97232
97308
97301
97201
97129
97231
97313
97356
97312
97419
97362
97402
97357
97208
97211
97314
97215
97233
97352
97358
97361

In [ ]:
data_sans_nan_doublons_sup_97501

,commune_code,libelle,code,libelle.1,num_voie,voie,complement1,complement2,lieu_dit,code_postal,commune,canton_code,circonscription_code,longitude,latitude,geo_score,geo_type,geo_adresse,geo_id,geo_ligne,geo_l4,geo_l5,L_bv_code_init
0,59350,Lille,807,ECOLE AMPERE,64,RUE D'IENA,NaN,NaN,NaN,59000,LILLE,59-27,59-11,3.043027,50.621124,0.96,street,Rue d'Iena 59000 Lille,59350_4658,G,RUE D IENA,NaN,807
5,50502,Saint-Lô,8,HARAS-Ecurie n°5 (BV 08),NaN,Rue de la Goubedière,HARAS-Ecurie n°5,NaN,NaN,50000,SAINT LO,50-23,50-01,-1.074428,49.117378,0.95,street,Rue de la Goubediere 50000 Saint-Lô,50502_1162,G,RUE DE LA GOUBEDIERE,NaN,008
10,56121,Lorient,11,GROUPE SCOLAIRE MERVILLE,1,AVENUE DE LA MARNE,NaN,NaN,NaN,56100,LORIENT,56-09,56-05,-3.368220,47.744513,0.96,housenumber,1 Avenue de la Marne 56100 Lorient,56121_3890_00001,G,1 AVENUE DE LA MARNE,NaN,11
11,76558,Saint-Aubin-Celloville,1,Bureau 1,NaN,Mairie de SAINT-AUBIN-CELLOVILLE,NaN,NaN,NaN,76520,SAINT-AUBIN-CELLOVILLE,76-06,76-02,1.156093,49.365456,0.92,street,Place de la Mairie 76520 Saint-Aubin-Celloville,76558_0035,G,PLACE DE LA MAIRIE,NaN,1
12,70407,Perrouse,1,BUREAU UNIQUE,NaN,Mairie de PERROUSE,NaN,NaN,NaN,70190,PERROUSE,70-12,70-01,6.050185,47.361279,0.90,street,Rue de la Mairie 70190 Perrouse,70407_0045,G,RUE DE LA MAIRIE,NaN,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
52355,33192,Gradignan,03E,SAINT GERY - Bureau E,NaN,Salle des sports SAINT GERY,NaN,NaN,NaN,33170,GRADIGNAN,33-24,33-07,-0.607612,44.779712,0.45,locality,Saint-Géry 33170 Gradignan,BANO_33192B255S,G,SAINT GERY,NaN,NaN
52450,33192,Gradignan,01C,PIERRE TOUPIAC - BUREAU C,NaN,Salle des sports TOUPIAC,NaN,NaN,NaN,33170,NaN,33-24,33-07,-0.629556,44.755283,0.35,street,Allée des Tonneliers 33170 Gradignan,BANO_331929646T,G,ALLEE DES TONNELIERS,NaN,NaN
52507,33192,Gradignan,05A,MANDAVIT - Bureau A,NaN,Théâtre des Quatre Saisons,NaN,NaN,NaN,33170,NaN,33-24,33-07,-0.608849,44.767884,0.92,poi.theatre,Théâtre des Quatre Saisons Gradignan,https://osm.org/way/227587912,G,NaN,NaN,NaN
52511,33192,Gradignan,01E,PIERRE TOUPIAC - BUREAU E,NaN,Salle des sports TOUPIAC,NaN,NaN,NaN,33170,GRADIGNAN,33-24,33-07,-0.629556,44.755283,0.35,street,Allée des Tonneliers 33170 Gradignan,BANO_331929646T,G,ALLEE DES TONNELIERS,NaN,NaN
54044,33192,Gradignan,05B,MANDAVIT - Bureau B,NaN,Théâtre des Quatre Saisons,NaN,NaN,NaN,33170,NaN,33-24,33-07,-0.608849,44.767884,0.92,poi.theatre,Théâtre des Quatre Saisons Gradignan,https://osm.org/way/227587912,G,NaN,NaN,NaN

In [ ]:
# vérification
data_sans_nan_doublons_sup_97501["geo_score"].isnull().sum()

0

In [ ]:
# CORRECTION D'UNE LIGNE
data_sans_nan_doublons_sup_97501[data_sans_nan_doublons_sup_97501["libelle.1"]=="ANCIENNE CURE"]

,commune_code,libelle,code,libelle.1,num_voie,voie,complement1,complement2,lieu_dit,code_postal,commune,canton_code,circonscription_code,longitude,latitude,geo_score,geo_type,geo_adresse,geo_id,geo_ligne,geo_l4,geo_l5,L_bv_code_init
45674,85151,Mortagne-sur-Sèvre,4,ANCIENNE CURE,NaN,1 rue du Centre,Evrunes,NaN,NaN,85290,MORTAGNE SUR SEVRE,85-11,85-04,-0.971915,47.000255,0.95,housenumber,1 Rue du Centre 85290 Mortagne-sur-Sèvre,85151_0150_00001,G,1 RUE DU CENTRE,NaN,0004
65725,42154,Néronde,1,ANCIENNE CURE,42510,NERONDE,NaN,NaN,NaN,42510,NÉRONDE,42-04,42-06,2.127469,22.927179,0.93,municipality,Néronde,42154,G,NERONDE,NaN,1

In [ ]:
data_sans_nan_doublons_sup_97501.loc[65725,"longitude"] = 4.236545
data_sans_nan_doublons_sup_97501.loc[65725,"latitude"] = 45.838744

In [ ]:
#vérification
data_sans_nan_doublons_sup_97501[data_sans_nan_doublons_sup_97501["libelle.1"]=="ANCIENNE CURE"]

,commune_code,libelle,code,libelle.1,num_voie,voie,complement1,complement2,lieu_dit,code_postal,commune,canton_code,circonscription_code,longitude,latitude,geo_score,geo_type,geo_adresse,geo_id,geo_ligne,geo_l4,geo_l5,L_bv_code_init
45674,85151,Mortagne-sur-Sèvre,4,ANCIENNE CURE,NaN,1 rue du Centre,Evrunes,NaN,NaN,85290,MORTAGNE SUR SEVRE,85-11,85-04,-0.971915,47.000255,0.95,housenumber,1 Rue du Centre 85290 Mortagne-sur-Sèvre,85151_0150_00001,G,1 RUE DU CENTRE,NaN,0004
65725,42154,Néronde,1,ANCIENNE CURE,42510,NERONDE,NaN,NaN,NaN,42510,NÉRONDE,42-04,42-06,4.236545,45.838744,0.93,municipality,Néronde,42154,G,NERONDE,NaN,1

In [ ]:
###################    AJOUT D'UNE COLONNE       ########################
###### TRAITEMENT POUR OBTENIR UN IDENTIFIANT UNIQUE 
# CREATION DE CHR_CODE POUR FAIRE LA JOINTURE AVEC LE FICHIER BV (EUROPEENS)

In [ ]:
data_sans_nan_doublons_sup_97501["CHR_CODE"]=data_sans_nan_doublons_sup_97501["commune_code"]+data_sans_nan_doublons_sup_97501["code"]

In [ ]:
data_sans_nan_doublons_sup_97501["CHR_CODE"].value_counts().shape,data_sans_nan_doublons_sup_97501.shape

((58993,), (59021, 24))

In [ ]:
data_sans_nan_doublons_sup_97501.drop_duplicates(subset=["code", "longitude", "latitude"]).shape

(59021, 24)

In [ ]:
data_sans_nan_doublons_sup_97501.drop_duplicates(subset=["commune_code", "code"]).shape

(58993, 24)

In [ ]:
data_sans_nan_doublons_sup_97501.drop_duplicates().shape

(59021, 24)

In [ ]:
data_sans_nan_doublons_sup_97501["CHR_CODE"].value_counts()[data_sans_nan_doublons_sup_97501["CHR_CODE"].value_counts()>1]

210141     2
230371     2
422242     2
472581     2
1300213    2
331371     2
335111     2
111221     2
330701     2
112071     2
223201     2
770582     2
513391     2
852481     2
605571     2
516241     2
774511     2
570641     2
283351     2
1300217    2
770583     2
191741     2
523581     2
594142     2
572521     2
594143     2
273251     2
770584     2
Name: CHR_CODE, dtype: int64

In [ ]:
# POUR MIEUX VISUALISER LES CAS : 
#data_sans_nan_doublons_sup_97501[data_sans_nan_doublons_sup_97501["CHR_CODE"]=="770582"]
#bv_euro[bv_euro["CHR_CODE"]=="770582"]
#data_louis_orig[data_louis_orig["libelle"]=="Bussy-Saint-Georges"]

In [ ]:
# ON VA RENDRE CHR_CODE UNIQUE (POUR FAIRE LA JOINTURE APRES)
data_sans_nan_doublons_sup_97501 = data_sans_nan_doublons_sup_97501.drop_duplicates(subset=["commune_code", "code"])
data_sans_nan_doublons_sup_97501 = data_sans_nan_doublons_sup_97501.drop(["CHR_CODE"], axis=1)
data_sans_nan_doublons_sup_97501["CHR_CODE"]=data_sans_nan_doublons_sup_97501["commune_code"]+data_sans_nan_doublons_sup_97501["code"]
data_sans_nan_doublons_sup_97501["CHR_CODE"].value_counts().shape, data_sans_nan_doublons_sup_97501.shape

((58993,), (58993, 24))

In [ ]:
# BROUILLON
#resultats_electoraux = pd.read_csv("C:/Users/Christian/Desktop/IRIS_BV_final/Jointure_geo_v2/DATA_IRIS_BV/RESULTATS_ELECTORAUX/EUR2019_BV_6_PARTIS.csv", sep=";", dtype=str, encoding="iso-8859-1")

In [ ]:
#########################################################################################
#                                      DOUBLONS 
#########################################################################################

In [ ]:
# dimensions
bv_euro.shape, data_sans_nan_doublons_sup_97501.shape, data_louis_orig.shape

((66577, 10), (58993, 24), (70042, 22))

In [ ]:
bv_euro.drop_duplicates().shape # pas de doublons

(66577, 10)

In [ ]:
# différence de BV
(69297-60689)/69297*100

12.4218941656926

In [ ]:
###################    AJOUT DE DEUX COLONNES        ########################
bv_euro["commune_code"]=bv_euro["Code du département"]+bv_euro["Code de la commune"] 
bv_euro["CHR_CODE"]= bv_euro["commune_code"]+bv_euro["Code du b.vote"]

In [ ]:
# IDENTIFIANT UNIQUE (PAS DE DOUBLONS)
bv_euro["CHR_CODE"].value_counts().shape, bv_euro.shape

((66577,), (66577, 12))

In [ ]:
bv_euro

,Code du département,Libellé du département,Code de la commune,Libellé de la commune,Code du b.vote,Inscrits,Abstentions,% Abs/Ins,Votants,E_bv_code_init,commune_code,CHR_CODE
0,01,Ain,001,L'Abergement-Clémenciat,1,601,268,44.59,333,0001,01001,010011
1,01,Ain,002,L'Abergement-de-Varey,1,210,69,32.86,141,0001,01002,010021
2,01,Ain,004,Ambérieu-en-Bugey,1,1050,548,52.19,502,0001,01004,010041
3,01,Ain,004,Ambérieu-en-Bugey,2,1106,527,47.65,579,0002,01004,010042
4,01,Ain,004,Ambérieu-en-Bugey,3,1058,485,45.84,573,0003,01004,010043
...,...,...,...,...,...,...,...,...,...,...,...,...
66573,95,Val-d'Oise,680,Villiers-le-Bel,11,1244,820,65.92,424,0011,95680,9568011
66574,95,Val-d'Oise,680,Villiers-le-Bel,12,843,513,60.85,330,0012,95680,9568012
66575,95,Val-d'Oise,680,Villiers-le-Bel,13,726,539,74.24,187,0013,95680,9568013
66576,95,Val-d'Oise,682,Villiers-le-Sec,1,109,46,42.2,63,0001,95682,956821
66577,95,Val-d'Oise,690,Wy-dit-Joli-Village,1,295,121,41.02,174,0001,95690,956901

In [ ]:
################################################################
# TESTE JOINTURE
################################################################

In [ ]:
jointure_deux_bases_bv = pd.merge(data_sans_nan_doublons_sup_97501,bv_euro)
jointure_deux_bases_bv.head(3)

,commune_code,libelle,code,libelle.1,num_voie,voie,complement1,complement2,lieu_dit,code_postal,commune,canton_code,circonscription_code,longitude,latitude,geo_score,geo_type,geo_adresse,geo_id,geo_ligne,geo_l4,geo_l5,L_bv_code_init,CHR_CODE,Code du département,Libellé du département,Code de la commune,Libellé de la commune,Code du b.vote,Inscrits,Abstentions,% Abs/Ins,Votants,E_bv_code_init
0,59350,Lille,807,ECOLE AMPERE,64,RUE D'IENA,NaN,NaN,NaN,59000,LILLE,59-27,59-11,3.043027,50.621124,0.96,street,Rue d'Iena 59000 Lille,59350_4658,G,RUE D IENA,NaN,807,59350807,59,Nord,350,Lille,807,1476,956,64.77,520,0807
1,50502,Saint-Lô,8,HARAS-Ecurie n°5 (BV 08),NaN,Rue de la Goubedière,HARAS-Ecurie n°5,NaN,NaN,50000,SAINT LO,50-23,50-01,-1.074428,49.117378,0.95,street,Rue de la Goubediere 50000 Saint-Lô,50502_1162,G,RUE DE LA GOUBEDIERE,NaN,008,505028,50,Manche,502,Saint-Lô,8,815,470,57.67,345,0008
2,56121,Lorient,11,GROUPE SCOLAIRE MERVILLE,1,AVENUE DE LA MARNE,NaN,NaN,NaN,56100,LORIENT,56-09,56-05,-3.368220,47.744513,0.96,housenumber,1 Avenue de la Marne 56100 Lorient,56121_3890_00001,G,1 AVENUE DE LA MARNE,NaN,11,5612111,56,Morbihan,121,Lorient,11,868,374,43.09,494,0011

In [ ]:
# les dimensions de trois bases de données
print(data_sans_nan_doublons_sup_97501.shape)
print(bv_euro.shape)
print(jointure_deux_bases_bv.shape)

(58993, 24)
(66577, 12)
(57940, 34)

In [ ]:
# identifiant unique dans les trois BD 
# (on peut ajouter une colonne en plus pour la jointure après et ça ne changera rien)
print(data_sans_nan_doublons_sup_97501["CHR_CODE"].value_counts().shape)
print(bv_euro["CHR_CODE"].value_counts().shape)
print(jointure_deux_bases_bv["CHR_CODE"].value_counts().shape)

(58993,)
(66577,)
(57940,)

In [ ]:
# par rapport à l'avant derrière version (les BV de Paris dont présents)
56911 - 56015

896

In [ ]:
jointure_deux_bases_bv[jointure_deux_bases_bv["commune_code"]=="75115"].shape

(95, 34)

In [ ]:
bv_euro[bv_euro["commune_code"]=="75115"].shape

(95, 12)

In [ ]:
print(bv_euro["Code du département"].value_counts().shape)
pd.DataFrame(bv_euro["Code du département"].value_counts()).T

(96,)

,59,62,33,13,76,31,69,57,77,44,38,92,78,67,80,02,06,60,54,14,83,34,21,75,91,64,35,51,29,27,94,93,95,17,25,71,50,63,30,24,68,49,42,56,45,88,22,74,70,72,85,26,01,89,55,11,39,52,65,61,28,08,37,10,16,32,84,40,81,79,66,73,03,86,47,12,18,07,41,46,19,09,58,87,53,36,43,2B,15,82,23,04,2A,05,48,90
Code du département,1991,1637,1373,1366,1337,1312,1291,1278,1094,1091,1055,1015,990,983,983,979,975,934,932,926,913,913,906,896,883,876,874,839,828,816,815,811,802,775,765,758,744,739,713,690,684,675,672,671,662,658,654,621,615,608,603,593,584,584,584,579,578,567,566,563,562,560,558,532,529,509,500,492,489,485,475,470,454,451,449,448,437,436,392,388,384,382,378,374,354,328,324,322,295,293,281,259,217,205,197,149

In [ ]:
print(jointure_deux_bases_bv["Code du département"].value_counts().shape)
pd.DataFrame(jointure_deux_bases_bv["Code du département"].value_counts()).T

(96,)

,59,62,13,69,31,57,33,44,76,92,80,06,77,38,78,67,75,60,02,34,83,91,35,54,21,94,95,14,93,29,27,63,25,50,49,17,51,68,42,22,56,45,64,74,88,85,72,30,01,71,24,89,26,37,70,39,16,61,79,11,03,55,52,81,86,28,73,40,84,12,66,18,08,65,47,41,10,07,53,87,46,58,32,36,19,43,82,23,09,04,2B,15,05,48,2A,90
Code du département,1857,1465,1290,1207,1202,1199,1185,1053,1019,998,966,943,933,926,926,897,896,866,848,848,848,833,817,809,805,799,787,778,773,769,724,677,676,669,657,649,646,641,636,615,614,612,596,593,590,577,563,549,539,513,512,504,501,494,492,490,484,471,454,450,441,428,422,421,421,415,410,408,390,388,371,369,366,351,349,349,340,332,331,326,313,309,299,295,292,279,250,241,235,190,183,177,158,134,118,109

In [ ]:
tama1 = bv_euro["Code du département"].value_counts().index
tama2 = jointure_deux_bases_bv["Code du département"].value_counts().index

for i in tama1:
    k = 0
    for j in tama2:
        if i==j:    
            break
        else:
             k=k+1
    if k==len(tama2):
        print(i)
print("NORMALEMENT RIEN NE DOIT S'AFFICHER")

NORMALEMENT RIEN NE DOIT S'AFFICHER

In [ ]:
################################ table_non_recon ###############################

In [ ]:
bv_euro.merge(jointure_deux_bases_bv,on="CHR_CODE", how="left").head(1)

,Code du département_x,Libellé du département_x,Code de la commune_x,Libellé de la commune_x,Code du b.vote_x,Inscrits_x,Abstentions_x,% Abs/Ins_x,Votants_x,E_bv_code_init_x,commune_code_x,CHR_CODE,commune_code_y,libelle,code,libelle.1,num_voie,voie,complement1,complement2,lieu_dit,code_postal,commune,canton_code,circonscription_code,longitude,latitude,geo_score,geo_type,geo_adresse,geo_id,geo_ligne,geo_l4,geo_l5,L_bv_code_init,Code du département_y,Libellé du département_y,Code de la commune_y,Libellé de la commune_y,Code du b.vote_y,Inscrits_y,Abstentions_y,% Abs/Ins_y,Votants_y,E_bv_code_init_y
0,01,Ain,001,L'Abergement-Clémenciat,1,601,268,44.59,333,0001,01001,010011,01001,L'Abergement-Clémenciat,1,Bureau 1,NaN,MAIRIE,NaN,NaN,NaN,01400,ABERGEMENT CLEMENCIAT,01-08,01-04,4.920902,46.150784,0.91,poi.townhall,(Hôtel de ville) L'Abergement-Clémenciat,https://osm.org/node/5544075506,G,NaN,NaN,1,01,Ain,001,L'Abergement-Clémenciat,1,601,268,44.59,333,0001

In [ ]:
bv_euro.shape, jointure_deux_bases_bv.shape

((66577, 12), (57940, 34))

In [ ]:
table_non_recon = bv_euro.merge(jointure_deux_bases_bv,on="CHR_CODE", how="left")[bv_euro.merge(jointure_deux_bases_bv,on="CHR_CODE", how="left")["commune_code_y"].isnull()][["commune_code_x","Libellé de la commune_x","Inscrits_x"] ] 
table_non_recon

      commune_code_x Libellé de la commune_x Inscrits_x
23             01015         Arboys en Bugey        116
77             01045                 Birieux        200
116            01067                 Ceignes        208
156            01102                Chevroux        660
162            01108                 Coligny        865
...              ...                     ...        ...
66315          95447        Neuilly-en-Vexin        138
66351          95489                  Piscop        503
66359          95492       Le Plessis-Gassot         41
66388          95509       Puiseux-en-France        339
66514          95607                 Taverny        744

[8637 rows x 3 columns]

In [ ]:
table_non_recon["id"] = table_non_recon["commune_code_x"]+table_non_recon["Libellé de la commune_x"]
table_non_recon["Inscrits_x"] = table_non_recon["Inscrits_x"].astype(int)
table_non_recon["id"].value_counts()

76351Le Havre                    112
30189Nîmes                        84
84007Avignon                      70
17300La Rochelle                  40
33281Mérignac                     36
                                ...
40125Heugas                        1
62298Epinoy                        1
09096Château-Verdun                1
55350Montigny-lès-Vaucouleurs      1
64188Chéraute                      1
Name: id, Length: 6614, dtype: int64

In [ ]:
table_non_recon["commune_code_x"].value_counts()

76351    112
30189     84
84007     70
17300     40
33281     36
        ...
04028      1
65402      1
17316      1
17365      1
55060      1
Name: commune_code_x, Length: 6614, dtype: int64

In [ ]:
table_inscrit = table_non_recon.groupby(['commune_code_x',"Libellé de la commune_x"]).sum().sort_values(by=['Inscrits_x'], ascending=False)
table_inscrit

                                        Inscrits_x
commune_code_x Libellé de la commune_x
76351          Le Havre                     103885
30189          Nîmes                         87478
84007          Avignon                       55029
17300          La Rochelle                   35932
33281          Mérignac                      32583
...                                            ...
65379          Ris                              12
52109          Charmes-en-l'Angle               11
55394          Ornes                            11
26274          Rochefourchat                     8
54310          Leménil-Mitry                     5

[6614 rows x 1 columns]

In [ ]:
table_inscrit.iloc[:10,0] #["Inscrits_x"].astype(int).sum()

commune_code_x  Libellé de la commune_x
76351           Le Havre                   103885
30189           Nîmes                       87478
84007           Avignon                     55029
17300           La Rochelle                 35932
33281           Mérignac                    32583
10387           Troyes                      29292
30007           Alès                        26484
90010           Belfort                     24758
76217           Dieppe                      21196
71270           Mâcon                       19947
Name: Inscrits_x, dtype: int32

In [ ]:

table_code_commune_x = pd.DataFrame(table_non_recon['commune_code_x'].value_counts())
#table_code_commune_x
table_code_commune_x.rename(columns={'commune_code_x':"Nb_non_reconcilies"}, inplace=True)
ttt= pd.DataFrame(table_code_commune_x.index,columns=["commune_code_x"], index = range(table_code_commune_x.shape[0]))
#ttt

table_code_commune_x.index =range(table_code_commune_x.shape[0])
#table_code_commune_x
deux_col=pd.concat([ttt,table_code_commune_x], axis=1)
#deux_col
table_inscrit_nb_non_recon = table_inscrit.merge(deux_col, on="commune_code_x")
table_inscrit_nb_non_recon

     commune_code_x  Inscrits_x  Nb_non_reconcilies
0             76351      103885                 112
1             30189       87478                  84
2             84007       55029                  70
3             17300       35932                  40
4             33281       32583                  36
...             ...         ...                 ...
6609          65379          12                   1
6610          52109          11                   1
6611          55394          11                   1
6612          26274           8                   1
6613          54310           5                   1

[6614 rows x 3 columns]

In [ ]:
talbe_final_non_recon =table_inscrit_nb_non_recon.merge(table_non_recon, on="commune_code_x", how="left").drop_duplicates(subset="commune_code_x").iloc[:,:-2]
talbe_final_non_recon =talbe_final_non_recon[["commune_code_x","Libellé de la commune_x","Inscrits_x_x","Nb_non_reconcilies"]]
talbe_final_non_recon

     commune_code_x Libellé de la commune_x  Inscrits_x_x  Nb_non_reconcilies
0             76351                Le Havre        103885                 112
112           30189                   Nîmes         87478                  84
196           84007                 Avignon         55029                  70
266           17300             La Rochelle         35932                  40
306           33281                Mérignac         32583                  36
...             ...                     ...           ...                 ...
8632          65379                     Ris            12                   1
8633          52109      Charmes-en-l'Angle            11                   1
8634          55394                   Ornes            11                   1
8635          26274           Rochefourchat             8                   1
8636          54310           Leménil-Mitry             5                   1

[6614 rows x 4 columns]

In [ ]:
talbe_final_non_recon["Inscrits_x_x"].sum()

4066084

In [ ]:
bv_euro["Inscrits"].astype(int).sum()

44225431

In [ ]:
jointure_deux_bases_bv["Inscrits"].astype(int).sum()

40159347

In [ ]:
(44225431-40159347)/44225431

0.09193995192494563

In [ ]:
###################################     ENREGISTREMENT      ###################################
###########################################################################################
# OUVERTURE SOUS ACCESS : AFIN DE GARDER TOUS LES NOMS DE COLONNES SANS EN PERDRE
# IL VAUT MIEUX ENREGISTRER LES BD DANS UN FICHIER TEXTE AVEC UN SEPARATEUR ;

data_sans_nan_doublons_sup_97501= data_sans_nan_doublons_sup_97501.drop(["CHR_CODE"],axis=1)
bv_euro= bv_euro.drop(["CHR_CODE"],axis=1)
jointure_deux_bases_bv =jointure_deux_bases_bv.drop(["CHR_CODE"],axis=1)

data_sans_nan_doublons_sup_97501.to_csv("C:/Users/Christian/Desktop/IRIS_BV_final/Bureau_de_votes_louis/CORRIGER/BV_louis_clean_pv_FM.txt",sep=";", index=False)

bv_euro.to_csv("C:/Users/Christian/Desktop/IRIS_BV_final/Bureau_de_votes_louis/CORRIGER/BV_euro_clean_pv_FM.txt",sep=";", index=False)

jointure_deux_bases_bv.to_csv("C:/Users/Christian/Desktop/IRIS_BV_final/Bureau_de_votes_louis/CORRIGER/2_BV_jointure_pv_FM.txt",sep=";", index=False)

talbe_final_non_recon.to_csv("C:/Users/Christian/Desktop/IRIS_BV_final/Bureau_de_votes_louis/CORRIGER/FM_commune_bv_non_reconciliees.txt",sep=";", index=False)

In [ ]:
#########################################################################################
#                                     BROUILLON
#########################################################################################

In [ ]:
#########################################################################################
#           SI L'ON VOUDRAIT COMPLETER LES ADRESSES MANQUANTES (POUR LES MAIRIES)
#########################################################################################

In [ ]:

print(bv_louis["longitude"].isnull().sum())
print((bv_louis[bv_louis["longitude"].isnull()]["libelle.1"]=="MAIRIE").sum())
print((bv_louis[bv_louis["longitude"].isnull()]["libelle.1"]=="Mairie").sum())
print((bv_louis[bv_louis["longitude"].isnull()]["libelle.1"]=="mairie").sum())
print((bv_louis[bv_louis["longitude"].isnull()]["libelle.1"]=="M A I R I E").sum())
# il manque des mairies (ex: maries de ...)

9053
2135
711
11
123

In [ ]:
test=bv_louis.drop_duplicates(subset=["code","longitude","latitude"])

In [ ]:
print(test["longitude"].isnull().sum())
print((test[test["longitude"].isnull()]["libelle.1"]=="MAIRIE").sum())
print((test[test["longitude"].isnull()]["libelle.1"]=="Mairie").sum())
print((test[test["longitude"].isnull()]["libelle.1"]=="mairie").sum())
print((test[test["longitude"].isnull()]["libelle.1"]=="M A I R I E").sum())

535
300
7
1
0

In [ ]:
test = bv_euro[bv_euro["Libellé de la commune"]=="Lyon"].copy()
test["code"] = test["Code du b.vote"]
test

,Code du département,Libellé du département,Code de la commune,Libellé de la commune,Code du b.vote,Inscrits,Abstentions,% Abs/Ins,Votants,E_bv_code_init,commune_code,CHR_CODE,code
47424,69,Rhône,69381,Lyon,101,664,251,37.8,413,0101,6969381,6969381101,101
47425,69,Rhône,69381,Lyon,102,753,319,42.36,434,0102,6969381,6969381102,102
47426,69,Rhône,69381,Lyon,103,1166,449,38.51,717,0103,6969381,6969381103,103
47427,69,Rhône,69381,Lyon,104,1161,476,41,685,0104,6969381,6969381104,104
47428,69,Rhône,69381,Lyon,105,1026,337,32.85,689,0105,6969381,6969381105,105
...,...,...,...,...,...,...,...,...,...,...,...,...,...
47713,69,Rhône,69389,Lyon,926,654,302,46.18,352,0926,6969389,6969389926,926
47714,69,Rhône,69389,Lyon,927,883,374,42.36,509,0927,6969389,6969389927,927
47715,69,Rhône,69389,Lyon,928,740,293,39.59,447,0928,6969389,6969389928,928
47716,69,Rhône,69389,Lyon,929,806,334,41.44,472,0929,6969389,6969389929,929
47717,69,Rhône,69389,Lyon,930,1080,615,56.94,465,0930,6969389,6969389930,930

In [ ]:
test[test["Code de la commune"]=="69386"]

,Code du département,Libellé du département,Code de la commune,Libellé de la commune,Code du b.vote,Inscrits,Abstentions,% Abs/Ins,Votants,E_bv_code_init,commune_code,CHR_CODE,code
47574,69,Rhône,69386,Lyon,601,723,334,46.2,389,0601,6969386,6969386601,601
47575,69,Rhône,69386,Lyon,602,916,412,44.98,504,0602,6969386,6969386602,602
47576,69,Rhône,69386,Lyon,603,955,308,32.25,647,0603,6969386,6969386603,603
47577,69,Rhône,69386,Lyon,604,733,309,42.16,424,0604,6969386,6969386604,604
47578,69,Rhône,69386,Lyon,605,828,313,37.8,515,0605,6969386,6969386605,605
47579,69,Rhône,69386,Lyon,606,975,432,44.31,543,0606,6969386,6969386606,606
47580,69,Rhône,69386,Lyon,607,660,253,38.33,407,0607,6969386,6969386607,607
47581,69,Rhône,69386,Lyon,608,462,177,38.31,285,0608,6969386,6969386608,608
47582,69,Rhône,69386,Lyon,609,914,352,38.51,562,0609,6969386,6969386609,609
47583,69,Rhône,69386,Lyon,610,1100,425,38.64,675,0610,6969386,6969386610,610
47584,69,Rhône,69386,Lyon,611,874,318,36.38,556,0611,6969386,6969386611,611
47585,69,Rhône,69386,Lyon,612,1038,551,53.08,487,0612,6969386,6969386612,612
47586,69,Rhône,69386,Lyon,613,1009,337,33.4,672,0613,6969386,6969386613,613
47587,69,Rhône,69386,Lyon,614,839,327,38.97,512,0614,6969386,6969386614,614
47588,69,Rhône,69386,Lyon,615,1062,391,36.82,671,0615,6969386,6969386615,615
47589,69,Rhône,69386,Lyon,616,838,318,37.95,520,0616,6969386,6969386616,616
47590,69,Rhône,69386,Lyon,617,953,353,37.04,600,0617,6969386,6969386617,617
47591,69,Rhône,69386,Lyon,618,794,276,34.76,518,0618,6969386,6969386618,618
47592,69,Rhône,69386,Lyon,619,925,340,36.76,585,0619,6969386,6969386619,619
47593,69,Rhône,69386,Lyon,620,985,370,37.56,615,0620,6969386,6969386620,620
47594,69,Rhône,69386,Lyon,621,921,305,33.12,616,0621,6969386,6969386621,621
47595,69,Rhône,69386,Lyon,622,1073,357,33.27,716,0622,6969386,6969386622,622
47596,69,Rhône,69386,Lyon,623,809,306,37.82,503,0623,6969386,6969386623,623
47597,69,Rhône,69386,Lyon,624,1129,429,38,700,0624,6969386,6969386624,624
47598,69,Rhône,69386,Lyon,625,849,339,39.93,510,0625,6969386,6969386625,625
47599,69,Rhône,69386,Lyon,626,790,308,38.99,482,0626,6969386,6969386626,626
47600,69,Rhône,69386,Lyon,627,1134,417,36.77,717,0627,6969386,6969386627,627
47601,69,Rhône,69386,Lyon,628,808,310,38.37,498,0628,6969386,6969386628,628
47602,69,Rhône,69386,Lyon,629,851,321,37.72,530,0629,6969386,6969386629,629
47603,69,Rhône,69386,Lyon,630,1035,339,32.75,696,0630,6969386,6969386630,630
47604,69,Rhône,69386,Lyon,631,1049,396,37.75,653,0631,6969386,6969386631,631
47605,69,Rhône,69386,Lyon,632,981,339,34.56,642,0632,6969386,6969386632,632
47606,69,Rhône,69386,Lyon,633,834,317,38.01,517,0633,6969386,6969386633,633
47607,69,Rhône,69386,Lyon,634,1006,408,40.56,598,0634,6969386,6969386634,634

In [ ]:
bv_louis[bv_louis["commune"]=="LYON"]

,commune_code,libelle,code,libelle.1,num_voie,voie,complement1,complement2,lieu_dit,code_postal,commune,canton_code,circonscription_code,longitude,latitude,geo_score,geo_type,geo_adresse,geo_id,geo_ligne,geo_l4,geo_l5,L_bv_code_init
143,69386,Lyon 6e Arrondissement,611,ECOLE ANTOINE REMOND,58,rue Bellecombe,NaN,NaN,NaN,69006,LYON,69-88,69-04,4.863391,45.765824,0.96,housenumber,58 Rue Bellecombe 69006 Lyon,69386_0795_00058,G,58 RUE BELLECOMBE,NaN,611
1793,69384,Lyon 4e Arrondissement,409,ECOLE DU GROS CAILLOU,169,BOULEVARD DE LA CROIX ROUSSE,NaN,NaN,NaN,69004,LYON,69-86,69-02,4.834678,45.774925,0.95,housenumber,169 Boulevard de la Croix-rousse 69004 Lyon,69384_2005_00169,G,169 BOULEVARD DE LA CROIX ROUSSE,NaN,409
2005,69383,Lyon 3e Arrondissement,301,MAIRIE DU 3ÈME,215,rue Duguesclin,NaN,NaN,NaN,69003,LYON,69-88,69-03,4.849019,45.760292,0.96,housenumber,215 Rue Duguesclin 69003 Lyon,69383_2365_00215,G,215 RUE DUGUESCLIN,NaN,301
8423,69383,Lyon 3e Arrondissement,328,ECOLE PRIMAIRE MEYNIS,8,rue Meynis,NaN,NaN,NaN,69003,LYON,69-87,69-04,4.870713,45.755402,0.96,housenumber,8 Rue Meynis 69003 Lyon,69383_4755_00008,G,8 RUE MEYNIS,NaN,328
8759,69382,Lyon 2e Arrondissement,216,SALLE LAMARTINE,7,RUE DE SAVOIE,NaN,NaN,NaN,69002,LYON,69-86,69-02,4.832067,45.760234,0.95,housenumber,7 Rue de Savoie 69002 Lyon,69382_6695_00007,G,7 RUE DE SAVOIE,NaN,216
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
69794,69383,Lyon 3e Arrondissement,348,ECOLE ÉLÉMENTAIRE G. POMPIDOU,16,rue des Petites Soeurs,NaN,NaN,NaN,69003,LYON,69-87,69-04,4.867493,45.759845,0.96,housenumber,16 Rue des Petites Soeurs 69003 Lyon,69383_5395_00016,G,16 RUE DES PETITES SOEURS,NaN,348
69795,69383,Lyon 3e Arrondissement,353,ESPACE ELSA TRIOLET,53,rue Charles Richard,NaN,NaN,NaN,69003,LYON,69-87,69-04,4.888349,45.749608,0.96,housenumber,53 Rue Charles Richard 69003 Lyon,69383_1525_00053,G,53 RUE CHARLES RICHARD,NaN,353
69824,69383,Lyon 3e Arrondissement,349,ECOLE AIMÉ CESAIRE,10,rue du Diapason,NaN,NaN,NaN,69003,LYON,69-88,69-03,4.857293,45.751797,0.96,housenumber,10 Rue du Diapason 69003 Lyon,69383_2170_00010,G,10 RUE DU DIAPASON,NaN,349
69825,69383,Lyon 3e Arrondissement,345,GROUPE SCOLAIRE NOVE JOSSERAND,7,passage Roger Bréchan,NaN,NaN,NaN,69003,LYON,69-87,69-04,4.866938,45.750883,0.96,housenumber,7 Passage Roger Bréchan 69003 Lyon,69383_6088_00007,G,7 PASSAGE ROGER BRECHAN,NaN,345
69826,69383,Lyon 3e Arrondissement,343,GROUPE SCOLAIRE NOVÉ JOSSERAND,4,passage Roger Bréchan,NaN,NaN,NaN,69003,LYON,69-87,69-04,4.866877,45.751081,0.96,housenumber,4 Passage Roger Bréchan 69003 Lyon,69383_6088_00004,G,4 PASSAGE ROGER BRECHAN,NaN,343

In [ ]:
bv_euro[bv_euro["Libellé de la commune"]=="Marseille"]["Inscrits"].astype(int).sum()

498570

In [ ]:
test2 =test[test["Libellé de la commune"]=="Marseille"].merge(bv_louis[bv_louis["commune"]=="MARSEILLE"], on ="code", how="left")

In [ ]:
test2[test2["L_bv_code_init"].isnull()]

,Code du département,Libellé du département,Code de la commune,Libellé de la commune,Code du b.vote,Inscrits,Abstentions,% Abs/Ins,Votants,E_bv_code_init,commune_code_x,CHR_CODE,code,commune_code_y,libelle,libelle.1,num_voie,voie,complement1,complement2,lieu_dit,code_postal,commune,canton_code,circonscription_code,longitude,latitude,geo_score,geo_type,geo_adresse,geo_id,geo_ligne,geo_l4,geo_l5,L_bv_code_init
125,13,Bouches-du-Rhône,13206,Marseille,673,642,288,44.86,354,0673,1313206,1313206673,673,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
159,13,Bouches-du-Rhône,13208,Marseille,806,1091,561,51.42,530,0806,1313208,1313208806,806,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
bv_euro

,Code du département,Libellé du département,Code de la commune,Libellé de la commune,Code du b.vote,Inscrits,Abstentions,% Abs/Ins,Votants,E_bv_code_init,commune_code,CHR_CODE
0,01,Ain,001,L'Abergement-Clémenciat,1,601,268,44.59,333,0001,01001,010011
1,01,Ain,002,L'Abergement-de-Varey,1,210,69,32.86,141,0001,01002,010021
2,01,Ain,004,Ambérieu-en-Bugey,1,1050,548,52.19,502,0001,01004,010041
3,01,Ain,004,Ambérieu-en-Bugey,2,1106,527,47.65,579,0002,01004,010042
4,01,Ain,004,Ambérieu-en-Bugey,3,1058,485,45.84,573,0003,01004,010043
...,...,...,...,...,...,...,...,...,...,...,...,...
66573,95,Val-d'Oise,680,Villiers-le-Bel,11,1244,820,65.92,424,0011,95680,9568011
66574,95,Val-d'Oise,680,Villiers-le-Bel,12,843,513,60.85,330,0012,95680,9568012
66575,95,Val-d'Oise,680,Villiers-le-Bel,13,726,539,74.24,187,0013,95680,9568013
66576,95,Val-d'Oise,682,Villiers-le-Sec,1,109,46,42.2,63,0001,95682,956821
66577,95,Val-d'Oise,690,Wy-dit-Joli-Village,1,295,121,41.02,174,0001,95690,956901

In [ ]:
bv_euro[bv_euro["Libellé de la commune"]=="Le Havre"]

,Code du département,Libellé du département,Code de la commune,Libellé de la commune,Code du b.vote,Inscrits,Abstentions,% Abs/Ins,Votants,E_bv_code_init,commune_code,CHR_CODE
52891,76,Seine-Maritime,351,Le Havre,1,1194,572,47.91,622,0001,76351,763511
52892,76,Seine-Maritime,351,Le Havre,2,1070,455,42.52,615,0002,76351,763512
52893,76,Seine-Maritime,351,Le Havre,3,930,559,60.11,371,0003,76351,763513
52894,76,Seine-Maritime,351,Le Havre,4,868,483,55.65,385,0004,76351,763514
52895,76,Seine-Maritime,351,Le Havre,5,862,573,66.47,289,0005,76351,763515
...,...,...,...,...,...,...,...,...,...,...,...,...
52998,76,Seine-Maritime,351,Le Havre,108,931,433,46.51,498,0108,76351,76351108
52999,76,Seine-Maritime,351,Le Havre,109,928,432,46.55,496,0109,76351,76351109
53000,76,Seine-Maritime,351,Le Havre,110,934,412,44.11,522,0110,76351,76351110
53001,76,Seine-Maritime,351,Le Havre,111,986,455,46.15,531,0111,76351,76351111
53002,76,Seine-Maritime,351,Le Havre,112,969,571,58.93,398,0112,76351,76351112

In [ ]:
data_sans_nan_doublons_sup_97501[data_sans_nan_doublons_sup_97501["libelle"]=="Le Havre"]

,commune_code,libelle,code,libelle.1,num_voie,voie,complement1,complement2,lieu_dit,code_postal,commune,canton_code,circonscription_code,longitude,latitude,geo_score,geo_type,geo_adresse,geo_id,geo_ligne,geo_l4,geo_l5,L_bv_code_init,CHR_CODE
57,76351,Le Havre,1910,ECOLE ELEMENTAIRE EDOUARD HERRIOT,111,BD FRANCOIS 1ER,NaN,NaN,NaN,NaN,NaN,76-19,76-07,0.101452,49.489241,0.86,housenumber,111 Boulevard François 1er 76600 Le Havre,76351_3145_00111,G,111 BOULEVARD FRANCOIS 1ER,NaN,1910,763511910
111,76351,Le Havre,1406,SALLE DES FETES DE BLEVILLE,17,RUE PIERRE FARCIS,NaN,NaN,NaN,NaN,NaN,76-14,76-07,0.097614,49.517497,0.96,housenumber,17 Rue Pierre Farcis 76620 Le Havre,76351_6375_00017,G,17 RUE PIERRE FARCIS,NaN,1406,763511406
664,76351,Le Havre,1409,SALLE DES FETES DE BLEVILLE,17,RUE PIERRE FARCIS,NaN,NaN,NaN,NaN,NaN,76-14,76-07,0.097614,49.517497,0.96,housenumber,17 Rue Pierre Farcis 76620 Le Havre,76351_6375_00017,G,17 RUE PIERRE FARCIS,NaN,1409,763511409
1495,76351,Le Havre,1405,ECOLE ELEMENTAIRE THEOPHILE GAUTIER,18,RUE DE METZ,NaN,NaN,NaN,NaN,NaN,76-14,76-07,0.089169,49.515751,0.96,housenumber,18 Rue de Metz 76620 Le Havre,76351_5640_00018,G,18 RUE DE METZ,NaN,1405,763511405
1810,76351,Le Havre,1607,ECOLE ELEMENTAIRE GEORGE SAND,140,RUE DE LA VALLEE,NaN,NaN,NaN,NaN,NaN,76-16,76-08,0.157358,49.495710,0.96,housenumber,140 Rue de la Vallée 76600 Le Havre,76351_7775_00140,G,140 RUE DE LA VALLEE,NaN,1607,763511607
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48818,76351,Le Havre,1919,SALLE DES FETES DE SANVIC,1,RUE JEAN BORDA,NaN,NaN,NaN,NaN,NaN,76-19,76-07,0.107741,49.507706,0.90,housenumber,1 Rue Jean de Borda 76620 Le Havre,76351_4275_00001,G,1 RUE JEAN DE BORDA,NaN,1919,763511919
48824,76351,Le Havre,1815,ECOLE ELEMENTAIRE REPUBLIQUE,12,RUE KLEBER,NaN,NaN,NaN,NaN,NaN,76-18,76-07,0.128502,49.499363,0.96,housenumber,12 Rue Kléber 76600 Le Havre,76351_4645_00012,G,12 RUE KLEBER,NaN,1815,763511815
48831,76351,Le Havre,1711,ECOLE PREELEMENTAIRE FERDINAND BUISSON,67/69,RUE DE SOQUENCE,NaN,NaN,NaN,NaN,NaN,76-17,76-08,0.175072,49.501789,0.96,street,Rue de Soquence 76600 Le Havre,76351_7402,G,RUE DE SOQUENCE,NaN,1711,763511711
48834,76351,Le Havre,1816,ECOLE ELEMENTAIRE LOUIS BLANC,4,RUE LOUIS BLANC,NaN,NaN,NaN,NaN,NaN,76-18,76-07,0.123336,49.507105,0.96,housenumber,4 Rue Louis Blanc 76600 Le Havre,76351_5140_00004,G,4 RUE LOUIS BLANC,NaN,1816,763511816
48835,76351,Le Havre,1817,ECOLE ELEMENTAIRE LOUIS BLANC,4,RUE LOUIS BLANC,NaN,NaN,NaN,NaN,NaN,76-18,76-07,0.123336,49.507105,0.96,housenumber,4 Rue Louis Blanc 76600 Le Havre,76351_5140_00004,G,4 RUE LOUIS BLANC,NaN,1817,763511817

In [ ]:
40159347-39862311

297036

In [ ]:
jointure_deux_bases_bv

,commune_code,libelle,code,libelle.1,num_voie,voie,complement1,complement2,lieu_dit,code_postal,commune,canton_code,circonscription_code,longitude,latitude,geo_score,geo_type,geo_adresse,geo_id,geo_ligne,geo_l4,geo_l5,L_bv_code_init,CHR_CODE,Code du département,Libellé du département,Code de la commune,Libellé de la commune,Code du b.vote,Inscrits,Abstentions,% Abs/Ins,Votants,E_bv_code_init
0,59350,Lille,807,ECOLE AMPERE,64,RUE D'IENA,NaN,NaN,NaN,59000,LILLE,59-27,59-11,3.043027,50.621124,0.96,street,Rue d'Iena 59000 Lille,59350_4658,G,RUE D IENA,NaN,807,59350807,59,Nord,350,Lille,807,1476,956,64.77,520,0807
1,50502,Saint-Lô,8,HARAS-Ecurie n°5 (BV 08),NaN,Rue de la Goubedière,HARAS-Ecurie n°5,NaN,NaN,50000,SAINT LO,50-23,50-01,-1.074428,49.117378,0.95,street,Rue de la Goubediere 50000 Saint-Lô,50502_1162,G,RUE DE LA GOUBEDIERE,NaN,008,505028,50,Manche,502,Saint-Lô,8,815,470,57.67,345,0008
2,56121,Lorient,11,GROUPE SCOLAIRE MERVILLE,1,AVENUE DE LA MARNE,NaN,NaN,NaN,56100,LORIENT,56-09,56-05,-3.368220,47.744513,0.96,housenumber,1 Avenue de la Marne 56100 Lorient,56121_3890_00001,G,1 AVENUE DE LA MARNE,NaN,11,5612111,56,Morbihan,121,Lorient,11,868,374,43.09,494,0011
3,76558,Saint-Aubin-Celloville,1,Bureau 1,NaN,Mairie de SAINT-AUBIN-CELLOVILLE,NaN,NaN,NaN,76520,SAINT-AUBIN-CELLOVILLE,76-06,76-02,1.156093,49.365456,0.92,street,Place de la Mairie 76520 Saint-Aubin-Celloville,76558_0035,G,PLACE DE LA MAIRIE,NaN,1,765581,76,Seine-Maritime,558,Saint-Aubin-Celloville,1,808,326,40.35,482,0001
4,70407,Perrouse,1,BUREAU UNIQUE,NaN,Mairie de PERROUSE,NaN,NaN,NaN,70190,PERROUSE,70-12,70-01,6.050185,47.361279,0.90,street,Rue de la Mairie 70190 Perrouse,70407_0045,G,RUE DE LA MAIRIE,NaN,1,704071,70,Haute-Saône,407,Perrouse,1,208,81,38.94,127,0001
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
57935,77412,Saint-Germain-sur-École,1,MAIRIE,NaN,Chemin des Portes,77930 SAINT GERMAIN SUR ECOLE,NaN,NaN,77930,SAINT-GERMAIN-SUR-ÉCOLE,77-07,77-01,2.509938,48.474254,0.93,street,Chemin des Portes 77930 Saint-Germain-sur-École,77412_0240,G,CHEMIN DES PORTES,NaN,1,774121,77,Seine-et-Marne,412,Saint-Germain-sur-Ecole,1,295,144,48.81,151,0001
57936,67307,Mulhausen,1,Bureau de vote 01,2,rue de la Mairie,NaN,NaN,NaN,67350,MULHAUSEN,67-08,67-07,7.551771,48.882282,0.94,housenumber,2 Rue de la Mairie 67350 Mulhausen,67307_0023_00002,G,2 RUE DE LA MAIRIE,NaN,01,673071,67,Bas-Rhin,307,Mulhausen,1,353,113,32.01,240,0001
57937,02810,Villers-Cotterêts,7,SALLE GERARD PHILIPE 1,NaN,Rue d'Artagnan,NaN,NaN,NaN,02600,VILLERS-COTTERETS,02-21,02-05,3.097397,49.260343,0.95,street,Rue d'Artagnan 02600 Villers-Cotterêts,02810_0051,G,RUE D ARTAGNAN,NaN,007,028107,02,Aisne,810,Villers-Cotterêts,7,791,501,63.34,290,0007
57938,25040,Badevel,1,Mairie,16,Grande Rue,25490 BADEVEL,NaN,NaN,25490,BADEVEL,25-01,25-04,6.939282,47.500913,0.94,housenumber,16 Grande Rue 25490 Badevel,25040_0113_00016,G,16 GRANDE RUE,NaN,1,250401,25,Doubs,040,Badevel,1,551,256,46.46,295,0001
57939,14563,Saint-Benoît-d'Hébertot,1,SAINT BENOIT D'HEBERTOT,185,route de l'Eglise,Mairie,NaN,NaN,14130,SAINT BENOIT D'HEBERTOT,14-21,14-04,0.270550,49.316366,0.62,street,Chemin de l'Eglise 14130 Saint-Benoît-d'Hébertot,14563_396noi,G,CHEMIN DE L EGLISE,NaN,001,145631,14,Calvados,563,Saint-Benoît-d'Hébertot,1,309,147,47.57,162,0001