In [ ]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
pd.set_option("display.max_row",50)
pd.set_option("display.max_columns",130)

In [ ]:
# LOUIS
data_louis_orig = pd.read_csv("C:/Users/Christian/Desktop/IRIS_BV_final/Bureau_de_votes_louis/CORRIGER_VERSION_2/Geo_bureaux_de_vote_access.txt",sep=";", header=0, dtype=str)
data_louis = data_louis_orig.copy()
print(data_louis.shape)
data_louis.iloc[70045:70045+1,:]

(70048, 25)

,commune_code,libelle,code,code_corr,Code du bvote,Code du bvote_sans 0 devant,libelle_bv,num_voie,voie,complement1,complement2,lieu_dit,code_postal,commune,canton_code,circonscription_code,longitude,latitude,geo_score,geo_type,geo_adresse,geo_id,geo_ligne,geo_l4,geo_l5
70045,14563,Saint-Benoît-d'Hébertot,001,NaN,0001,1,SAINT BENOIT D'HEBERTOT,185,route de l'Eglise,Mairie,NaN,NaN,14130,SAINT BENOIT D'HEBERTOT,14-21,14-04,0.27055,49.316366,0.62,street,Chemin de l'Eglise 14130 Saint-Benoît-d'Hébertot,14563_396noi,G,CHEMIN DE L EGLISE,NaN

In [ ]:
data_louis["longitude"].isnull().sum(), data_louis["latitude"].isnull().sum()

(9010, 9050)

In [ ]:
nom_longitude = 0
index_total = data_louis.index
index_int = []
index_autre= []

for k in index_total:
    try :
        float(data_louis.loc[k,"longitude"])
        index_int.append(k)
    except:
        nom_longitude = nom_longitude + 1
        index_autre.append(k)

In [ ]:
print(data_louis.loc[index_int,:].shape, data_louis.loc[index_autre,:].shape)
base_int = data_louis.loc[index_int,:]
base_autre = data_louis.loc[index_autre,:]

(67353, 25) (2695, 25)

In [ ]:
base_autre["longitude"] = base_autre["latitude"].copy()
base_autre["latitude"] = base_autre["geo_score"].copy()

data_louis = pd.concat([base_int,base_autre],axis=0)
data_louis.shape

(70048, 25)

In [ ]:
base_autre[base_autre["longitude"].isnull()].shape

(42, 25)

In [ ]:
(base_int[base_int["longitude"].isnull()]["geo_score"]!="0").sum()

9

In [ ]:
base_int[base_int["longitude"].isnull()][base_int[base_int["longitude"].isnull()]["geo_score"] !="0"]

,commune_code,libelle,code,code_corr,Code du bvote,Code du bvote_sans 0 devant,libelle_bv,num_voie,voie,complement1,complement2,lieu_dit,code_postal,commune,canton_code,circonscription_code,longitude,latitude,geo_score,geo_type,geo_adresse,geo_id,geo_ligne,geo_l4,geo_l5
5551,31079,Bouloc,2,NaN,0002,2,Bureau 02,NaN,"""Mairie",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7309,70174,Cordonnet,1,NaN,0001,1,Bureau unique n° 1,NaN,"""Mairie Le Cordonnet",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7310,"Mairie""",NaN,NaN,NaN,NaN,NaN,NaN,70190,LE CORDONNET,70-12,70-01,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31844,63209,Mareugheol,001,NaN,0001,1,Bureau de Vote Unique,NaN,"""Rue du Lavoir",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36387,67480,Still,01,NaN,0001,1,Bureau de vote 01,"""36","Grand Rue""","""36","Grand Rue""","""36","Grand Rue""",NaN,NaN,67190,NaN,67-11,67-06,7.409506,48.547182,0.7,street,Grand-rue 67190 Still,67480_0280
37203,98734,Papara,01,NaN,0001,1,BUREAU 1,001,TIAMAO 01,"""PK 29",000 à 32,"000""",NaN,NaN,98712,PAPARA,NaN,987-02,NaN,NaN,0,NaN,NaN,NaN,NaN
38578,57446,Marimont-lès-Bénestroff,1,NaN,0001,1,Bureau,NaN,"""Mairie",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
46192,76123,Bosc-Guérard-Saint-Adrien,1,NaN,0001,1,Bureau 1,NaN,route de Tendos,"""Mairie",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
52584,74211,Pers-Jussy,1,NaN,0001,1,Groupe scolaire Emile Rosset,185,"""",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
[base_int[base_int["longitude"].isnull()]["geo_score"]!="0"]

(9010, 25)

In [ ]:
nom_longitude = 0
for k in range(base_autre.shape[0]):
    try :
        float(base_autre.iloc[k,13])
        
    except:
        nom_longitude = nom_longitude + 1
        #print(bv_louis.iloc[k,13])
        
nom_latitude = 0
for k in range(base_autre.shape[0]):
    try :
        float(base_autre.iloc[k,14])

    except:
        nom_latitude = nom_latitude + 1
        
print(nom_longitude,nom_latitude)

4 2364

In [ ]:
""" 
nom_longitude = 0
index_total = data_louis.index

base_1 = pd.DataFrame(columns = data_louis.columns)
base_2 = pd.DataFrame(columns = data_louis.columns)

for k in range(data_louis.shape[0]):
    try :
        float(data_louis.iloc[k,16])
        base_1 = pd.concat([base_1, pd.DataFrame(data_louis.iloc[k,:]).T], axis = 0)
    except:
        nom_longitude = nom_longitude + 1
        base_2 = pd.concat([base_2, pd.DataFrame(data_louis.iloc[k,:]).T], axis = 0)
"""

' \nnom_longitude = 0\nindex_total = data_louis.index\n\nbase_1 = pd.DataFrame(columns = data_louis.columns)\nbase_2 = pd.DataFrame(columns = data_louis.columns)\n\nfor k in range(data_louis.shape[0]):\n    try :\n        float(data_louis.iloc[k,16])\n        base_1 = pd.concat([base_1, pd.DataFrame(data_louis.iloc[k,:]).T], axis = 0)\n    except:\n        nom_longitude = nom_longitude + 1\n        base_2 = pd.concat([base_2, pd.DataFrame(data_louis.iloc[k,:]).T], axis = 0)\n'

In [ ]:
nom_latitude = 0
index_lati = []
for k in range(data_louis.shape[0]):
    try :
        float(data_louis.iloc[k,17])
       
    except:
        nom_latitude = nom_latitude + 1

In [ ]:
nom_longitude,nom_latitude

(4, 14)

In [ ]:
#########################################################################################
#                               DOUBLONS ET NAN COORDONEEES
#########################################################################################
#louis_sans_doublons= data_louis
louis_sans_doublons= data_louis.drop_duplicates(subset=["code","longitude","latitude"])
print(louis_sans_doublons.shape)
louis_sans_doublons = louis_sans_doublons[louis_sans_doublons["latitude"].isnull()==False]
print(louis_sans_doublons.shape)

(61527, 25)
(60991, 25)

In [ ]:
###################### CODES EN FRANCE METROPOLITAINE ##################

louis_sans_nan_doublons_sup_97501 = louis_sans_doublons.copy()
temp_sup_97501 = 0
temp_lettre = 0
for k in louis_sans_doublons["commune_code"].value_counts().index:
    try:
        temp_k = int(k)
        if (temp_k >= 97000):
            temp_sup_97501 = temp_sup_97501 + 1
            print(temp_k)
            louis_sans_nan_doublons_sup_97501 = louis_sans_nan_doublons_sup_97501[louis_sans_nan_doublons_sup_97501["commune_code"]!=k]
            
    except:
        temp_lettre = temp_lettre +1
        #print(k)

97411
97415
97416
97422
97209
97414
97412
97101
97409
97410
97413
97418
97407
97408
97420
97611
97213
97107
97103
97128
97117
97118
97113
97120
97302
97116
97228
97222
97115
97404
97125
97307
97405
97210
97224
97401
97105
97604
97230
97309
97304
97132
97207
97229
97220
97124
97610
97227
97311
97602
97212
97603
97221
97614
97119
97223
97617
97421
97612
97605
97601
97608
97102
97424
97121
97423
97305
97607
97616
97114
97417
97104
97106
97403
97214
97217
97122
97406
97109
97111
97609
97615
97225
97226
97606
97112
97218
97216
97205
97204
97206
97203
97202
97126
97613
97134
97306
97310
97110
97234
97360
97130
97232
97308
97133
97362
97219
97312
97313
97301
97131
97129
97419
97231
97108
97356
97201
97361
97215
97208
98734
97358
97211
97357
97352
97314
97402
97233

In [ ]:

louis_sans_nan_doublons_sup_97501.loc[36387,"longitude"] =louis_sans_nan_doublons_sup_97501.loc[36387,"geo_type"]
louis_sans_nan_doublons_sup_97501.loc[36387,"latitude"] = louis_sans_nan_doublons_sup_97501.loc[36387,"geo_adresse"]

In [ ]:
louis_sans_nan_doublons_sup_97501["CHR_CODE"] = louis_sans_nan_doublons_sup_97501["commune_code"]+louis_sans_nan_doublons_sup_97501["Code du bvote_sans 0 devant"]
louis_sans_nan_doublons_sup_97501.head(1)

,commune_code,libelle,code,code_corr,Code du bvote,Code du bvote_sans 0 devant,libelle_bv,num_voie,voie,complement1,complement2,lieu_dit,code_postal,commune,canton_code,circonscription_code,longitude,latitude,geo_score,geo_type,geo_adresse,geo_id,geo_ligne,geo_l4,geo_l5,CHR_CODE
0,59350,Lille,807,NaN,0807,807,ECOLE AMPERE,64,RUE D'IENA,NaN,NaN,NaN,59000,LILLE,59-27,59-11,3.043027,50.621124,0.96,street,Rue d'Iena 59000 Lille,59350_4658,G,RUE D IENA,NaN,59350807

In [ ]:
# SANS DOUBLONS "CHR_CODE"
louis_sans_nan_doublons_sup_97501 = louis_sans_nan_doublons_sup_97501.drop_duplicates(subset=["CHR_CODE"])
louis_sans_nan_doublons_sup_97501.shape

(59092, 26)

In [ ]:
70048-69959

89

In [ ]:
# vérification 1
print(louis_sans_nan_doublons_sup_97501["geo_score"].isnull().sum())
louis_sans_nan_doublons_sup_97501[louis_sans_nan_doublons_sup_97501["geo_score"].isnull()]

0

Empty DataFrame
Columns: [commune_code, libelle, code, code_corr, Code du bvote, Code du bvote_sans 0 devant, libelle_bv, num_voie, voie, complement1, complement2, lieu_dit, code_postal, commune, canton_code, circonscription_code, longitude, latitude, geo_score, geo_type, geo_adresse, geo_id, geo_ligne, geo_l4, geo_l5, CHR_CODE]
Index: []

In [ ]:
# index
louis_sans_nan_doublons_sup_97501[louis_sans_nan_doublons_sup_97501["geo_score"].isnull()]
index_elim=louis_sans_nan_doublons_sup_97501[louis_sans_nan_doublons_sup_97501["geo_score"].isnull()].index

In [ ]:
# effacer
for i in index_elim:
    louis_sans_nan_doublons_sup_97501 =  louis_sans_nan_doublons_sup_97501.drop(i,0)

In [ ]:
# vérification 2
louis_sans_nan_doublons_sup_97501["geo_score"].isnull().sum()

0

In [ ]:
# CORRECTION D'UNE LIGNE
louis_sans_nan_doublons_sup_97501[louis_sans_nan_doublons_sup_97501["libelle_bv"]=="ANCIENNE CURE"]

,commune_code,libelle,code,code_corr,Code du bvote,Code du bvote_sans 0 devant,libelle_bv,num_voie,voie,complement1,complement2,lieu_dit,code_postal,commune,canton_code,circonscription_code,longitude,latitude,geo_score,geo_type,geo_adresse,geo_id,geo_ligne,geo_l4,geo_l5,CHR_CODE
45678,85151,Mortagne-sur-Sèvre,0004,NaN,0004,4,ANCIENNE CURE,NaN,1 rue du Centre,Evrunes,NaN,NaN,85290,MORTAGNE SUR SEVRE,85-11,85-04,-0.971915,47.000255,0.95,housenumber,1 Rue du Centre 85290 Mortagne-sur-Sèvre,85151_0150_00001,G,1 RUE DU CENTRE,NaN,851514
65731,42154,Néronde,1,NaN,0001,1,ANCIENNE CURE,42510,NERONDE,NaN,NaN,NaN,42510,NÉRONDE,42-04,42-06,2.127469,22.927179,0.93,municipality,Néronde,42154,G,NERONDE,NaN,421541

In [ ]:
louis_sans_nan_doublons_sup_97501.loc[65731,"longitude"] = 4.236545
louis_sans_nan_doublons_sup_97501.loc[65731,"latitude"] = 45.838744

In [ ]:
# VERIFICATION
louis_sans_nan_doublons_sup_97501[louis_sans_nan_doublons_sup_97501["libelle_bv"]=="ANCIENNE CURE"]

,commune_code,libelle,code,code_corr,Code du bvote,Code du bvote_sans 0 devant,libelle_bv,num_voie,voie,complement1,complement2,lieu_dit,code_postal,commune,canton_code,circonscription_code,longitude,latitude,geo_score,geo_type,geo_adresse,geo_id,geo_ligne,geo_l4,geo_l5,CHR_CODE
45678,85151,Mortagne-sur-Sèvre,0004,NaN,0004,4,ANCIENNE CURE,NaN,1 rue du Centre,Evrunes,NaN,NaN,85290,MORTAGNE SUR SEVRE,85-11,85-04,-0.971915,47.000255,0.95,housenumber,1 Rue du Centre 85290 Mortagne-sur-Sèvre,85151_0150_00001,G,1 RUE DU CENTRE,NaN,851514
65731,42154,Néronde,1,NaN,0001,1,ANCIENNE CURE,42510,NERONDE,NaN,NaN,NaN,42510,NÉRONDE,42-04,42-06,4.236545,45.838744,0.93,municipality,Néronde,42154,G,NERONDE,NaN,421541

In [ ]:
# PIERRE
bv_euro_brut = pd.read_csv("C:/Users/Christian/Desktop/IRIS_BV_final/Bureau_de_votes_louis/CORRIGER_VERSION_2/Resultats-definitifs-par-bureau-de-vote_access.txt",sep=";",header=0, dtype=str,encoding="iso-8859-1")
bv_euro =bv_euro_brut.copy()
print(bv_euro.shape )
bv_euro.head(1)

(69297, 226)

,Code_INSEE,Code_commune,Code du département,Libellé du département,Code de la commune,Libellé de la commune,Code du bvote,Code du bvote_sans 0 devant,Inscrits,Abstentions,% Abs/Ins,Votants,% Vot/Ins,Blancs,% Blancs/Ins,% Blancs/Vot,Nuls,% Nuls/Ins,% Nuls/Vot,Exprimés,% Exp/Ins,% Exp/Vot,N°Liste_1,Libellé Abrégé Liste_1,Nom Tête de Liste_1,Voix_1,% Voix/Ins_1,% Voix/Exp_1,N°Liste_2,Libellé Abrégé Liste_2,Nom Tête de Liste_2,Voix_2,% Voix/Ins_2,% Voix/Exp_2,N°Liste_3,Libellé Abrégé Liste_3,Nom Tête de Liste_3,Voix_3,% Voix/Ins_3,% Voix/Exp_3,N°Liste_4,Libellé Abrégé Liste_4,Nom Tête de Liste_4,Voix_4,% Voix/Ins_4,% Voix/Exp_4,N°Liste_5,Libellé Abrégé Liste_5,Nom Tête de Liste_5,Voix_5,% Voix/Ins_5,% Voix/Exp_5,N°Liste_6,Libellé Abrégé Liste_6,Nom Tête de Liste_6,Voix_6,% Voix/Ins_6,% Voix/Exp_6,N°Liste_7,Libellé Abrégé Liste_7,Nom Tête de Liste_7,Voix_7,% Voix/Ins_7,% Voix/Exp_7,N°Liste_8,...,Libellé Abrégé Liste_24,Nom Tête de Liste_24,Voix_24,% Voix/Ins_24,% Voix/Exp_24,N°Liste_25,Libellé Abrégé Liste_25,Nom Tête de Liste_25,Voix_25,% Voix/Ins_25,% Voix/Exp_25,N°Liste_26,Libellé Abrégé Liste_26,Nom Tête de Liste_26,Voix_26,% Voix/Ins_26,% Voix/Exp_26,N°Liste_27,Libellé Abrégé Liste_27,Nom Tête de Liste_27,Voix_27,% Voix/Ins_27,% Voix/Exp_27,N°Liste_28,Libellé Abrégé Liste_28,Nom Tête de Liste_28,Voix_28,% Voix/Ins_28,% Voix/Exp_28,N°Liste_29,Libellé Abrégé Liste_29,Nom Tête de Liste_29,Voix_29,% Voix/Ins_29,% Voix/Exp_29,N°Liste_30,Libellé Abrégé Liste_30,Nom Tête de Liste_30,Voix_30,% Voix/Ins_30,% Voix/Exp_30,N°Liste_31,Libellé Abrégé Liste_31,Nom Tête de Liste_31,Voix_31,% Voix/Ins_31,% Voix/Exp_31,N°Liste_32,Libellé Abrégé Liste_32,Nom Tête de Liste_32,Voix_32,% Voix/Ins_32,% Voix/Exp_32,N°Liste_33,Libellé Abrégé Liste_33,Nom Tête de Liste_33,Voix_33,% Voix/Ins_33,% Voix/Exp_33,N°Liste_34,Libellé Abrégé Liste_34,Nom Tête de Liste_34,Voix_34,% Voix/Ins_34,% Voix/Exp_34
0,01004,01004,01,Ain,004,Ambérieu-en-Bugey,0008,8,978,476,"48,67",502,"51,33",16,"1,64","3,19",6,"0,61","1,20",480,"49,08","95,62",1,LA FRANCE INSOUMISE,AUBRY Manon,35,"3,58","7,29",2,UNE FRANCE ROYALE,DE PREVOISIN Robert,0,0,0,3,LA LIGNE CLAIRE,CAMUS Renaud,0,0,0,4,PARTI PIRATE,MARIE Florie,0,"0,00","0,00",5,RENAISSANCE,LOISEAU Nathalie,96,"9,82","20,00",6,DÉMOCRATIE REPRÉSENTATIVE,TRAORÉ Hamada,0,0,0,7,ENSEMBLE PATRIOTES,PHILIPPOT Florian,3,"0,31","0,63",8,...,NEUTRE ET ACTIF,CORBET Cathy Denise Ginette,0,0,0,25,RÉVOLUTIONNAIRE,SANCHEZ Antonio,0,0,0,26,ESPERANTO,DIEUMEGARD Pierre,0,"0,00","0,00",27,ÉVOLUTION CITOYENNE,CHALENÇON Christophe,0,0,0,28,ALLIANCE JAUNE,LALANNE Francis,3,"0,31","0,63",29,UNION DROITE-CENTRE,BELLAMY François-Xavier,50,"5,11","10,42",30,EUROPE ÉCOLOGIE,JADOT Yannick,66,"6,75","13,75",31,PARTI ANIMALISTE,THOUY Hélène,7,"0,72","1,46",32,LES OUBLIES DE L'EUROPE,BIDOU Olivier,2,"0,20","0,42",33,UDLEF,PERSON Christian Luc,0,0,0,34,EUROPE AU SERVICE PEUPLES,AZERGUI Nagib,1,"0,10","0,21"

In [ ]:
# EFFACER LES BV A L'ETRANGER
liste_a_effacer=["ZD","ZA","ZB","ZN","ZP","ZZ","ZM","ZC","ZX","ZS","ZW"]
inscrit_etranger=0
votant_etranger=0
for i in liste_a_effacer:
    inscrit_etranger = inscrit_etranger + bv_euro[bv_euro["Code du département"]==i]["Inscrits"].astype(int).sum()
    votant_etranger = votant_etranger + bv_euro[bv_euro["Code du département"]==i]["Votants"].astype(int).sum()
    
    bv_euro = bv_euro[bv_euro["Code du département"]!=i]
bv_euro.shape, inscrit_etranger, votant_etranger

((66578, 226), 3114713, 643090)

In [ ]:
## DROP COLONNES
bv_euro = bv_euro.iloc[:,:12]
bv_euro.head(1)

,Code_INSEE,Code_commune,Code du département,Libellé du département,Code de la commune,Libellé de la commune,Code du bvote,Code du bvote_sans 0 devant,Inscrits,Abstentions,% Abs/Ins,Votants
0,01004,01004,01,Ain,004,Ambérieu-en-Bugey,0008,8,978,476,"48,67",502

In [ ]:
bv_euro["CHR_CODE"] = bv_euro["Code_commune"]+bv_euro["Code du bvote_sans 0 devant"]
bv_euro.head(1)

,Code_INSEE,Code_commune,Code du département,Libellé du département,Code de la commune,Libellé de la commune,Code du bvote,Code du bvote_sans 0 devant,Inscrits,Abstentions,% Abs/Ins,Votants,CHR_CODE
0,01004,01004,01,Ain,004,Ambérieu-en-Bugey,0008,8,978,476,"48,67",502,010048

In [ ]:
jointure_interne = louis_sans_nan_doublons_sup_97501.merge(bv_euro, on = "CHR_CODE")
jointure_interne

,commune_code,libelle,code,code_corr,Code du bvote_x,Code du bvote_sans 0 devant_x,libelle_bv,num_voie,voie,complement1,complement2,lieu_dit,code_postal,commune,canton_code,circonscription_code,longitude,latitude,geo_score,geo_type,geo_adresse,geo_id,geo_ligne,geo_l4,geo_l5,CHR_CODE,Code_INSEE,Code_commune,Code du département,Libellé du département,Code de la commune,Libellé de la commune,Code du bvote_y,Code du bvote_sans 0 devant_y,Inscrits,Abstentions,% Abs/Ins,Votants
0,59350,Lille,807,NaN,0807,807,ECOLE AMPERE,64,RUE D'IENA,NaN,NaN,NaN,59000,LILLE,59-27,59-11,3.043027,50.621124,0.96,street,Rue d'Iena 59000 Lille,59350_4658,G,RUE D IENA,NaN,59350807,59350,59350,59,Nord,350,Lille,0807,807,1476,956,"64,77",520
1,50502,Saint-Lô,008,NaN,0008,8,HARAS-Ecurie n°5 (BV 08),NaN,Rue de la Goubedière,HARAS-Ecurie n°5,NaN,NaN,50000,SAINT LO,50-23,50-01,-1.074428,49.117378,0.95,street,Rue de la Goubediere 50000 Saint-Lô,50502_1162,G,RUE DE LA GOUBEDIERE,NaN,505028,50502,50502,50,Manche,502,Saint-Lô,0008,8,815,470,"57,67",345
2,56121,Lorient,11,NaN,0011,11,GROUPE SCOLAIRE MERVILLE,1,AVENUE DE LA MARNE,NaN,NaN,NaN,56100,LORIENT,56-09,56-05,-3.36822,47.744513,0.96,housenumber,1 Avenue de la Marne 56100 Lorient,56121_3890_00001,G,1 AVENUE DE LA MARNE,NaN,5612111,56121,56121,56,Morbihan,121,Lorient,0011,11,868,374,"43,09",494
3,76558,Saint-Aubin-Celloville,1,NaN,0001,1,Bureau 1,NaN,Mairie de SAINT-AUBIN-CELLOVILLE,NaN,NaN,NaN,76520,SAINT-AUBIN-CELLOVILLE,76-06,76-02,1.156093,49.365456,0.92,street,Place de la Mairie 76520 Saint-Aubin-Celloville,76558_0035,G,PLACE DE LA MAIRIE,NaN,765581,76558,76558,76,Seine-Maritime,558,Saint-Aubin-Celloville,0001,1,808,326,"40,35",482
4,70407,Perrouse,1,NaN,0001,1,BUREAU UNIQUE,NaN,Mairie de PERROUSE,NaN,NaN,NaN,70190,PERROUSE,70-12,70-01,6.050185,47.361279,0.9,street,Rue de la Mairie 70190 Perrouse,70407_0045,G,RUE DE LA MAIRIE,NaN,704071,70407,70407,70,Haute-Saône,407,Perrouse,0001,1,208,81,"38,94",127
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
57431,69096,Grigny,0004,NaN,0004,4,GROUPE SCOLAIRE PASTEUR,NaN,"""66","RUE PASTEUR""",NaN,NaN,NaN,69520,GRIGNY,69-85,4.780002,45.603983,45.603983,0.95,housenumber,66 Rue Pasteur 69520 Grigny,69096_0330_00066,G,66 RUE PASTEUR,690964,69096,69096,69,Rhône,096,Grigny,0004,4,1153,705,"61,14",448
57432,69096,Grigny,0006,NaN,0006,6,CENTRE AUGUSTE VEYRET,NaN,"""34","RUE PIERRE SEMARD""",NaN,NaN,NaN,69520,GRIGNY,69-85,4.798615,45.614171,45.614171,0.95,housenumber,34 Rue Pierre Semard 69520 Grigny,69096_0340_00034,G,34 RUE PIERRE SEMARD,690966,69096,69096,69,Rhône,096,Grigny,0006,6,955,516,"54,03",439
57433,49200,Longuenée-en-Anjou,3,NaN,0003,3,Mairie de LA MEIGNANNE,27,"""","Rue de la Mairie""",49770 LA MEIGNANNE,EX N° 1-LA MEIGNANNE,NaN,49770,LONGUENÉE-EN-ANJOU,49-04,-0.669727,47.519274,47.519274,0.95,housenumber,27 Rue de la Mairie 49770 Longuenée-en-Anjou,49196_0063_00027,G,27 RUE DE LA MAIRIE,492003,49200,49200,49,Maine-et-Loire,200,Longuenée-en-Anjou,0003,3,940,423,"45,00",517
57434,02275,Effry,1,NaN,0001,1,Bureau unique,NaN,MAIRIE,"""39","rue André DEVIN""",02500 EFFRY,NaN,02500,EFFRY,02-08,3.984795,49.923365,49.923365,0.72,housenumber,39 Rue André Devin 02500 Effry,02275_0003_00039,D,39 RUE ANDRE DEVIN,022751,02275,02275,02,Aisne,275,Effry,0001,1,253,123,"48,62",130
57435,76263,La Feuillie,1,NaN,0001,1,MAIRIE,19,"""","rue du Centre""",NaN,76220 LA FEUILLIE,NaN,76220,LA FEUILLIE,76-12,1.514434,49.462772,49.462772,0.94,housenumber,19 Rue du Centre 76220 La Feuillie,76263_0075_00019,G,19 RUE DU CENTRE,762631,76263,76263,76,Seine-Maritime,263,La Feuillie,0001,1,964,400,"41,49",564

In [ ]:
data_louis_orig.shape, bv_euro.shape

((70048, 25), (66578, 13))

In [ ]:
inscri_total = bv_euro["Inscrits"].astype(int)
inscri_total.sum()

44230615

In [ ]:
inscri_recon = jointure_interne["Inscrits"].astype(int)
inscri_recon.sum()

39862311

In [ ]:
(44230615-39862311)/44230615

0.09876200003097402

In [ ]:
44230615 - 43269823, 961113 - 960792 # 961113 (taille de commune du fichier Pierre)

(960792, 321)

In [ ]:
################################ table_non_recon ###############################

In [ ]:
table_non_recon = bv_euro.merge(jointure_interne,on="CHR_CODE", how="left")[bv_euro.merge(jointure_interne,on="CHR_CODE", how="left")["Code_commune_y"].isnull()][["Code_commune_x","Libellé de la commune_x","Inscrits_x"] ] 
table_non_recon

      Code_commune_x Libellé de la commune_x Inscrits_x
4              01015         Arboys en Bugey        116
79             01045                 Birieux        200
113            01063                   Brion        379
118            01067                 Ceignes        208
124            01072               Ceyzériat       1055
...              ...                     ...        ...
66316          95447        Neuilly-en-Vexin        138
66352          95489                  Piscop        503
66360          95492       Le Plessis-Gassot         41
66389          95509       Puiseux-en-France        339
66515          95607                 Taverny        744

[9142 rows x 3 columns]

In [ ]:
table_non_recon["id"] = table_non_recon["Code_commune_x"]+table_non_recon["Libellé de la commune_x"]

In [ ]:
table_non_recon["Inscrits_x"] = table_non_recon["Inscrits_x"].astype(int)

In [ ]:
table_non_recon["id"].value_counts()

76351Le Havre            112
37261Tours                84
30189Nîmes                84
84007Avignon              70
17300La Rochelle          40
                        ...
10306Proverville           1
56065Gourhel               1
50237La Haye-Pesnel        1
23260Vidaillat             1
19117Lissac-sur-Couze      1
Name: id, Length: 6948, dtype: int64

In [ ]:
table_non_recon["Code_commune_x"].value_counts()

76351    112
37261     84
30189     84
84007     70
17300     40
        ...
55244      1
77248      1
70419      1
33153      1
77457      1
Name: Code_commune_x, Length: 6948, dtype: int64

In [ ]:
table_inscrit_x = table_non_recon.groupby(['Code_commune_x',"Libellé de la commune_x"]).sum().sort_values(by=['Inscrits_x'], ascending=False)
table_inscrit_x

                                        Inscrits_x
Code_commune_x Libellé de la commune_x
76351          Le Havre                     103885
30189          Nîmes                         87478
37261          Tours                         79122
84007          Avignon                       55029
17300          La Rochelle                   35932
...                                            ...
65379          Ris                              12
55394          Ornes                            11
52109          Charmes-en-l'Angle               11
26274          Rochefourchat                     8
54310          Leménil-Mitry                     5

[6948 rows x 1 columns]

In [ ]:
table_non_recon[table_non_recon["Code_commune_x"]=="76351"]["Inscrits_x"].sum()

103885

In [ ]:
bv_euro.shape

(66578, 13)

In [ ]:
57436+9142    #4368304 Inscrits_x"].astype(int).sum()

66578

In [ ]:

table_code_commune_x = pd.DataFrame(table_non_recon['Code_commune_x'].value_counts())
#table_code_commune_x
table_code_commune_x.rename(columns={'Code_commune_x':"Nb_non_reconcilies"}, inplace=True)
ttt= pd.DataFrame(table_code_commune_x.index,columns=["Code_commune_x"], index = range(table_code_commune_x.shape[0]))
#ttt

table_code_commune_x.index =range(table_code_commune_x.shape[0])
#table_code_commune_x
deux_col=pd.concat([ttt,table_code_commune_x], axis=1)
#deux_col
table_inscrit_x_nb_non_recon = table_inscrit_x.merge(deux_col, on="Code_commune_x")
table_inscrit_x_nb_non_recon

     Code_commune_x  Inscrits_x  Nb_non_reconcilies
0             76351      103885                 112
1             30189       87478                  84
2             37261       79122                  84
3             84007       55029                  70
4             17300       35932                  40
...             ...         ...                 ...
6943          65379          12                   1
6944          55394          11                   1
6945          52109          11                   1
6946          26274           8                   1
6947          54310           5                   1

[6948 rows x 3 columns]

In [ ]:
table_avant_final = table_inscrit_x_nb_non_recon.merge(table_non_recon, on="Code_commune_x", how="left").drop_duplicates(subset="Code_commune_x").iloc[:,:-2]
talbe_final_non_recon =table_avant_final[["Code_commune_x","Libellé de la commune_x","Inscrits_x_x","Nb_non_reconcilies"]]
talbe_final_non_recon

     Code_commune_x Libellé de la commune_x  Inscrits_x_x  Nb_non_reconcilies
0             76351                Le Havre        103885                 112
112           30189                   Nîmes         87478                  84
196           37261                   Tours         79122                  84
280           84007                 Avignon         55029                  70
350           17300             La Rochelle         35932                  40
...             ...                     ...           ...                 ...
9137          65379                     Ris            12                   1
9138          55394                   Ornes            11                   1
9139          52109      Charmes-en-l'Angle            11                   1
9140          26274           Rochefourchat             8                   1
9141          54310           Leménil-Mitry             5                   1

[6948 rows x 4 columns]

In [ ]:
talbe_final_non_recon

     Code_commune_x Libellé de la commune_x  Inscrits_x_x  Nb_non_reconcilies
0             76351                Le Havre        103885                 112
112           30189                   Nîmes         87478                  84
196           37261                   Tours         79122                  84
280           84007                 Avignon         55029                  70
350           17300             La Rochelle         35932                  40
...             ...                     ...           ...                 ...
9137          65379                     Ris            12                   1
9138          55394                   Ornes            11                   1
9139          52109      Charmes-en-l'Angle            11                   1
9140          26274           Rochefourchat             8                   1
9141          54310           Leménil-Mitry             5                   1

[6948 rows x 4 columns]

In [ ]:
######################################################################
#                      ENREGISTREMENT
######################################################################
louis_sans_nan_doublons_sup_97501 = louis_sans_nan_doublons_sup_97501.drop(["CHR_CODE"], axis=1)
jointure_interne = jointure_interne.drop(["CHR_CODE"], axis=1)

louis_sans_nan_doublons_sup_97501.to_csv("C:/Users/Christian/Desktop/IRIS_BV_final/Bureau_de_votes_louis/CORRIGER_VERSION_2/louis_sans_nan_sans_doublons_FM.txt",sep=";", index=False)
jointure_interne.to_csv("C:/Users/Christian/Desktop/IRIS_BV_final/Bureau_de_votes_louis/CORRIGER_VERSION_2/jointure_sans_nan_sans_doublons_FM.txt",sep=";", index=False)

talbe_final_non_recon.to_csv("C:/Users/Christian/Desktop/IRIS_BV_final/Bureau_de_votes_louis/CORRIGER_VERSION_2/FM_commune_bv_non_reconciliees.txt",sep=";", index=False)

In [ ]:
###############################################################################################v
###############################################################################################

In [ ]:
bv_euro["Inscrits"].astype(int).sum()

44230615

In [ ]:
talbe_final_non_recon["Inscrits_x_x"].sum()

4368304

In [ ]:
jointure_interne["Inscrits"].astype(int).sum()

39862311

In [ ]:
4368304+39862311

44230615

In [ ]:
jointure_interne[jointure_interne["longitude"].isnull()]

Empty DataFrame
Columns: [commune_code, libelle, code, code_corr, Code du bvote_x, Code du bvote_sans 0 devant_x, libelle_bv, num_voie, voie, complement1, complement2, lieu_dit, code_postal, commune, canton_code, circonscription_code, longitude, latitude, geo_score, geo_type, geo_adresse, geo_id, geo_ligne, geo_l4, geo_l5, CHR_CODE, Code_INSEE, Code_commune, Code du département, Libellé du département, Code de la commune, Libellé de la commune, Code du bvote_y, Code du bvote_sans 0 devant_y, Inscrits, Abstentions, % Abs/Ins, Votants]
Index: []

In [ ]:
louis_sans_nan_doublons_sup_97501[louis_sans_nan_doublons_sup_97501["longitude"].isnull()]

Empty DataFrame
Columns: [commune_code, libelle, code, code_corr, Code du bvote, Code du bvote_sans 0 devant, libelle_bv, num_voie, voie, complement1, complement2, lieu_dit, code_postal, commune, canton_code, circonscription_code, longitude, latitude, geo_score, geo_type, geo_adresse, geo_id, geo_ligne, geo_l4, geo_l5, CHR_CODE]
Index: []