In [ ]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
pd.set_option("display.max_row",50)
pd.set_option("display.max_columns",130)

In [ ]:
# 6 PARTIES
"""
"LA FRANCE INSOUMISE"
"RENAISSANCE"
"ENVIE D'EUROPE"
"PRENEZ LE POUVOIR"
"UNION DROITE-CENTRE"
"EUROPE ÉCOLOGIE"

#PRESIDENTIELLES

LE PEN
MACRON

"""

'\n"LA FRANCE INSOUMISE"\n"RENAISSANCE"\n"ENVIE D\'EUROPE"\n"PRENEZ LE POUVOIR"\n"UNION DROITE-CENTRE"\n"EUROPE ÉCOLOGIE"\n\n#PRESIDENTIELLES\n\nDUPONT-AIGNAN\nLE PEN\nMACRON\nHAMON\nMÉLENCHON\nFILLON\n'

In [ ]:
data_premier_orig = pd.read_csv("C:/Users/Christian/Desktop/IRIS_BV_final/PRESIDENTIELLES/PR17_BVot_T2_FE.txt",sep=";", header=0, dtype=str)
data_premier = data_premier_orig.copy()
data_premier

,Code du département,Libellé du département,Code de la circonscription,Libellé de la circonscription,Code de la commune,Libellé de la commune,Code du bvote,Inscrits,Abstentions,% Abs/Ins,Votants,% Vot/Ins,Blancs,% Blancs/Ins,% Blancs/Vot,Nuls,% Nuls/Ins,% Nuls/Vot,Exprimés,% Exp/Ins,% Exp/Vot,N°Panneau_EM,Sexe_EM,Nom_EM,Prénom_EM,Voix_EM,% Voix/Ins_EM,% Voix/Exp_EM,N°Panneau_MLP,Sexe_MLP,Nom_MLP,Prénom_MLP,Voix_MLP,% Voix/Ins_MLP,% Voix/Exp_MLP
0,01,Ain,04,4ème circonscription,001,L'Abergement-Clémenciat,0001,598,100,"16,72",498,"83,28",37,"6,19","7,43",8,"1,34","1,61",453,"75,75","90,96",1,M,MACRON,Emmanuel,272,"45,48","60,04",2,F,LE PEN,Marine,181,"30,27","39,96"
1,01,Ain,05,5ème circonscription,002,L'Abergement-de-Varey,0001,209,32,"15,31",177,"84,69",21,"10,05","11,86",6,"2,87","3,39",150,"71,77","84,75",1,M,MACRON,Emmanuel,93,"44,50","62,00",2,F,LE PEN,Marine,57,"27,27","38,00"
2,01,Ain,05,5ème circonscription,004,Ambérieu-en-Bugey,0001,1116,267,"23,92",849,"76,08",90,"8,06","10,60",28,"2,51","3,30",731,"65,50","86,10",1,M,MACRON,Emmanuel,416,"37,28","56,91",2,F,LE PEN,Marine,315,"28,23","43,09"
3,01,Ain,05,5ème circonscription,004,Ambérieu-en-Bugey,0002,1128,286,"25,35",842,"74,65",67,"5,94","7,96",34,"3,01","4,04",741,"65,69","88,00",1,M,MACRON,Emmanuel,429,"38,03","57,89",2,F,LE PEN,Marine,312,"27,66","42,11"
4,01,Ain,05,5ème circonscription,004,Ambérieu-en-Bugey,0003,1116,252,"22,58",864,"77,42",80,"7,17","9,26",31,"2,78","3,59",753,"67,47","87,15",1,M,MACRON,Emmanuel,453,"40,59","60,16",2,F,LE PEN,Marine,300,"26,88","39,84"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
69237,ZZ,Français établis hors de France,11,11ème circonscription,226,Wuhan,0001,369,155,"42,01",214,"57,99",8,"2,17","3,74",2,"0,54","0,93",204,"55,28","95,33",1,M,MACRON,Emmanuel,185,"50,14","90,69",2,F,LE PEN,Marine,19,"5,15","9,31"
69238,ZZ,Français établis hors de France,10,10ème circonscription,227,Yaounde,0001,1517,788,"51,94",729,"48,06",35,"2,31","4,80",4,"0,26","0,55",690,"45,48","94,65",1,M,MACRON,Emmanuel,581,"38,30","84,20",2,F,LE PEN,Marine,109,"7,19","15,80"
69239,ZZ,Français établis hors de France,07,7ème circonscription,228,Zagreb,0001,656,411,"62,65",245,"37,35",9,"1,37","3,67",1,"0,15","0,41",235,"35,82","95,92",1,M,MACRON,Emmanuel,182,"27,74","77,45",2,F,LE PEN,Marine,53,"8,08","22,55"
69240,ZZ,Français établis hors de France,06,6ème circonscription,229,Zurich,0001,21488,10241,"47,66",11247,"52,34",303,"1,41","2,69",56,"0,26","0,50",10888,"50,67","96,81",1,M,MACRON,Emmanuel,9776,"45,50","89,79",2,F,LE PEN,Marine,1112,"5,17","10,21"
69241,ZZ,Français établis hors de France,11,11ème circonscription,231,Taipeh,0001,1212,573,"47,28",639,"52,72",16,"1,32","2,50",4,"0,33","0,63",619,"51,07","96,87",1,M,MACRON,Emmanuel,532,"43,89","85,95",2,F,LE PEN,Marine,87,"7,18","14,05"

In [ ]:
data_premier = data_premier[["Code du département","Libellé du département","Code de la circonscription",
"Code de la commune","Libellé de la commune","Code du bvote","Inscrits","Abstentions",
"Votants","Blancs","Nuls","Exprimés",
"Nom_EM","Prénom_EM","Voix_EM",
"Nom_MLP","Prénom_MLP","Voix_MLP"]]

In [ ]:
data_premier.head(1)

,Code du département,Libellé du département,Code de la circonscription,Code de la commune,Libellé de la commune,Code du bvote,Inscrits,Abstentions,Votants,Blancs,Nuls,Exprimés,Nom_EM,Prénom_EM,Voix_EM,Nom_MLP,Prénom_MLP,Voix_MLP
0,01,Ain,04,001,L'Abergement-Clémenciat,0001,598,100,498,37,8,453,MACRON,Emmanuel,272,LE PEN,Marine,181

In [ ]:

#EFFACER LES BV A L'ETRANGER
liste_a_effacer=["ZD","ZA","ZB","ZN","ZP","ZZ","ZM","ZC","ZX","ZS","ZW"]
for i in liste_a_effacer:
    data_premier = data_premier[data_premier["Code du département"]!=i]
print(data_premier.shape)
print(len(data_premier["Code du département"].unique()))

(66544, 18)
96

In [ ]:
data_premier["Code du bvote_sans 0 devant"] = data_premier["Code du bvote"].copy()
data_premier.head(4)

,Code du département,Libellé du département,Code de la circonscription,Code de la commune,Libellé de la commune,Code du bvote,Inscrits,Abstentions,Votants,Blancs,Nuls,Exprimés,Nom_EM,Prénom_EM,Voix_EM,Nom_MLP,Prénom_MLP,Voix_MLP,Code du bvote_sans 0 devant
0,01,Ain,04,001,L'Abergement-Clémenciat,0001,598,100,498,37,8,453,MACRON,Emmanuel,272,LE PEN,Marine,181,0001
1,01,Ain,05,002,L'Abergement-de-Varey,0001,209,32,177,21,6,150,MACRON,Emmanuel,93,LE PEN,Marine,57,0001
2,01,Ain,05,004,Ambérieu-en-Bugey,0001,1116,267,849,90,28,731,MACRON,Emmanuel,416,LE PEN,Marine,315,0001
3,01,Ain,05,004,Ambérieu-en-Bugey,0002,1128,286,842,67,34,741,MACRON,Emmanuel,429,LE PEN,Marine,312,0002

In [ ]:
# CORRIGER PARIS
for i in range(data_premier.shape[0]):
    if data_premier.iloc[i,1]=="Paris":
        data_premier.iloc[i,3]=str(75100+int(data_premier.iloc[i,5][:2]))[2:]
    if data_premier.iloc[i,4]=="Lyon":
        data_premier.iloc[i,3]=str(69380+int(data_premier.iloc[i,5][:2]))[2:]
    if data_premier.iloc[i,4]=="Marseille":
        data_premier.iloc[i,3]=str(13200+int(data_premier.iloc[i,5][:2]))[2:]

In [ ]:
for i in data_premier.index :
    if data_premier.loc[i,"Code du bvote_sans 0 devant"][0]=="0":
        data_premier.loc[i,"Code du bvote_sans 0 devant"] = data_premier.loc[i,"Code du bvote_sans 0 devant"][1:]
        if data_premier.loc[i,"Code du bvote_sans 0 devant"][0] =="0":
            data_premier.loc[i,"Code du bvote_sans 0 devant"] = data_premier.loc[i,"Code du bvote_sans 0 devant"][1:]
            if data_premier.loc[i,"Code du bvote_sans 0 devant"][0] =="0":
                data_premier.loc[i,"Code du bvote_sans 0 devant"] = data_premier.loc[i,"Code du bvote_sans 0 devant"][1:]

In [ ]:
data_premier

,Code du département,Libellé du département,Code de la circonscription,Code de la commune,Libellé de la commune,Code du bvote,Inscrits,Abstentions,Votants,Blancs,Nuls,Exprimés,Nom_EM,Prénom_EM,Voix_EM,Nom_MLP,Prénom_MLP,Voix_MLP,Code du bvote_sans 0 devant,commune_code
0,01,Ain,04,001,L'Abergement-Clémenciat,0001,598,100,498,37,8,453,MACRON,Emmanuel,272,LE PEN,Marine,181,1,01001
1,01,Ain,05,002,L'Abergement-de-Varey,0001,209,32,177,21,6,150,MACRON,Emmanuel,93,LE PEN,Marine,57,1,01002
2,01,Ain,05,004,Ambérieu-en-Bugey,0001,1116,267,849,90,28,731,MACRON,Emmanuel,416,LE PEN,Marine,315,1,01004
3,01,Ain,05,004,Ambérieu-en-Bugey,0002,1128,286,842,67,34,741,MACRON,Emmanuel,429,LE PEN,Marine,312,2,01004
4,01,Ain,05,004,Ambérieu-en-Bugey,0003,1116,252,864,80,31,753,MACRON,Emmanuel,453,LE PEN,Marine,300,3,01004
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
66539,95,Val-d'Oise,08,680,Villiers-le-Bel,0011,1199,389,810,54,13,743,MACRON,Emmanuel,505,LE PEN,Marine,238,11,95680
66540,95,Val-d'Oise,08,680,Villiers-le-Bel,0012,982,331,651,41,15,595,MACRON,Emmanuel,452,LE PEN,Marine,143,12,95680
66541,95,Val-d'Oise,08,680,Villiers-le-Bel,0013,713,288,425,24,16,385,MACRON,Emmanuel,328,LE PEN,Marine,57,13,95680
66542,95,Val-d'Oise,09,682,Villiers-le-Sec,0001,120,18,102,14,2,86,MACRON,Emmanuel,57,LE PEN,Marine,29,1,95682
66543,95,Val-d'Oise,01,690,Wy-dit-Joli-Village,0001,309,53,256,21,7,228,MACRON,Emmanuel,156,LE PEN,Marine,72,1,95690

In [ ]:
66544

In [ ]:
# IL N'Y A PAS DE DOUBLONS

In [ ]:
data_premier["commune_code"]=data_premier["Code du département"]+data_premier["Code de la commune"]
data_premier.head(1)

,Code du département,Libellé du département,Code de la circonscription,Code de la commune,Libellé de la commune,Code du bvote,Inscrits,Abstentions,Votants,Blancs,Nuls,Exprimés,Nom_EM,Prénom_EM,Voix_EM,Nom_MLP,Prénom_MLP,Voix_MLP,Code du bvote_sans 0 devant,commune_code
0,01,Ain,04,001,L'Abergement-Clémenciat,0001,598,100,498,37,8,453,MACRON,Emmanuel,272,LE PEN,Marine,181,1,01001

In [ ]:
########################################################################
data_recensement_orig = pd.read_csv("C:/Users/Christian/Desktop/IRIS_BV_final/PRESIDENTIELLES/RECENSEMENT_IRIS__BV_reconcialiation.txt",sep=";", header=0, low_memory=False, dtype=str)
data_recensement = data_recensement_orig.copy()
data_recensement = data_recensement[data_recensement["ID_BV"]!="4145"]
print(data_recensement.shape)
data_recensement.head(1)

(78397, 81)

,IRIS,ID_BV,commune_code,libelle,code,Code du bvote,Code du bvote_sans 0 devant,libelle_bv,num_voie,voie,code_postal,commune,canton_code,circonscription_code,longitude,latitude,geo_score,C17_MEN,C17_MENPSEUL,C17_MENHSEUL,C17_MENFSEUL,C17_MENSFAM,C17_MENFAM,C17_MENCOUPSENF,C17_MENCOUPAENF,C17_MENFAMMONO,C17_PMEN,C17_PMEN_MENPSEUL,C17_PMEN_MENHSEUL,C17_PMEN_MENFSEUL,C17_PMEN_MENSFAM,C17_PMEN_MENFAM,C17_PMEN_MENCOUPSENF,C17_PMEN_MENCOUPAENF,C17_PMEN_MENFAMMONO,P17_POP15P,P17_POP1524,P17_POP2554,P17_POP5579,P17_POP80P,P17_POPMEN15P,P17_POPMEN1524,P17_POPMEN2554,P17_POPMEN5579,P17_POPMEN80P,P17_POP15P_PSEUL,P17_POP1524_PSEUL,P17_POP2554_PSEUL,P17_POP5579_PSEUL,P17_POP80P_PSEUL,P17_POP15P_MARIEE,P17_POP15P_PACSEE,P17_POP15P_CONCUB_UNION_LIBRE,P17_POP15P_VEUFS,P17_POP15P_DIVORCEE,P17_POP15P_CELIBATAIRE,C17_MEN_CS1,C17_MEN_CS2,C17_MEN_CS3,C17_MEN_CS4,C17_MEN_CS5,C17_MEN_CS6,C17_MEN_CS7,C17_MEN_CS8,C17_PMEN_CS1,C17_PMEN_CS2,C17_PMEN_CS3,C17_PMEN_CS4,C17_PMEN_CS5,C17_PMEN_CS6,C17_PMEN_CS7,C17_PMEN_CS8,C17_FAM,C17_COUPAENF,C17_FAMMONO,C17_COUPSENF,C17_NE24F0,C17_NE24F1,C17_NE24F2,C17_NE24F3,C17_NE24F4P
0,721910000,17428,72191,Mayet,1,0001,1,ECOLE ST EXUPERY NORD,NaN,Rue Paul FOURNIER,72360,MAYET,72-08,72-03,0.271986000000000,47.759019000000002,0.94,1372.65678220089,447.579121498123,172.928296942457,274.650824555666,25.0027324900068,900.074928212759,503.362514570496,331.497706032145,65.2147076101184,3032.89428399957,447.579121498123,172.928296942457,274.650824555666,69.8756207737611,2515.43954172768,1056.07476690597,1299.08322648915,160.28154833256,2586.4560091875,246.675066330521,1042.37837329437,920.389018607399,377.01355095521,2476.44042734743,246.675066330521,1042.37837329437,908.3873187703,278.999668952236,455.716923707181,13.2239285897173,125.118708964248,194.290027741231,123.084258411984,1288.91525550116,84.530200374592,324.373782323855,305.360627814329,136.621543950553,446.654599223008,35.2223295589629,85.279155520177,24.8624749303227,124.925647361331,194.850379405266,275.1411906951,591.734387098183,40.6412176315461,75.1515734910646,209.166325355455,84.1941983749051,357.77696798547,561.762877007348,755.406582053172,943.756209133682,45.6795505984689,900.074928212759,331.497706032145,65.2147076101184,503.362514570496,528.317902752867,135.04120453251,173.183821580618,49.0227639293319,14.5092354174314

In [ ]:
data_recensement=data_recensement[["IRIS","ID_BV","commune_code","libelle","Code du bvote_sans 0 devant","longitude","latitude"]]

for i in data_recensement.columns:
    data_recensement.loc[:,i]=data_recensement.loc[:,i].astype(str)

In [ ]:
data_recensement.info()
data_recensement.head(1)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 78397 entries, 0 to 78397
Data columns (total 7 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   IRIS                         78397 non-null  object
 1   ID_BV                        78397 non-null  object
 2   commune_code                 78397 non-null  object
 3   libelle                      78397 non-null  object
 4   Code du bvote_sans 0 devant  78397 non-null  object
 5   longitude                    78397 non-null  object
 6   latitude                     78397 non-null  object
dtypes: object(7)
memory usage: 4.8+ MB

,IRIS,ID_BV,commune_code,libelle,Code du bvote_sans 0 devant,longitude,latitude
0,721910000,17428,72191,Mayet,1,0.271986000000000,47.759019000000002

In [ ]:
# PAS DE 0
for i in data_recensement.index :
    try :
        data_recensement.loc[i,"Code du bvote_sans 0 devant"] = str(int(data_recensement.loc[i,"Code du bvote_sans 0 devant"]))
    except:
        continue
        
print((data_recensement["Code du bvote_sans 0 devant"]=="01").sum())

0

In [ ]:
for i in data_recensement.index :
    try:
        int(data_recensement.loc[i,"Code du bvote_sans 0 devant"])
    except:
        print(data_recensement.loc[i,"Code du bvote_sans 0 devant"])

1-1
1 - 2
1 - 1
L-2
L-1
L-3
1 - 2
24.1
1 - 1
1 - 1
17-84
17-81
17-82
17-83
18-43
18-41
18-42
16-11
16-42
16-13
16-41
16-43
16-12
15-36
15-35
15-33
15-31
15-32
15-37
15-34
1 - 2
1 - 1
1 - 1
2 - 1
1 - 2
1-2
1 - 1
1 - 1
1 - 1
1 - 1
2 - 2
2 - 1
1 - 1
1 - 1
1 - 1
2-1
1-1
1 - 2
83A
2-1
1-1
1-2
BUR
1 - 1
B04
1 - 2
15-41
15-21
15-22
15-42
1 - 1
1 - 1
1 - 1
1 - 2
H21
H11
M1
1 - 1
1 - 2
A-1
A-2
17-41
17-42
1 - 1
1 - 1
1 - 1
1 - 2
1 - 1
1 - 2
2 - 2
1-2
1 - 2
1 - 1
1 - 1
1 - 1
1 - 1
1 - 1
1 - 2
1 - 1
1 - 2
1 - 1
1 - 2
1 - 2
1 - 1
1 - 1
1 - 1
1 - 2
1 - 1
1 - 2
1 - 1
1-1
1 - 2
1 - 1
1-2
1 - 1
B02
B01
1 - 2
1 - 2
1 - 1
1 - 1
1 - 2
1 - 2
1 - 1
1-2
2-2
M1
1A
6C
5C
4B
2A
3B
E-3
E-1
E-2
1 - 2
1 - 2
192A
1 - 1
1-1
A1
1-2
1 - 1
Bureau 1
Bureau 2
1-1
1 - 1
15-71
15-72
15-73
1 - 1
1 - 1
1LC
1 - 2
1 - 2
A2
A1
1 - 2
1 - 1
1 - 3
1 - 1
1 - 2
1 - 1
1 - 1
1 - 3
16-31
16-34
16-36
16-33
16-32
16-35
1 - 2
1-1
1 - 1
F31
F11
1 - 1
A1
1-1
1 - 1
1 - 1
1-1
1.1
3.1
3.2
1-2
A1
A2
1 - 2
1 - 1
1-1
2 - 2
1-1
10.3
10.2
10.1
1 - 2
1 - 3
1 - 1
1 - 2
1 - 2
1 - 2
1-2
1 - 1
B12
B13
1-2
1 - 2
2 - 2
1 - 2
1 - 1
1 - 1
1 - 1
15.1
15.2
B11
5C
1A
1D
1C
5A
1E
5B
1-2
1 - 1
K-1
K-2
1 - 1
1 - 1
15-57
15-58
15-55
15-51
15-52
15-53
15-54
15-56
A1
1 - 2
1 - 1
1 - 1
2 - 1
1 - 2
1 - 1
1-2
3-2
4-2
B-1
B-2
1 - 1
1 - 2
1 - 1
1 - 2
1 - 1
G-1
G-2
1-3
2-2
1 - 1
B07
1 - 1
1 - 1
1 - 3
1-2
1 - 2
2 - 2
1 - 1
2 - 1
1 - 2
2 - 2
B1
1 - 1
69A
1 - 1
1 - 1
1 - 1
B15
B14
1 - 2
1 - 1
112A
1 - 1
81A
1N
2N
1 - 1
1-1
1-2
1 - 1
4.1
4.2
4.3
4.4
182A
1 - 1
1 - 1
17-11
17-12
1 - 1
1 - 1
1 - 2
1-1
D11
1-2
1 - 2
1-2
1 - 1
1 - 1
1-1
1 - 1
F-1
F-2
1 - 2
1-1
1 - 1
1 - 1
D21
A11
A21
1 - 2
1 - 2
18-51
1 - 1
1 - 2
1 - 1
1 - 1
1-2
A1
1 - 2
1 - 1
1 - 1
2 - 1
A1
A2
1 - 1
unique
17-71
17-72
3C
3D
3B
3A
3E
1 - 2
B11
1 - 2
1 - 1
1 - 2
1 - 2
17-31
17-32
1 - 1
J-2
J-1
1- 1
19.2
19.1
19.3
1 - 1
17-52
17-51
17-53
1 - 1
1 - 1
1-2
B1
1 - 2
1 - 1
1 - 1
1 - 1
1 - 1
198A
23.1
23.2
23.3
1 - 1
1 - 1
2 - 2
2 - 1
1 - 2
1 - 2
C-3
D-1
D-2
C-2
D-3
1 - 1
1 - 1
20.1
18.1
18.2
18.3
1-1
1 - 1
1 - 2
7A
8A
1 - 1
1-2
1 - 2
1-3
1 - 3
1 - 2
1 - 1
1 - 2
18-24
18-21
18-25
18-22
18-23
1 - 3
1 - 2
1-1
1 - 1
1 - 2
1 - 1
C21
F21
G11
G21
1 - 3
1 - 1
1 - 1
1 - 2
1 - 1
1 - 1
1 - 1
1 - 2
1-2
1 - 2
1 - 1
1 - 1
1 - 1
1 - 1
1 - 2
1 - 1
1 - 2
1 - 2
1 - 1
2-2
1-2
1 - 2
B06
14.1
14.2
1 - 1
1 - 1
15-61
15-62
15-63
1-1
2-1
1-1
1 - 2
1 - 3
1 - 2
H-1
1 - 1
1 - 2
1 - 1
1 - 1
2S
1S
1 - 2
1 - 1
1-2
1C
4C
2C
3C
A1
18-31
1 - 1
1 - 1
C-1
2-2
1-2
3-2
3-3
4-3
4-2
1 - 2
1 - 1
1 - 2
1 - 1
1 - 1
1 - 2
1 - 3
2A
3A
4A
6A
5A
1A
1 - 1
1 - 1
16-61
16-62
1 - 2
1 - 1
22.1
22.2
1 - 1
1 - 1
1 - 1
1 - 2
1 - 1
1 - 2
1 - 1
1 - 1
1 - 2
1 - 1
M1 - 3
1 - 1
1 - 2
1 - 1
1 - 2
1 - 2
2.2
2.1
16-52
16-51
1 - 1
E31
E21
E11
E41
1 - 2
18-32
1 - 1
1 - 2
1 - 1
6.1
6.2
1 - 1
1 - 1
1 - 1
1 - 3
1 - 2
B08
18-64
18-62
18-61
18-63
1 - 1
1 - 1
1 - 1
1 - 1
1 - 1
11.3
11.1
11.2
1 - 1
15-82
15-81
1 - 2
B03
1-3
1-2
9.2
9.1
7.1
7.2
9.3
7.3
1 - 1
1-1
1 - 2
1 - 1
1 - 1
1 - 1
B01
B02
B03
B05
1 - 2
1 - 1
1 - 1
12.1
18-11
18-12
17-21
B1
1-1
1 - 1
1 - 1
17-62
17-63
17-61
17-64
1 - 1
1 - 2
1-1
1 - 2
38B
1B
1-1
1 - 2
1 - 2
21.1
21.2
1 - 1
1-2
1 - 2
16.2
16.1
16.3
16.4
1 - 1
1 -1
1 - 1
16-23
16-21
16-22
1 - 2
B05
B10
1 - 1
1 - 1
1-1
1 - 1
1-2
1 - 2
1-3
1 - 1
1 -1
1 - 2
1 - 2
1 - 1
1 - 3
1 - 1
1-3
N-1
N-2
1 - 1
1 - 1
1 - 1
2 -1
17.1
17.3
17.2
1 - 1
1 -1
1 - 1
1 - 1
1 - 2
1 - 2
1-2
1 - 1
1 - 1
A5
A1
A2
A6
A4
A3
1 - 2
1-2
1 - 1
1-1
1 - 1
3 - 1
4 - 1
2 - 1
13 - 2
3 - 1
B01
B05
B03
B04
B06
B02
1 - 1
1 - 2
1 - 1
1 - 2
1 - 1
1 - 1
1 - 1
Unique
UN
1 - 1
1 - 2
1 - 1
B04
1 - 1
15-11
13.3
13.1
13.2
C09
1 - 1
8.1
1 - 1
1 - 1
1 - 1
1-1
1-1
1-2
1 - 1
1-2
1 - 1
5.2
5.1
M-1
1 - 2
198A
unique
7.1
7.2
7.3
3C
3D
3B
3A
3E
E-3
E-1
E-2
1 - 1
16-23
16-21
16-22
1 - 1
1 - 1
2 - 2
A2
1 - 1
1 - 2
1 - 1
J-2
J-1
1-2
1A
6C
5C
4B
2A
3B
1 - 2
15-36
15-35
15-33
15-31
15-32
15-37
15-34
1 - 1
1 - 2
81A
16-52
16-51
K-1
K-2
4.1
4.2
4.3
4.4
18-64
18-62
18-61
18-63
69A
1 - 1
15-61
15-62
15-63
17-62
17-63
17-61
17-64
1-1
1 - 1
81A
3 - 1
4 - 1
1 - 1
1A
1D
1C
1E
1 - 2
14.1
14.2
18.1
18.2
18.3
F31
F11
22.1
22.2
5.2
5.1
3.1
3.2
3C
3D
3B
3A
3E
16-31
16-34
16-36
16-33
16-32
16-35
1 - 1
1 - 1
1 - 1
18-43
18-41
18-42
6.1
6.2
1 - 2
4.1
4.2
4.3
4.4
1 - 1
1 - 1
1 - 2
F31
F11
1 - 1
1 -1
1 - 2
112A
19.2
19.1
19.3
F31
F11
1-2
15.1
15.2
23.1
23.2
23.3
D11
1 - 1
16-31
16-34
16-36
16-33
16-32
16-35
1 - 2
1 -1
1-2
15-21
15-22
21.1
21.2
1 - 1
17.1
17.3
17.2
1 - 1
1 - 2
1 - 1
81A
18-11
18-12
1 - 1
17-11
17-12
1 - 2
1 - 1
1 - 1
15-57
15-58
15-55
15-51
15-52
15-53
15-54
15-56
1 - 2
18-51
1 - 1
1 - 1
1 - 2
1 - 1
1 - 1
1 - 1
10.3
10.2
10.1
112A
B11
16-61
16-62
1-2
1-2
1 - 2
2-2
15-57
15-58
15-55
15-51
15-52
15-53
15-54
15-56
5C
5A
5B
69A
1-2
17-62
17-63
17-61
17-64
16-52
16-51
1 - 2
7.1
7.2
7.3
1 - 2
1 - 1
1 - 2
81A
1 - 2
3-2
1 - 2
2 - 2
2 - 1
1 - 1
B10
5.2
5.1
13.3
13.1
13.2
1 - 2
17-71
17-72
B01
B05
B03
B04
B06
B02
1 - 1
A2
18-64
18-62
18-61
18-63
1-2
16.2
16.1
16.3
16.4
1B
1-1
1 - 2
20.1
1 - 2
1 - 2
1 - 1
16-42
16-41
16-43
23.1
23.2
23.3
1 - 1
1 - 2
1 - 1
1 - 2
20.1
1-2
1-1
17-41
17-42
1 - 1
15-36
15-35
15-33
15-31
15-32
15-37
15-34
1 - 1
1A
6C
5C
4B
2A
3B
1- 1
15-57
15-58
15-55
15-51
15-52
15-53
15-54
15-56
E31
E21
E11
E41
D-1
D-2
D-3
A1
1 -1
14.1
14.2
J-2
J-1
15-41
15-42
M1
1- 1
1-1
18-24
18-21
18-25
18-22
18-23
3.1
3.2
1 - 3
L-3
1 - 1
1-2
1 - 1
1 - 1
1A
1D
1C
1E
1 - 1
182A
1 - 1
15-57
15-58
15-55
15-51
15-52
15-53
15-54
15-56
1-2
2S
1S
1 - 1
7.1
7.2
7.3
1 - 1
18.1
18.2
18.3
B15
17-52
17-51
17-53
22.1
22.2
1 - 1
5C
5A
5B
1 - 1
1 - 1
1 - 1
1 - 2
15-41
15-42
7.1
7.2
7.3
1 - 1
1-2
1 - 1
16-31
16-34
16-36
16-33
16-32
16-35
B01
B05
B03
B04
B06
B02
A11
A21
1-1
1 - 1
1 - 2

In [ ]:

# 
print(data_premier.shape, data_recensement.shape)

data_premier.head(1)
data_recensement.head(1)

(66544, 20) (78397, 7)

,IRIS,ID_BV,commune_code,libelle,Code du bvote_sans 0 devant,longitude,latitude
0,721910000,17428,72191,Mayet,1,0.271986000000000,47.759019000000002

In [ ]:
####
CREATION=pd.read_csv("C:/Users/Christian/Desktop/IRIS_BV_final/PRESIDENTIELLES/CREATION/CREATION.txt",sep=";", header=0, dtype=str)
CREATION=CREATION[CREATION["ID_BV"]!="4145"]
CREATION.head(2)

CREATION["FLAG"]="0"

In [ ]:
jjj = data_recensement.merge(CREATION, how="left")
flag = jjj[jjj["longitude"].isnull()==False] # tous la

In [ ]:
flag_0 = flag[flag["FLAG"]=="0"] # ok
flag_1 = flag[flag["FLAG"]!="0"] # absent
#flag_1 = flag_1.fillna("1")

In [ ]:
flag_0["IRIS"].value_counts().shape[0]+flag_1["IRIS"].value_counts().shape[0]

48595

In [ ]:

IRIS_COMPLET = flag_0.merge(data_premier, on = ["commune_code","Code du bvote_sans 0 devant"],how= "left")
print(IRIS_COMPLET.shape)
IRIS_COMPLET.head(2)

(59032, 26)

,IRIS,ID_BV,commune_code,libelle,Code du bvote_sans 0 devant,longitude,latitude,FLAG,Code du département,Libellé du département,Code de la circonscription,Code de la commune,Libellé de la commune,Code du bvote,Inscrits,Abstentions,Votants,Blancs,Nuls,Exprimés,Nom_EM,Prénom_EM,Voix_EM,Nom_MLP,Prénom_MLP,Voix_MLP
0,721910000,17428,72191,Mayet,1,0.271986000000000,47.759019000000002,0,72,Sarthe,03,191,Mayet,0001,1406,257,1149,125,44,980,MACRON,Emmanuel,488,LE PEN,Marine,492
1,721910000,55161,72191,Mayet,2,0.271986000000000,47.759019000000002,0,72,Sarthe,03,191,Mayet,0002,915,203,712,73,24,615,MACRON,Emmanuel,330,LE PEN,Marine,285

In [ ]:
IRIS_COMPLET_OUI = IRIS_COMPLET[IRIS_COMPLET["Voix_MLP"].isnull()==False] # C
IRIS_COMPLET_NON = IRIS_COMPLET[IRIS_COMPLET["Voix_MLP"].isnull()] #absent # C

IRIS_COMPLET_OUI["IRIS"].value_counts().shape[0],IRIS_COMPLET_NON["IRIS"].value_counts().shape[0]

(36185, 1370)

In [ ]:
# CA VEUT DIRE QU'IL Y A DES IRIS DANS OUI ET NON
IRIS_COMPLET_OUI["IRIS"].value_counts().shape[0]+IRIS_COMPLET_NON["IRIS"].value_counts().shape[0]#-IRIS_COMPLET["IRIS"].value_counts().shape[0]

37555

In [ ]:
join_left = data_recensement.merge(IRIS_COMPLET_OUI, on="IRIS", how="left")
IRIS_A_COMPLETER = join_left[join_left["Voix_MLP"].isnull()][["IRIS","commune_code_x","libelle_x"]].drop_duplicates(subset="IRIS")
IRIS_A_COMPLETER.columns=["IRIS","commune_code","libelle"]
IRIS_A_COMPLETER

             IRIS commune_code                    libelle
23      231670000        23167                     Sannat
506     422620000        42262  Saint-Maurice-en-Gourgois
990     714540000        71454       Saint-Martin-du-Mont
1109    710410000        71041          Bois-Sainte-Marie
1121    593110000        59311                   Honnechy
...           ...          ...                        ...
159024  930050101        93005           Aulnay-sous-Bois
159026  910270114        91027                 Athis-Mons
159028  104300000        51377                 Montépreux
159029  394510000        39452                       Rans
159030  930010501        93001              Aubervilliers

[12405 rows x 3 columns]

In [ ]:
IRIS_COMPLET_OUI["IRIS"].value_counts().shape[0]+IRIS_A_COMPLETER["IRIS"].value_counts().shape[0]

48590

In [ ]:
pd.concat([IRIS_COMPLET_OUI,IRIS_A_COMPLETER], axis=0)["IRIS"].value_counts().shape[0]

48590

In [ ]:
IRIS_COMPLET_OUI[IRIS_COMPLET_OUI["libelle"]=="Les Sables-d'Olonne"][["IRIS","Code du bvote_sans 0 devant","commune_code","Inscrits"]]#["Inscrits"].astype(int).sum()

            IRIS Code du bvote_sans 0 devant commune_code Inscrits
8446   851940103                           4        85194     1179
8447   851940103                           3        85194     1084
26177  851940101                           8        85194     1196
31973  851940106                          11        85194     1168
31974  851940106                          12        85194     1156
31975  851940106                           5        85194     1231
34420  851940104                           1        85194     1147
34421  851940104                           2        85194     1084
34422  851940104                           9        85194     1050
34423  851940104                          10        85194     1195
44045  851940201                           6        85194     1174
49393  851940102                           7        85194     1226

In [ ]:
data_premier[data_premier["Libellé de la commune"]=="Les Sables-d'Olonne"][["Code du bvote_sans 0 devant","commune_code","Inscrits"]]

      Code du bvote_sans 0 devant commune_code Inscrits
59844                           1        85194     1147
59845                           2        85194     1084
59846                           3        85194     1084
59847                           4        85194     1179
59848                           5        85194     1231
59849                           6        85194     1174
59850                           7        85194     1226
59851                           8        85194     1196
59852                           9        85194     1050
59853                          10        85194     1195
59854                          11        85194     1168
59855                          12        85194     1156

In [ ]:
###COMPLETER LES IRIS PAR LES COMMUNES : ON CHERCHE LES COMMUNES POUR LEQUELS IL Y A UNE SEUL BV
table_nb_bv_par_commune = CREATION[["commune_code","Code du bvote_sans 0 devant"]].groupby("commune_code", as_index=False).count()
table_nb_bv_par_commune.columns = ["commune_code","nb_bv_par_commune"]
table_nb_bv_par_commune

      commune_code  nb_bv_par_commune
0            01001                  1
1            01002                  1
2            01004                  8
3            01005                  1
4            01006                  1
...            ...                ...
29172        95676                  1
29173        95678                  1
29174        95680                 13
29175        95682                  1
29176        95690                  1

[29177 rows x 2 columns]

In [ ]:
# commune nb bv
table_1 = table_nb_bv_par_commune[table_nb_bv_par_commune["nb_bv_par_commune"]==1]
table_2 = table_nb_bv_par_commune[table_nb_bv_par_commune["nb_bv_par_commune"]!=1]
table_1

      commune_code  nb_bv_par_commune
0            01001                  1
1            01002                  1
3            01005                  1
4            01006                  1
6            01008                  1
...            ...                ...
29171        95675                  1
29172        95676                  1
29173        95678                  1
29175        95682                  1
29176        95690                  1

[23043 rows x 2 columns]

In [ ]:
IRIS_A_COMPLETER_1 = IRIS_A_COMPLETER.merge(table_1) #, how="left")
IRIS_A_COMPLETER_2 = IRIS_A_COMPLETER.merge(table_2)
IRIS_A_COMPLETER_1

           IRIS commune_code                    libelle  nb_bv_par_commune
0     231670000        23167                     Sannat                  1
1     422620000        42262  Saint-Maurice-en-Gourgois                  1
2     714540000        71454       Saint-Martin-du-Mont                  1
3     710410000        71041          Bois-Sainte-Marie                  1
4     711410000        71041          Bois-Sainte-Marie                  1
...         ...          ...                        ...                ...
5595  574140000        57380   Laneuveville-lès-Lorquin                  1
5596  100850000        10085                    Charmoy                  1
5597  084700000        08098              Champigneulle                  1
5598  621620000        62286               Ecquedecques                  1
5599  050680000        05176                  Valserres                  1

[5600 rows x 4 columns]

In [ ]:
######################## RESULTATS PAR COMMUNE #########################
for k in ["Inscrits","Abstentions","Votants","Blancs","Nuls","Exprimés","Voix_EM","Voix_MLP"]:
    data_premier.loc[:,k] = data_premier.loc[:,k].astype(float)

somme_commune = data_premier[["commune_code","Inscrits","Abstentions","Votants","Blancs","Nuls","Exprimés","Voix_EM","Voix_MLP"]].groupby("commune_code", as_index=False).sum()
somme_commune

,commune_code,Inscrits,Abstentions,Votants,Blancs,Nuls,Exprimés,Voix_EM,Voix_MLP
0,01001,598.0,100.0,498.0,37.0,8.0,453.0,272.0,181.0
1,01002,209.0,32.0,177.0,21.0,6.0,150.0,93.0,57.0
2,01004,8586.0,2312.0,6274.0,601.0,217.0,5456.0,3213.0,2243.0
3,01005,1172.0,259.0,913.0,77.0,24.0,812.0,423.0,389.0
4,01006,99.0,23.0,76.0,17.0,0.0,59.0,30.0,29.0
...,...,...,...,...,...,...,...,...,...
35318,95676,382.0,79.0,303.0,40.0,7.0,256.0,151.0,105.0
35319,95678,593.0,102.0,491.0,62.0,12.0,417.0,273.0,144.0
35320,95680,13216.0,4848.0,8368.0,522.0,214.0,7632.0,5787.0,1845.0
35321,95682,120.0,18.0,102.0,14.0,2.0,86.0,57.0,29.0
35322,95690,309.0,53.0,256.0,21.0,7.0,228.0,156.0,72.0

In [ ]:
# ON COMPLETE LES IRIS 

IRIS_COMPLET_1 = IRIS_A_COMPLETER_1.merge(somme_commune)
IRIS_COMPLET_1

,IRIS,commune_code,libelle,nb_bv_par_commune,Inscrits,Abstentions,Votants,Blancs,Nuls,Exprimés,Voix_EM,Voix_MLP
0,231670000,23167,Sannat,1,298.0,55.0,243.0,23.0,11.0,209.0,157.0,52.0
1,422620000,42262,Saint-Maurice-en-Gourgois,1,1206.0,205.0,1001.0,97.0,35.0,869.0,425.0,444.0
2,714540000,71454,Saint-Martin-du-Mont,1,141.0,20.0,121.0,11.0,2.0,108.0,70.0,38.0
3,710410000,71041,Bois-Sainte-Marie,1,87.0,15.0,72.0,7.0,0.0,65.0,35.0,30.0
4,711410000,71041,Bois-Sainte-Marie,1,87.0,15.0,72.0,7.0,0.0,65.0,35.0,30.0
...,...,...,...,...,...,...,...,...,...,...,...,...
5595,574140000,57380,Laneuveville-lès-Lorquin,1,88.0,17.0,71.0,4.0,1.0,66.0,29.0,37.0
5596,100850000,10085,Charmoy,1,48.0,11.0,37.0,5.0,3.0,29.0,18.0,11.0
5597,084700000,08098,Champigneulle,1,59.0,9.0,50.0,8.0,0.0,42.0,21.0,21.0
5598,621620000,62286,Ecquedecques,1,360.0,55.0,305.0,38.0,12.0,255.0,119.0,136.0
5599,050680000,05176,Valserres,1,194.0,36.0,158.0,25.0,4.0,129.0,81.0,48.0

In [ ]:
IRIS_COMPLET_2 = IRIS_A_COMPLETER_2.merge(somme_commune)
IRIS_COMPLET_2

,IRIS,commune_code,libelle,nb_bv_par_commune,Inscrits,Abstentions,Votants,Blancs,Nuls,Exprimés,Voix_EM,Voix_MLP
0,900100201,90010,Belfort,28,26159.0,8313.0,17846.0,1517.0,711.0,15618.0,10524.0,5094.0
1,900100502,90010,Belfort,28,26159.0,8313.0,17846.0,1517.0,711.0,15618.0,10524.0,5094.0
2,900100102,90010,Belfort,28,26159.0,8313.0,17846.0,1517.0,711.0,15618.0,10524.0,5094.0
3,900100203,90010,Belfort,28,26159.0,8313.0,17846.0,1517.0,711.0,15618.0,10524.0,5094.0
4,900100501,90010,Belfort,28,26159.0,8313.0,17846.0,1517.0,711.0,15618.0,10524.0,5094.0
...,...,...,...,...,...,...,...,...,...,...,...,...
6800,614610000,61167,La Ferté-en-Ouche,10,2325.0,511.0,1814.0,161.0,28.0,1625.0,846.0,779.0
6801,850740000,85135,Mareuil-sur-Lay-Dissais,3,2094.0,364.0,1730.0,123.0,46.0,1561.0,1075.0,486.0
6802,371980000,49228,Noyant-Villages,14,4179.0,939.0,3240.0,286.0,107.0,2847.0,1575.0,1272.0
6803,470850000,47207,Pompiey,2,168.0,20.0,148.0,22.0,7.0,119.0,52.0,67.0
6804,352780103,35189,Montgermont,3,2419.0,376.0,2043.0,144.0,34.0,1865.0,1608.0,257.0

In [ ]:
IRIS_COMPLET_1["IRIS"].value_counts().shape[0]+IRIS_COMPLET_2["IRIS"].value_counts().shape[0]

12405

In [ ]:
pd.concat([IRIS_COMPLET_1,IRIS_COMPLET_2], axis=0)["IRIS"].value_counts().shape[0]

12405

In [ ]:
pd.concat([IRIS_COMPLET_1,IRIS_COMPLET_2, IRIS_COMPLET_OUI], axis=0)["IRIS"].value_counts().shape[0]

48590

In [ ]:
# changer les flags
IRIS_COMPLET_1 = IRIS_COMPLET_1.rename(columns={"nb_bv_par_commune":"FLAG"})
IRIS_COMPLET_2 = IRIS_COMPLET_2.rename(columns={"nb_bv_par_commune":"FLAG"})
IRIS_COMPLET_2["FLAG"] = 2

In [ ]:
IRIS_COMPLET_1.head(1)

,IRIS,commune_code,libelle,FLAG,Inscrits,Abstentions,Votants,Blancs,Nuls,Exprimés,Voix_EM,Voix_MLP
0,231670000,23167,Sannat,1,298.0,55.0,243.0,23.0,11.0,209.0,157.0,52.0

In [ ]:
IRIS_COMPLET_1["Voix/Exprimés_EM"] = round(IRIS_COMPLET_1["Voix_EM"]/IRIS_COMPLET_1["Exprimés"]*100,2)
IRIS_COMPLET_1["Voix/Exprimés_MLP"] = round(IRIS_COMPLET_1["Voix_MLP"]/IRIS_COMPLET_1["Exprimés"]*100,2)

In [ ]:
IRIS_COMPLET_2["Voix/Exprimés_EM"] = round(IRIS_COMPLET_2["Voix_EM"]/IRIS_COMPLET_2["Exprimés"]*100,2)
IRIS_COMPLET_2["Voix/Exprimés_MLP"] = round(IRIS_COMPLET_2["Voix_MLP"]/IRIS_COMPLET_2["Exprimés"]*100,2)

In [ ]:
for k in ["Inscrits","Abstentions","Votants","Blancs","Nuls","Exprimés","Voix_EM","Voix_MLP"]:
    IRIS_COMPLET_OUI[k] = IRIS_COMPLET_OUI[k].astype(float)

<ipython-input-49-f2f04c7f83b5>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  IRIS_COMPLET_OUI[k] = IRIS_COMPLET_OUI[k].astype(float)

In [ ]:
IRIS_COMPLET_1

,IRIS,commune_code,libelle,FLAG,Inscrits,Abstentions,Votants,Blancs,Nuls,Exprimés,Voix_EM,Voix_MLP,Voix/Exprimés_EM,Voix/Exprimés_MLP
0,231670000,23167,Sannat,1,298.0,55.0,243.0,23.0,11.0,209.0,157.0,52.0,75.12,24.88
1,422620000,42262,Saint-Maurice-en-Gourgois,1,1206.0,205.0,1001.0,97.0,35.0,869.0,425.0,444.0,48.91,51.09
2,714540000,71454,Saint-Martin-du-Mont,1,141.0,20.0,121.0,11.0,2.0,108.0,70.0,38.0,64.81,35.19
3,710410000,71041,Bois-Sainte-Marie,1,87.0,15.0,72.0,7.0,0.0,65.0,35.0,30.0,53.85,46.15
4,711410000,71041,Bois-Sainte-Marie,1,87.0,15.0,72.0,7.0,0.0,65.0,35.0,30.0,53.85,46.15
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5595,574140000,57380,Laneuveville-lès-Lorquin,1,88.0,17.0,71.0,4.0,1.0,66.0,29.0,37.0,43.94,56.06
5596,100850000,10085,Charmoy,1,48.0,11.0,37.0,5.0,3.0,29.0,18.0,11.0,62.07,37.93
5597,084700000,08098,Champigneulle,1,59.0,9.0,50.0,8.0,0.0,42.0,21.0,21.0,50.00,50.00
5598,621620000,62286,Ecquedecques,1,360.0,55.0,305.0,38.0,12.0,255.0,119.0,136.0,46.67,53.33
5599,050680000,05176,Valserres,1,194.0,36.0,158.0,25.0,4.0,129.0,81.0,48.0,62.79,37.21

In [ ]:
IRIS_COMPLET_2[IRIS_COMPLET_2["libelle"]=="Les Sables-d'Olonne"]

,IRIS,commune_code,libelle,FLAG,Inscrits,Abstentions,Votants,Blancs,Nuls,Exprimés,Voix_EM,Voix_MLP,Voix/Exprimés_EM,Voix/Exprimés_MLP
201,851940301,85194,Les Sables-d'Olonne,2,13890.0,3684.0,10206.0,856.0,358.0,8992.0,6592.0,2400.0,73.31,26.69
202,851940204,85194,Les Sables-d'Olonne,2,13890.0,3684.0,10206.0,856.0,358.0,8992.0,6592.0,2400.0,73.31,26.69
203,851940203,85194,Les Sables-d'Olonne,2,13890.0,3684.0,10206.0,856.0,358.0,8992.0,6592.0,2400.0,73.31,26.69
204,851940302,85194,Les Sables-d'Olonne,2,13890.0,3684.0,10206.0,856.0,358.0,8992.0,6592.0,2400.0,73.31,26.69
205,851940303,85194,Les Sables-d'Olonne,2,13890.0,3684.0,10206.0,856.0,358.0,8992.0,6592.0,2400.0,73.31,26.69
206,851940305,85194,Les Sables-d'Olonne,2,13890.0,3684.0,10206.0,856.0,358.0,8992.0,6592.0,2400.0,73.31,26.69
207,851940304,85194,Les Sables-d'Olonne,2,13890.0,3684.0,10206.0,856.0,358.0,8992.0,6592.0,2400.0,73.31,26.69
208,851940205,85194,Les Sables-d'Olonne,2,13890.0,3684.0,10206.0,856.0,358.0,8992.0,6592.0,2400.0,73.31,26.69
209,851940105,85194,Les Sables-d'Olonne,2,13890.0,3684.0,10206.0,856.0,358.0,8992.0,6592.0,2400.0,73.31,26.69

In [ ]:
#### SOMME 
#IRIS_COMPLET_OUI[IRIS_COMPLET_OUI["libelle"]=="Les Sables-d'Olonne"]
iris_somme_complet_oui= IRIS_COMPLET_OUI[["IRIS","Inscrits","Abstentions","Votants","Blancs","Nuls","Exprimés","Voix_EM","Voix_MLP"]].groupby("IRIS", as_index=False).sum() 
iris_somme_complet_oui

,IRIS,Inscrits,Abstentions,Votants,Blancs,Nuls,Exprimés,Voix_EM,Voix_MLP
0,010010000,598.0,100.0,498.0,37.0,8.0,453.0,272.0,181.0
1,010020000,209.0,32.0,177.0,21.0,6.0,150.0,93.0,57.0
2,010040101,4301.0,1188.0,3113.0,297.0,117.0,2699.0,1531.0,1168.0
3,010040201,1108.0,315.0,793.0,92.0,31.0,670.0,406.0,264.0
4,010040202,3177.0,809.0,2368.0,212.0,69.0,2087.0,1276.0,811.0
...,...,...,...,...,...,...,...,...,...
36180,956800109,2418.0,977.0,1441.0,94.0,32.0,1315.0,1031.0,284.0
36181,956800110,3331.0,1166.0,2165.0,143.0,44.0,1978.0,1425.0,553.0
36182,956800113,2830.0,1152.0,1678.0,100.0,54.0,1524.0,1246.0,278.0
36183,956820000,120.0,18.0,102.0,14.0,2.0,86.0,57.0,29.0
36184,956900000,309.0,53.0,256.0,21.0,7.0,228.0,156.0,72.0

In [ ]:
IRIS_COMPLET_OUI_FINAL = IRIS_COMPLET_OUI[["IRIS","commune_code","libelle"]].drop_duplicates(subset="IRIS").merge(iris_somme_complet_oui)
IRIS_COMPLET_OUI_FINAL

,IRIS,commune_code,libelle,Inscrits,Abstentions,Votants,Blancs,Nuls,Exprimés,Voix_EM,Voix_MLP
0,721910000,72191,Mayet,2321.0,460.0,1861.0,198.0,68.0,1595.0,818.0,777.0
1,811990000,81199,Padiès,167.0,24.0,143.0,13.0,3.0,127.0,84.0,43.0
2,592250102,59225,Feignies,881.0,224.0,657.0,48.0,27.0,582.0,242.0,340.0
3,603970000,60397,Le Mesnil-Conteville,82.0,16.0,66.0,7.0,4.0,55.0,34.0,21.0
4,383820104,38382,Saint-Égrève,1815.0,365.0,1450.0,113.0,14.0,1323.0,1092.0,231.0
...,...,...,...,...,...,...,...,...,...,...,...
36180,674822901,67482,Strasbourg,832.0,273.0,559.0,29.0,5.0,525.0,329.0,196.0
36181,385450101,38545,Vif,4561.0,973.0,3588.0,302.0,80.0,3206.0,1941.0,1265.0
36182,740630000,74063,Châtel,1009.0,244.0,765.0,69.0,13.0,683.0,361.0,322.0
36183,951010000,95101,Bray-et-Lû,626.0,138.0,488.0,31.0,11.0,446.0,205.0,241.0
36184,384030000,38403,Saint-Jean-d'Hérans,291.0,53.0,238.0,21.0,5.0,212.0,138.0,74.0

In [ ]:
 
IRIS_COMPLET_OUI_FINAL["Voix/Exprimés_EM"] = round(IRIS_COMPLET_OUI_FINAL["Voix_EM"]/IRIS_COMPLET_OUI_FINAL["Exprimés"]*100,2)
IRIS_COMPLET_OUI_FINAL["Voix/Exprimés_MLP"] = round(IRIS_COMPLET_OUI_FINAL["Voix_MLP"]/IRIS_COMPLET_OUI_FINAL["Exprimés"]*100,2)

In [ ]:
IRIS_COMPLET_OUI_FINAL

,IRIS,commune_code,libelle,Inscrits,Abstentions,Votants,Blancs,Nuls,Exprimés,Voix_EM,Voix_MLP,Voix/Exprimés_EM,Voix/Exprimés_MLP
0,721910000,72191,Mayet,2321.0,460.0,1861.0,198.0,68.0,1595.0,818.0,777.0,51.29,48.71
1,811990000,81199,Padiès,167.0,24.0,143.0,13.0,3.0,127.0,84.0,43.0,66.14,33.86
2,592250102,59225,Feignies,881.0,224.0,657.0,48.0,27.0,582.0,242.0,340.0,41.58,58.42
3,603970000,60397,Le Mesnil-Conteville,82.0,16.0,66.0,7.0,4.0,55.0,34.0,21.0,61.82,38.18
4,383820104,38382,Saint-Égrève,1815.0,365.0,1450.0,113.0,14.0,1323.0,1092.0,231.0,82.54,17.46
...,...,...,...,...,...,...,...,...,...,...,...,...,...
36180,674822901,67482,Strasbourg,832.0,273.0,559.0,29.0,5.0,525.0,329.0,196.0,62.67,37.33
36181,385450101,38545,Vif,4561.0,973.0,3588.0,302.0,80.0,3206.0,1941.0,1265.0,60.54,39.46
36182,740630000,74063,Châtel,1009.0,244.0,765.0,69.0,13.0,683.0,361.0,322.0,52.86,47.14
36183,951010000,95101,Bray-et-Lû,626.0,138.0,488.0,31.0,11.0,446.0,205.0,241.0,45.96,54.04
36184,384030000,38403,Saint-Jean-d'Hérans,291.0,53.0,238.0,21.0,5.0,212.0,138.0,74.0,65.09,34.91

In [ ]:
IRIS_COMPLET_OUI_FINAL[IRIS_COMPLET_OUI_FINAL["libelle"]=="Les Sables-d'Olonne"]["Exprimés"].sum()

8992.0

In [ ]:
IRIS_COMPLET_2[IRIS_COMPLET_2["libelle"]=="Les Sables-d'Olonne"]

,IRIS,commune_code,libelle,FLAG,Inscrits,Abstentions,Votants,Blancs,Nuls,Exprimés,Voix_EM,Voix_MLP,Voix/Exprimés_EM,Voix/Exprimés_MLP
201,851940301,85194,Les Sables-d'Olonne,2,13890.0,3684.0,10206.0,856.0,358.0,8992.0,6592.0,2400.0,73.31,26.69
202,851940204,85194,Les Sables-d'Olonne,2,13890.0,3684.0,10206.0,856.0,358.0,8992.0,6592.0,2400.0,73.31,26.69
203,851940203,85194,Les Sables-d'Olonne,2,13890.0,3684.0,10206.0,856.0,358.0,8992.0,6592.0,2400.0,73.31,26.69
204,851940302,85194,Les Sables-d'Olonne,2,13890.0,3684.0,10206.0,856.0,358.0,8992.0,6592.0,2400.0,73.31,26.69
205,851940303,85194,Les Sables-d'Olonne,2,13890.0,3684.0,10206.0,856.0,358.0,8992.0,6592.0,2400.0,73.31,26.69
206,851940305,85194,Les Sables-d'Olonne,2,13890.0,3684.0,10206.0,856.0,358.0,8992.0,6592.0,2400.0,73.31,26.69
207,851940304,85194,Les Sables-d'Olonne,2,13890.0,3684.0,10206.0,856.0,358.0,8992.0,6592.0,2400.0,73.31,26.69
208,851940205,85194,Les Sables-d'Olonne,2,13890.0,3684.0,10206.0,856.0,358.0,8992.0,6592.0,2400.0,73.31,26.69
209,851940105,85194,Les Sables-d'Olonne,2,13890.0,3684.0,10206.0,856.0,358.0,8992.0,6592.0,2400.0,73.31,26.69

In [ ]:
# BV COORDONNEES IMPRECISES : IRIS_COMPLET_OUI.drop_duplicates(subset=["IRIS", "commune_code"])

In [ ]:
IRIS_COMPLET_1_2 = pd.concat([IRIS_COMPLET_1,IRIS_COMPLET_2], axis=0).drop(['Inscrits', 'Abstentions',
       'Votants', 'Blancs', 'Nuls', 'Exprimés', 'Voix_EM', 'Voix_MLP'], axis=1)
IRIS_COMPLET_1_2

,IRIS,commune_code,libelle,FLAG,Voix/Exprimés_EM,Voix/Exprimés_MLP
0,231670000,23167,Sannat,1,75.12,24.88
1,422620000,42262,Saint-Maurice-en-Gourgois,1,48.91,51.09
2,714540000,71454,Saint-Martin-du-Mont,1,64.81,35.19
3,710410000,71041,Bois-Sainte-Marie,1,53.85,46.15
4,711410000,71041,Bois-Sainte-Marie,1,53.85,46.15
...,...,...,...,...,...,...
6800,614610000,61167,La Ferté-en-Ouche,2,52.06,47.94
6801,850740000,85135,Mareuil-sur-Lay-Dissais,2,68.87,31.13
6802,371980000,49228,Noyant-Villages,2,55.32,44.68
6803,470850000,47207,Pompiey,2,43.70,56.30
6804,352780103,35189,Montgermont,2,86.22,13.78

In [ ]:
IRIS_COMPLET_1_2["IRIS"].value_counts().shape[0]+IRIS_COMPLET_OUI_FINAL["IRIS"].value_counts().shape[0]

48590

In [ ]:
pd.concat([IRIS_COMPLET_1_2["IRIS"],IRIS_COMPLET_OUI_FINAL["IRIS"] ], axis=0).value_counts().shape[0]

48590

In [ ]:
IRIS_COMPLET_OUI_FINAL["FLAG"]=0
IRIS_COMPLET_OUI_FINAL = IRIS_COMPLET_OUI_FINAL[['IRIS', 'commune_code', 'libelle', 'FLAG', 'Inscrits', 'Abstentions', 'Votants',
       'Blancs', 'Nuls', 'Exprimés', 'Voix_EM', 'Voix_MLP', 'Voix/Exprimés_EM', 'Voix/Exprimés_MLP']] 
IRIS_COMPLET_OUI_FINAL

,IRIS,commune_code,libelle,FLAG,Inscrits,Abstentions,Votants,Blancs,Nuls,Exprimés,Voix_EM,Voix_MLP,Voix/Exprimés_EM,Voix/Exprimés_MLP
0,721910000,72191,Mayet,0,2321.0,460.0,1861.0,198.0,68.0,1595.0,818.0,777.0,51.29,48.71
1,811990000,81199,Padiès,0,167.0,24.0,143.0,13.0,3.0,127.0,84.0,43.0,66.14,33.86
2,592250102,59225,Feignies,0,881.0,224.0,657.0,48.0,27.0,582.0,242.0,340.0,41.58,58.42
3,603970000,60397,Le Mesnil-Conteville,0,82.0,16.0,66.0,7.0,4.0,55.0,34.0,21.0,61.82,38.18
4,383820104,38382,Saint-Égrève,0,1815.0,365.0,1450.0,113.0,14.0,1323.0,1092.0,231.0,82.54,17.46
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36180,674822901,67482,Strasbourg,0,832.0,273.0,559.0,29.0,5.0,525.0,329.0,196.0,62.67,37.33
36181,385450101,38545,Vif,0,4561.0,973.0,3588.0,302.0,80.0,3206.0,1941.0,1265.0,60.54,39.46
36182,740630000,74063,Châtel,0,1009.0,244.0,765.0,69.0,13.0,683.0,361.0,322.0,52.86,47.14
36183,951010000,95101,Bray-et-Lû,0,626.0,138.0,488.0,31.0,11.0,446.0,205.0,241.0,45.96,54.04
36184,384030000,38403,Saint-Jean-d'Hérans,0,291.0,53.0,238.0,21.0,5.0,212.0,138.0,74.0,65.09,34.91

In [ ]:
#AJOUTER CANDIDAT
for k in [IRIS_COMPLET_OUI_FINAL,IRIS_COMPLET_1_2 ]:
    
    k['Nom_MLP']="LE PEN";k['Prénom_MLP']="Marine"
    k['Nom_EM']="MACRON";k['Prénom_EM']="Emmanuel"

<ipython-input-63-ad2956ba5e3b>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  k['Nom_MLP']="LE PEN";k['Prénom_MLP']="Marine"
<ipython-input-63-ad2956ba5e3b>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  k['Nom_EM']="MACRON";k['Prénom_EM']="Emmanuel"

In [ ]:
IRIS_COMPLET_1_2.columns

Index(['IRIS', 'commune_code', 'libelle', 'FLAG', 'Voix/Exprimés_EM',
       'Voix/Exprimés_MLP', 'Nom_MLP', 'Prénom_MLP', 'Nom_EM', 'Prénom_EM'],
      dtype='object')

In [ ]:
IRIS_COMPLET_OUI_FINAL = IRIS_COMPLET_OUI_FINAL[['IRIS', 'commune_code', 'libelle', 'FLAG', 'Inscrits', 'Abstentions',
       'Votants', 'Blancs', 'Nuls', 'Exprimés', 'Nom_EM', 'Prénom_EM', 'Voix_EM', 'Nom_MLP', 'Prénom_MLP', 'Voix_MLP', 'Voix/Exprimés_EM', 'Voix/Exprimés_MLP']]

In [ ]:
IRIS_COMPLET_1_2 = IRIS_COMPLET_1_2[['IRIS', 'commune_code', 'libelle', 'FLAG',  'Nom_EM', 'Prénom_EM', 'Voix/Exprimés_EM',
       'Nom_MLP','Prénom_MLP','Voix/Exprimés_MLP']]

In [ ]:
FINAL_POURCENTAGE =pd.concat([IRIS_COMPLET_OUI_FINAL[IRIS_COMPLET_1_2.columns], IRIS_COMPLET_1_2], axis=0)

In [ ]:
#ENREGISTREMENT
IRIS_COMPLET_OUI_FINAL.to_csv("C:/Users/Christian/Desktop/IRIS_BV_final/PRESIDENTIELLES/SECOND_TOUR/IRIS_FLAG_0_INSCRITS_POURCENTAGE_2_TOUR.txt",sep=";", index=False)
IRIS_COMPLET_1_2.to_csv("C:/Users/Christian/Desktop/IRIS_BV_final/PRESIDENTIELLES/SECOND_TOUR/IRIS_FLAG_1_2_POURCENTAGE_2_TOUR.txt",sep=";", index=False)
FINAL_POURCENTAGE.to_csv("C:/Users/Christian/Desktop/IRIS_BV_final/PRESIDENTIELLES/SECOND_TOUR/IRIS_FINAL_POURCENTAGE_2_TOUR.txt",sep=";", index=False)

In [ ]:
(275.0+83.0)/(1096.0+281.0)*100

25.998547567175017

In [ ]:
IRIS_COMPLET_OUI_FINAL[IRIS_COMPLET_OUI_FINAL["commune_code"]=="75101"]["Inscrits"].sum()

10774.0

In [ ]:
87.0/1738.0*100

5.005753739930955

In [ ]:
IRIS_COMPLET_1_2[IRIS_COMPLET_1_2["commune_code"]=="75101"] # Saint-Martin-du-Mont

,IRIS,commune_code,libelle,FLAG,Nom_EM,Prénom_EM,Voix/Exprimés_EM,Nom_MLP,Prénom_MLP,Voix/Exprimés_MLP
5332,751010303,75101,Paris 1er Arrondissement,2,MACRON,Emmanuel,89.05,LE PEN,Marine,10.95
5333,751020502,75101,Paris 1er Arrondissement,2,MACRON,Emmanuel,89.05,LE PEN,Marine,10.95
5334,751020503,75101,Paris 1er Arrondissement,2,MACRON,Emmanuel,89.05,LE PEN,Marine,10.95
5335,751010201,75101,Paris 1er Arrondissement,2,MACRON,Emmanuel,89.05,LE PEN,Marine,10.95
5336,751010199,75101,Paris 1er Arrondissement,2,MACRON,Emmanuel,89.05,LE PEN,Marine,10.95
5337,751010104,75101,Paris 1er Arrondissement,2,MACRON,Emmanuel,89.05,LE PEN,Marine,10.95
5338,751010202,75101,Paris 1er Arrondissement,2,MACRON,Emmanuel,89.05,LE PEN,Marine,10.95
5339,751020501,75101,Paris 1er Arrondissement,2,MACRON,Emmanuel,89.05,LE PEN,Marine,10.95
5340,751010401,75101,Paris 1er Arrondissement,2,MACRON,Emmanuel,89.05,LE PEN,Marine,10.95
5341,751010101,75101,Paris 1er Arrondissement,2,MACRON,Emmanuel,89.05,LE PEN,Marine,10.95
5342,751010105,75101,Paris 1er Arrondissement,2,MACRON,Emmanuel,89.05,LE PEN,Marine,10.95
5343,751010203,75101,Paris 1er Arrondissement,2,MACRON,Emmanuel,89.05,LE PEN,Marine,10.95

In [ ]:
IRIS_COMPLET_1_2[IRIS_COMPLET_1_2["FLAG"]==2]

,IRIS,commune_code,libelle,FLAG,Nom_EM,Prénom_EM,Voix/Exprimés_EM,Nom_MLP,Prénom_MLP,Voix/Exprimés_MLP
0,900100201,90010,Belfort,2,MACRON,Emmanuel,67.38,LE PEN,Marine,32.62
1,900100502,90010,Belfort,2,MACRON,Emmanuel,67.38,LE PEN,Marine,32.62
2,900100102,90010,Belfort,2,MACRON,Emmanuel,67.38,LE PEN,Marine,32.62
3,900100203,90010,Belfort,2,MACRON,Emmanuel,67.38,LE PEN,Marine,32.62
4,900100501,90010,Belfort,2,MACRON,Emmanuel,67.38,LE PEN,Marine,32.62
...,...,...,...,...,...,...,...,...,...,...
6800,614610000,61167,La Ferté-en-Ouche,2,MACRON,Emmanuel,52.06,LE PEN,Marine,47.94
6801,850740000,85135,Mareuil-sur-Lay-Dissais,2,MACRON,Emmanuel,68.87,LE PEN,Marine,31.13
6802,371980000,49228,Noyant-Villages,2,MACRON,Emmanuel,55.32,LE PEN,Marine,44.68
6803,470850000,47207,Pompiey,2,MACRON,Emmanuel,43.70,LE PEN,Marine,56.30
6804,352780103,35189,Montgermont,2,MACRON,Emmanuel,86.22,LE PEN,Marine,13.78

In [ ]:
np.unique(IRIS_COMPLET_1_2[IRIS_COMPLET_1_2['FLAG']==2]["commune_code"])

array(['01004', '01033', '01053', ..., '95607', '95637', '95680'],
      dtype=object)

In [ ]:
somme_commune[somme_commune["commune_code"]=="85194"]

,commune_code,Inscrits,Abstentions,Votants,Blancs,Nuls,Exprimés,Voix_EM,Voix_MLP
33212,85194,13890.0,3684.0,10206.0,856.0,358.0,8992.0,6592.0,2400.0

In [ ]:
448.0/10558.0*100

4.243227884068952

In [ ]:
657.0/17846.0*100

3.6814972542866746

In [ ]:
CREATION

,IRIS,commune_code,libelle,Code du bvote_sans 0 devant,ID_BV,FLAG
0,721910000,72191,Mayet,1,17428,0
1,721910000,72191,Mayet,2,55161,0
2,811990000,81199,Padiès,1,2567,0
3,592250102,59225,Feignies,3,36765,0
4,603970000,60397,Le Mesnil-Conteville,1,38892,0
...,...,...,...,...,...,...
59028,385450101,38545,Vif,2,47502,0
59029,385450101,38545,Vif,3,47804,0
59030,740630000,74063,Châtel,1,34041,0
59031,951010000,95101,Bray-et-Lû,1,16356,0
59032,384030000,38403,Saint-Jean-d'Hérans,1,5342,0