In [ ]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
pd.set_option("display.max_row",50)
pd.set_option("display.max_columns",130)

In [ ]:
# 6 PARTIES
"""
"LA FRANCE INSOUMISE"
"RENAISSANCE"
"ENVIE D'EUROPE"
"PRENEZ LE POUVOIR"
"UNION DROITE-CENTRE"
"EUROPE ÉCOLOGIE"

#PRESIDENTIELLES

DUPONT-AIGNAN
LE PEN
MACRON
HAMON
MÉLENCHON
FILLON
"""

'\n"LA FRANCE INSOUMISE"\n"RENAISSANCE"\n"ENVIE D\'EUROPE"\n"PRENEZ LE POUVOIR"\n"UNION DROITE-CENTRE"\n"EUROPE ÉCOLOGIE"\n\n#PRESIDENTIELLES\n\nDUPONT-AIGNAN\nLE PEN\nMACRON\nHAMON\nMÉLENCHON\nFILLON\n'

In [ ]:
data_premier_orig = pd.read_csv("C:/Users/Christian/Desktop/IRIS_BV_final/PRESIDENTIELLES/PR17_BVot_T1_FE.txt",sep=";", header=0, dtype=str)
data_premier = data_premier_orig.copy()
data_premier

,Code du département,Libellé du département,Code de la circonscription,Libellé de la circonscription,Code de la commune,Libellé de la commune,Code du bvote,Inscrits,Abstentions,% Abs/Ins,Votants,% Vot/Ins,Blancs,% Blancs/Ins,% Blancs/Vot,Nuls,% Nuls/Ins,% Nuls/Vot,Exprimés,% Exp/Ins,% Exp/Vot,N°Panneau_1,Sexe_1,Nom_1,Prénom_1,Voix_1,% Voix/Ins_1,% Voix/Exp_1,N°Panneau_2,Sexe_2,Nom_2,Prénom_2,Voix_2,% Voix/Ins_2,% Voix/Exp_2,N°Panneau_3,Sexe_3,Nom_3,Prénom_3,Voix_3,% Voix/Ins_3,% Voix/Exp_3,N°Panneau_4,Sexe_4,Nom_4,Prénom_4,Voix_4,% Voix/Ins_4,% Voix/Exp_4,N°Panneau_5,Sexe_5,Nom_5,Prénom_5,Voix_5,% Voix/Ins_5,% Voix/Exp_5,N°Panneau_6,Sexe_6,Nom_6,Prénom_6,Voix_6,% Voix/Ins_6,% Voix/Exp_6,N°Panneau_7,Sexe_7,Nom_7,Prénom_7,Voix_7,% Voix/Ins_7,% Voix/Exp_7,N°Panneau_8,Sexe_8,Nom_8,Prénom_8,Voix_8,% Voix/Ins_8,% Voix/Exp_8,N°Panneau_9,Sexe_9,Nom_9,Prénom_9,Voix_9,% Voix/Ins_9,% Voix/Exp_9,N°Panneau_10,Sexe_10,Nom_10,Prénom_10,Voix_10,% Voix/Ins_10,% Voix/Exp_10,N°Panneau_11,Sexe_11,Nom_11,Prénom_11,Voix_11,% Voix/Ins_11,% Voix/Exp_11,Voix_ARTHAUD,Voix_ASSELINEAU,Voix_CHEMINADE,Voix_DUPONT-AIGNAN,Voix_FILLON,Voix_HAMON,Voix_LASSALLE,Voix_LE PEN,Voix_MACRON,Voix_MÉLENCHON,Voix_POUTOU,TOT,%ARTHAUD,%ASSELINEAU,%CHEMINADE,%DUPONT-AIGNAN,%FILLON,%HAMON,%LASSALLE,%LE PEN,%MACRON,%MÉLENCHON,%POUTOU
0,01,Ain,04,4ème circonscription,001,L'Abergement-Clémenciat,0001,598,92,"15,38",506,"84,62",2,"0,33","0,40",9,"1,51","1,78",495,"82,78","97,83",1,M,DUPONT-AIGNAN,Nicolas,34,"5,69","6,87",2,F,LE PEN,Marine,126,"21,07","25,45",3,M,MACRON,Emmanuel,119,"19,90","24,04",4,M,HAMON,Benoît,29,"4,85","5,86",5,F,ARTHAUD,Nathalie,4,"0,67","0,81",6,M,POUTOU,Philippe,4,"0,67","0,81",7,M,CHEMINADE,Jacques,2,"0,33","0,40",8,M,LASSALLE,Jean,2,"0,33","0,40",9,M,MÉLENCHON,Jean-Luc,59,"9,87","11,92",10,M,ASSELINEAU,François,6,"1,00","1,21",11,M,FILLON,François,110,"18,39","22,22",4,6,2,34,110,29,2,126,119,59,4,495,"0,80","1,21","0,40","6,86","22,22","5,85","0,40","25,45","24,04","11,91","0,80"
1,01,Ain,05,5ème circonscription,002,L'Abergement-de-Varey,0001,209,25,"11,96",184,"88,04",6,"2,87","3,26",2,"0,96","1,09",176,"84,21","95,65",1,M,DUPONT-AIGNAN,Nicolas,6,"2,87","3,41",2,F,LE PEN,Marine,48,"22,97","27,27",3,M,MACRON,Emmanuel,37,"17,70","21,02",4,M,HAMON,Benoît,13,"6,22","7,39",5,F,ARTHAUD,Nathalie,2,"0,96","1,14",6,M,POUTOU,Philippe,2,"0,96","1,14",7,M,CHEMINADE,Jacques,0,"0,00","0,00",8,M,LASSALLE,Jean,0,"0,00","0,00",9,M,MÉLENCHON,Jean-Luc,33,"15,79","18,75",10,M,ASSELINEAU,François,1,"0,48","0,57",11,M,FILLON,François,34,"16,27","19,32",2,1,0,6,34,13,0,48,37,33,2,176,"1,13","0,56","0,00","3,40","19,31","7,38","0,00","27,27","21,02","18,75","1,13"
2,01,Ain,05,5ème circonscription,004,Ambérieu-en-Bugey,0001,1116,233,"20,88",883,"79,12",17,"1,52","1,93",6,"0,54","0,68",860,"77,06","97,40",1,M,DUPONT-AIGNAN,Nicolas,58,"5,20","6,74",2,F,LE PEN,Marine,233,"20,88","27,09",3,M,MACRON,Emmanuel,156,"13,98","18,14",4,M,HAMON,Benoît,47,"4,21","5,47",5,F,ARTHAUD,Nathalie,6,"0,54","0,70",6,M,POUTOU,Philippe,15,"1,34","1,74",7,M,CHEMINADE,Jacques,0,"0,00","0,00",8,M,LASSALLE,Jean,6,"0,54","0,70",9,M,MÉLENCHON,Jean-Luc,216,"19,35","25,12",10,M,ASSELINEAU,François,7,"0,63","0,81",11,M,FILLON,François,116,"10,39","13,49",6,7,0,58,116,47,6,233,156,216,15,860,"0,69","0,81","0,00","6,74","13,48","5,46","0,69","27,09","18,13","25,11","1,74"
3,01,Ain,05,5ème circonscription,004,Ambérieu-en-Bugey,0002,1128,256,"22,70",872,"77,30",19,"1,68","2,18",3,"0,27","0,34",850,"75,35","97,48",1,M,DUPONT-AIGNAN,Nicolas,42,"3,72","4,94",2,F,LE PEN,Marine,234,"20,74","27,53",3,M,MACRON,Emmanuel,183,"16,22","21,53",4,M,HAMON,Benoît,51,"4,52","6,00",5,F,ARTHAUD,Nathalie,5,"0,44","0,59",6,M,POUTOU,Philippe,16,"1,42","1,88",7,M,CHEMINADE,Jacques,1,"0,09","0,12",8,M,LASSALLE,Jean,8,"0,71","0,94",9,M,MÉLENCHON,Jean-Luc,175,"15,51","20,59",10,M,ASSELINEAU,François,11,"0,98","1,29",11,M,FILLON,François,124,"10,99","14,59",5,11,1,42,124,51,8,234,183,175,16,850,"0,58","1,29","0,11","4,94","14,58","6,00","0,94","27,52","21,52","20,58","1,88"
4,01,Ain,05,5ème circonscription,004,Ambérieu-en-Bugey,0003,1116,227,"20,34",889,"79,66",11,"0,99","1,24",4,"0,36","0,45",874,"78,32","98,31",1,M,DUPONT-AIGNAN,Nicolas,47,"4,21","5,38",2,F,LE PEN,Marine,218,"19,53","24,94",3,M,MACRON,Emmanuel,191,"17,11","21,85",4,M,HAMON,Benoît,53,"4,75","6,06",5,F,ARTHAUD,Nathalie,4,"0,36","0,46",6,M,POUTOU,Philippe,12,"1,08","1,37",7,M,CHEMINADE,Jacques,0,"0,00","0,00",8,M,LASSALLE,Jean,11,"0,99","1,26",9,M,MÉLENCHON,Jean-Luc,182,"16,31","20,82",10,M,ASSELINEAU,François,7,"0,63","0,80",11,M,FILLON,François,149,"13,35","17,05",4,7,0,47,149,53,11,218,191,182,12,874,"0,45","0,80","0,00","5,37","17,04","6,06","1,25","24,94","21,85","20,82","1,37"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
69237,ZZ,Français établis hors de France,11,11ème circonscription,226,Wuhan,0001,369,129,"34,96",240,"65,04",2,"0,54","0,83",2,"0,54","0,83",236,"63,96","98,33",1,M,DUPONT-AIGNAN,Nicolas,1,"0,27","0,42",2,F,LE PEN,Marine,16,"4,34","6,78",3,M,MACRON,Emmanuel,115,"31,17","48,73",4,M,HAMON,Benoît,10,"2,71","4,24",5,F,ARTHAUD,Nathalie,2,"0,54","0,85",6,M,POUTOU,Philippe,1,"0,27","0,42",7,M,CHEMINADE,Jacques,0,"0,00","0,00",8,M,LASSALLE,Jean,0,"0,00","0,00",9,M,MÉLENCHON,Jean-Luc,26,"7,05","11,02",10,M,ASSELINEAU,François,3,"0,81","1,27",11,M,FILLON,François,62,"16,80","26,27",2,3,0,1,62,10,0,16,115,26,1,236,"0,84","1,27","0,00","0,42","26,27","4,23","0,00","6,77","48,72","11,01","0,42"
69238,ZZ,Français établis hors de France,10,10ème circonscription,227,Yaounde,0001,1514,800,"52,84",714,"47,16",3,"0,20","0,42",0,"0,00","0,00",711,"46,96","99,58",1,M,DUPONT-AIGNAN,Nicolas,13,"0,86","1,83",2,F,LE PEN,Marine,49,"3,24","6,89",3,M,MACRON,Emmanuel,251,"16,58","35,30",4,M,HAMON,Benoît,63,"4,16","8,86",5,F,ARTHAUD,Nathalie,0,"0,00","0,00",6,M,POUTOU,Philippe,1,"0,07","0,14",7,M,CHEMINADE,Jacques,0,"0,00","0,00",8,M,LASSALLE,Jean,2,"0,13","0,28",9,M,MÉLENCHON,Jean-Luc,131,"8,65","18,42",10,M,ASSELINEAU,François,4,"0,26","0,56",11,M,FILLON,François,197,"13,01","27,71",0,4,0,13,197,63,2,49,251,131,1,711,"0,00","0,56","0,00","1,82","27,70","8,86","0,28","6,89","35,30","18,42","0,14"
69239,ZZ,Français établis hors de France,07,7ème circonscription,228,Zagreb,0001,655,401,"61,22",254,"38,78",2,"0,31","0,79",1,"0,15","0,39",251,"38,32","98,82",1,M,DUPONT-AIGNAN,Nicolas,8,"1,22","3,19",2,F,LE PEN,Marine,35,"5,34","13,94",3,M,MACRON,Emmanuel,92,"14,05","36,65",4,M,HAMON,Benoît,14,"2,14","5,58",5,F,ARTHAUD,Nathalie,0,"0,00","0,00",6,M,POUTOU,Philippe,0,"0,00","0,00",7,M,CHEMINADE,Jacques,0,"0,00","0,00",8,M,LASSALLE,Jean,1,"0,15","0,40",9,M,MÉLENCHON,Jean-Luc,30,"4,58","11,95",10,M,ASSELINEAU,François,6,"0,92","2,39",11,M,FILLON,François,65,"9,92","25,90",0,6,0,8,65,14,1,35,92,30,0,251,"0,00","2,39","0,00","3,18","25,89","5,57","0,39","13,94","36,65","11,95","0,00"
69240,ZZ,Français établis hors de France,06,6ème circonscription,229,Zurich,0001,21477,11129,"51,82",10348,"48,18",47,"0,22","0,45",58,"0,27","0,56",10243,"47,69","98,99",1,M,DUPONT-AIGNAN,Nicolas,205,"0,95","2,00",2,F,LE PEN,Marine,622,"2,90","6,07",3,M,MACRON,Emmanuel,4672,"21,75","45,61",4,M,HAMON,Benoît,567,"2,64","5,54",5,F,ARTHAUD,Nathalie,27,"0,13","0,26",6,M,POUTOU,Philippe,61,"0,28","0,60",7,M,CHEMINADE,Jacques,18,"0,08","0,18",8,M,LASSALLE,Jean,41,"0,19","0,40",9,M,MÉLENCHON,Jean-Luc,1050,"4,89","10,25",10,M,ASSELINEAU,François,87,"0,41","0,85",11,M,FILLON,François,2893,"13,47","28,24",27,87,18,205,2893,567,41,622,4672,1050,61,10243,"0,26","0,84","0,17","2,00","28,24","5,53","0,40","6,07","45,61","10,25","0,59"
69241,ZZ,Français établis hors de France,11,11ème circonscription,231,Taipeh,0001,1204,519,"43,11",685,"56,89",8,"0,66","1,17",1,"0,08","0,15",676,"56,15","98,69",1,M,DUPONT-AIGNAN,Nicolas,8,"0,66","1,18",2,F,LE PEN,Marine,45,"3,74","6,66",3,M,MACRON,Emmanuel,260,"21,59","38,46",4,M,HAMON,Benoît,47,"3,90","6,95",5,F,ARTHAUD,Nathalie,1,"0,08","0,15",6,M,POUTOU,Philippe,2,"0,17","0,30",7,M,CHEMINADE,Jacques,3,"0,25","0,44",8,M,LASSALLE,Jean,6,"0,50","0,89",9,M,MÉLENCHON,Jean-Luc,156,"12,96","23,08",10,M,ASSELINEAU,François,35,"2,91","5,18",11,M,FILLON,François,113,"9,39","16,72",1,35,3,8,113,47,6,45,260,156,2,676,"0,14","5,17","0,44","1,18","16,71","6,95","0,88","6,65","38,46","23,07","0,29"

In [ ]:
data_premier = data_premier[["Code du département","Libellé du département","Code de la circonscription",
"Code de la commune","Libellé de la commune","Code du bvote","Inscrits","Abstentions",
"Votants","Blancs","Nuls","Exprimés",
"Nom_1","Prénom_1","Voix_1",
"Nom_2","Prénom_2","Voix_2",
"Nom_3","Prénom_3","Voix_3",
"Nom_4","Prénom_4","Voix_4",
"Nom_9","Prénom_9","Voix_9",
"Nom_11","Prénom_11","Voix_11"]]

In [ ]:

#EFFACER LES BV A L'ETRANGER
liste_a_effacer=["ZD","ZA","ZB","ZN","ZP","ZZ","ZM","ZC","ZX","ZS","ZW"]
for i in liste_a_effacer:
    data_premier = data_premier[data_premier["Code du département"]!=i]
print(data_premier.shape)
print(len(data_premier["Code du département"].unique()))

(66544, 30)
96

In [ ]:
data_premier["Code du bvote_sans 0 devant"] = data_premier["Code du bvote"].copy()
data_premier.head(4)

,Code du département,Libellé du département,Code de la circonscription,Code de la commune,Libellé de la commune,Code du bvote,Inscrits,Abstentions,Votants,Blancs,Nuls,Exprimés,Nom_1,Prénom_1,Voix_1,Nom_2,Prénom_2,Voix_2,Nom_3,Prénom_3,Voix_3,Nom_4,Prénom_4,Voix_4,Nom_9,Prénom_9,Voix_9,Nom_11,Prénom_11,Voix_11,Code du bvote_sans 0 devant
0,01,Ain,04,001,L'Abergement-Clémenciat,0001,598,92,506,2,9,495,DUPONT-AIGNAN,Nicolas,34,LE PEN,Marine,126,MACRON,Emmanuel,119,HAMON,Benoît,29,MÉLENCHON,Jean-Luc,59,FILLON,François,110,0001
1,01,Ain,05,002,L'Abergement-de-Varey,0001,209,25,184,6,2,176,DUPONT-AIGNAN,Nicolas,6,LE PEN,Marine,48,MACRON,Emmanuel,37,HAMON,Benoît,13,MÉLENCHON,Jean-Luc,33,FILLON,François,34,0001
2,01,Ain,05,004,Ambérieu-en-Bugey,0001,1116,233,883,17,6,860,DUPONT-AIGNAN,Nicolas,58,LE PEN,Marine,233,MACRON,Emmanuel,156,HAMON,Benoît,47,MÉLENCHON,Jean-Luc,216,FILLON,François,116,0001
3,01,Ain,05,004,Ambérieu-en-Bugey,0002,1128,256,872,19,3,850,DUPONT-AIGNAN,Nicolas,42,LE PEN,Marine,234,MACRON,Emmanuel,183,HAMON,Benoît,51,MÉLENCHON,Jean-Luc,175,FILLON,François,124,0002

In [ ]:
# CORRIGER PARIS
for i in range(data_premier.shape[0]):
    if data_premier.iloc[i,1]=="Paris":
        data_premier.iloc[i,3]=str(75100+int(data_premier.iloc[i,5][:2]))[2:]
    if data_premier.iloc[i,4]=="Lyon":
        data_premier.iloc[i,3]=str(69380+int(data_premier.iloc[i,5][:2]))[2:]
    if data_premier.iloc[i,4]=="Marseille":
        data_premier.iloc[i,3]=str(13200+int(data_premier.iloc[i,5][:2]))[2:]

In [ ]:
for i in data_premier.index :
    if data_premier.loc[i,"Code du bvote_sans 0 devant"][0]=="0":
        data_premier.loc[i,"Code du bvote_sans 0 devant"] = data_premier.loc[i,"Code du bvote_sans 0 devant"][1:]
        if data_premier.loc[i,"Code du bvote_sans 0 devant"][0] =="0":
            data_premier.loc[i,"Code du bvote_sans 0 devant"] = data_premier.loc[i,"Code du bvote_sans 0 devant"][1:]
            if data_premier.loc[i,"Code du bvote_sans 0 devant"][0] =="0":
                data_premier.loc[i,"Code du bvote_sans 0 devant"] = data_premier.loc[i,"Code du bvote_sans 0 devant"][1:]

In [ ]:
data_premier

,Code du département,Libellé du département,Code de la circonscription,Code de la commune,Libellé de la commune,Code du bvote,Inscrits,Abstentions,Votants,Blancs,Nuls,Exprimés,Nom_1,Prénom_1,Voix_1,Nom_2,Prénom_2,Voix_2,Nom_3,Prénom_3,Voix_3,Nom_4,Prénom_4,Voix_4,Nom_9,Prénom_9,Voix_9,Nom_11,Prénom_11,Voix_11,Code du bvote_sans 0 devant
0,01,Ain,04,001,L'Abergement-Clémenciat,0001,598,92,506,2,9,495,DUPONT-AIGNAN,Nicolas,34,LE PEN,Marine,126,MACRON,Emmanuel,119,HAMON,Benoît,29,MÉLENCHON,Jean-Luc,59,FILLON,François,110,1
1,01,Ain,05,002,L'Abergement-de-Varey,0001,209,25,184,6,2,176,DUPONT-AIGNAN,Nicolas,6,LE PEN,Marine,48,MACRON,Emmanuel,37,HAMON,Benoît,13,MÉLENCHON,Jean-Luc,33,FILLON,François,34,1
2,01,Ain,05,004,Ambérieu-en-Bugey,0001,1116,233,883,17,6,860,DUPONT-AIGNAN,Nicolas,58,LE PEN,Marine,233,MACRON,Emmanuel,156,HAMON,Benoît,47,MÉLENCHON,Jean-Luc,216,FILLON,François,116,1
3,01,Ain,05,004,Ambérieu-en-Bugey,0002,1128,256,872,19,3,850,DUPONT-AIGNAN,Nicolas,42,LE PEN,Marine,234,MACRON,Emmanuel,183,HAMON,Benoît,51,MÉLENCHON,Jean-Luc,175,FILLON,François,124,2
4,01,Ain,05,004,Ambérieu-en-Bugey,0003,1116,227,889,11,4,874,DUPONT-AIGNAN,Nicolas,47,LE PEN,Marine,218,MACRON,Emmanuel,191,HAMON,Benoît,53,MÉLENCHON,Jean-Luc,182,FILLON,François,149,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
66539,95,Val-d'Oise,08,680,Villiers-le-Bel,0011,1199,345,854,13,7,834,DUPONT-AIGNAN,Nicolas,27,LE PEN,Marine,135,MACRON,Emmanuel,157,HAMON,Benoît,58,MÉLENCHON,Jean-Luc,283,FILLON,François,132,11
66540,95,Val-d'Oise,08,680,Villiers-le-Bel,0012,981,317,664,11,9,644,DUPONT-AIGNAN,Nicolas,17,LE PEN,Marine,96,MACRON,Emmanuel,157,HAMON,Benoît,67,MÉLENCHON,Jean-Luc,193,FILLON,François,87,12
66541,95,Val-d'Oise,08,680,Villiers-le-Bel,0013,713,275,438,12,13,413,DUPONT-AIGNAN,Nicolas,5,LE PEN,Marine,41,MACRON,Emmanuel,92,HAMON,Benoît,41,MÉLENCHON,Jean-Luc,192,FILLON,François,28,13
66542,95,Val-d'Oise,09,682,Villiers-le-Sec,0001,120,10,110,3,1,106,DUPONT-AIGNAN,Nicolas,5,LE PEN,Marine,17,MACRON,Emmanuel,26,HAMON,Benoît,10,MÉLENCHON,Jean-Luc,21,FILLON,François,21,1
66543,95,Val-d'Oise,01,690,Wy-dit-Joli-Village,0001,309,46,263,2,0,261,DUPONT-AIGNAN,Nicolas,14,LE PEN,Marine,47,MACRON,Emmanuel,70,HAMON,Benoît,8,MÉLENCHON,Jean-Luc,45,FILLON,François,72,1

In [ ]:
# IL N'Y A PAS DE DOUBLONS

In [ ]:
data_premier["commune_code"]=data_premier["Code du département"]+data_premier["Code de la commune"]
data_premier.head(1)

,Code du département,Libellé du département,Code de la circonscription,Code de la commune,Libellé de la commune,Code du bvote,Inscrits,Abstentions,Votants,Blancs,Nuls,Exprimés,Nom_1,Prénom_1,Voix_1,Nom_2,Prénom_2,Voix_2,Nom_3,Prénom_3,Voix_3,Nom_4,Prénom_4,Voix_4,Nom_9,Prénom_9,Voix_9,Nom_11,Prénom_11,Voix_11,Code du bvote_sans 0 devant,commune_code
0,01,Ain,04,001,L'Abergement-Clémenciat,0001,598,92,506,2,9,495,DUPONT-AIGNAN,Nicolas,34,LE PEN,Marine,126,MACRON,Emmanuel,119,HAMON,Benoît,29,MÉLENCHON,Jean-Luc,59,FILLON,François,110,1,01001

In [ ]:
########################################################################
data_recensement_orig = pd.read_csv("C:/Users/Christian/Desktop/IRIS_BV_final/PRESIDENTIELLES/RECENSEMENT_IRIS__BV_reconcialiation.txt",sep=";", header=0, low_memory=False, dtype=str)
data_recensement = data_recensement_orig.copy()
print(data_recensement.shape)
data_recensement.head(1)

(78398, 81)

,IRIS,ID_BV,commune_code,libelle,code,Code du bvote,Code du bvote_sans 0 devant,libelle_bv,num_voie,voie,code_postal,commune,canton_code,circonscription_code,longitude,latitude,geo_score,C17_MEN,C17_MENPSEUL,C17_MENHSEUL,C17_MENFSEUL,C17_MENSFAM,C17_MENFAM,C17_MENCOUPSENF,C17_MENCOUPAENF,C17_MENFAMMONO,C17_PMEN,C17_PMEN_MENPSEUL,C17_PMEN_MENHSEUL,C17_PMEN_MENFSEUL,C17_PMEN_MENSFAM,C17_PMEN_MENFAM,C17_PMEN_MENCOUPSENF,C17_PMEN_MENCOUPAENF,C17_PMEN_MENFAMMONO,P17_POP15P,P17_POP1524,P17_POP2554,P17_POP5579,P17_POP80P,P17_POPMEN15P,P17_POPMEN1524,P17_POPMEN2554,P17_POPMEN5579,P17_POPMEN80P,P17_POP15P_PSEUL,P17_POP1524_PSEUL,P17_POP2554_PSEUL,P17_POP5579_PSEUL,P17_POP80P_PSEUL,P17_POP15P_MARIEE,P17_POP15P_PACSEE,P17_POP15P_CONCUB_UNION_LIBRE,P17_POP15P_VEUFS,P17_POP15P_DIVORCEE,P17_POP15P_CELIBATAIRE,C17_MEN_CS1,C17_MEN_CS2,C17_MEN_CS3,C17_MEN_CS4,C17_MEN_CS5,C17_MEN_CS6,C17_MEN_CS7,C17_MEN_CS8,C17_PMEN_CS1,C17_PMEN_CS2,C17_PMEN_CS3,C17_PMEN_CS4,C17_PMEN_CS5,C17_PMEN_CS6,C17_PMEN_CS7,C17_PMEN_CS8,C17_FAM,C17_COUPAENF,C17_FAMMONO,C17_COUPSENF,C17_NE24F0,C17_NE24F1,C17_NE24F2,C17_NE24F3,C17_NE24F4P
0,721910000,17428,72191,Mayet,1,0001,1,ECOLE ST EXUPERY NORD,NaN,Rue Paul FOURNIER,72360,MAYET,72-08,72-03,0.271986000000000,47.759019000000002,0.94,1372.65678220089,447.579121498123,172.928296942457,274.650824555666,25.0027324900068,900.074928212759,503.362514570496,331.497706032145,65.2147076101184,3032.89428399957,447.579121498123,172.928296942457,274.650824555666,69.8756207737611,2515.43954172768,1056.07476690597,1299.08322648915,160.28154833256,2586.4560091875,246.675066330521,1042.37837329437,920.389018607399,377.01355095521,2476.44042734743,246.675066330521,1042.37837329437,908.3873187703,278.999668952236,455.716923707181,13.2239285897173,125.118708964248,194.290027741231,123.084258411984,1288.91525550116,84.530200374592,324.373782323855,305.360627814329,136.621543950553,446.654599223008,35.2223295589629,85.279155520177,24.8624749303227,124.925647361331,194.850379405266,275.1411906951,591.734387098183,40.6412176315461,75.1515734910646,209.166325355455,84.1941983749051,357.77696798547,561.762877007348,755.406582053172,943.756209133682,45.6795505984689,900.074928212759,331.497706032145,65.2147076101184,503.362514570496,528.317902752867,135.04120453251,173.183821580618,49.0227639293319,14.5092354174314

In [ ]:
data_recensement=data_recensement[["IRIS","ID_BV","commune_code","libelle","Code du bvote_sans 0 devant","longitude","latitude"]]

for i in data_recensement.columns:
    data_recensement.loc[:,i]=data_recensement.loc[:,i].astype(str)

In [ ]:
data_recensement.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 78398 entries, 0 to 78397
Data columns (total 7 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   IRIS                         78398 non-null  object
 1   ID_BV                        78398 non-null  object
 2   commune_code                 78398 non-null  object
 3   libelle                      78398 non-null  object
 4   Code du bvote_sans 0 devant  78398 non-null  object
 5   longitude                    78398 non-null  object
 6   latitude                     78398 non-null  object
dtypes: object(7)
memory usage: 4.2+ MB

In [ ]:
# PAS DE 0
for i in data_recensement.index :
    try :
        data_recensement.loc[i,"Code du bvote_sans 0 devant"] = str(int(data_recensement.loc[i,"Code du bvote_sans 0 devant"]))
    except:
        continue
        
print((data_recensement["Code du bvote_sans 0 devant"]=="01").sum())

0

In [ ]:
for i in data_recensement.index :
    try:
        int(data_recensement.loc[i,"Code du bvote_sans 0 devant"])
    except:
        print(data_recensement.loc[i,"Code du bvote_sans 0 devant"])

1-1
1 - 2
1 - 1
L-2
L-1
L-3
1 - 2
24.1
1 - 1
1 - 1
17-84
17-81
17-82
17-83
18-43
18-41
18-42
16-11
16-42
16-13
16-41
16-43
16-12
15-36
15-35
15-33
15-31
15-32
15-37
15-34
1 - 2
1 - 1
1 - 1
2 - 1
1 - 2
1-2
1 - 1
1 - 1
1 - 1
1 - 1
2 - 2
2 - 1
1 - 1
1 - 1
1 - 1
2-1
1-1
1 - 2
83A
2-1
1-1
1-2
BUR
1 - 1
B04
1 - 2
15-41
15-21
15-22
15-42
1 - 1
1 - 1
1 - 1
1 - 2
H21
H11
M1
1 - 1
1 - 2
A-1
A-2
17-41
17-42
1 - 1
1 - 1
1 - 1
1 - 2
1 - 1
1 - 2
2 - 2
1-2
1 - 2
1 - 1
1 - 1
1 - 1
1 - 1
1 - 1
1 - 2
1 - 1
1 - 2
1 - 1
1 - 2
1 - 2
1 - 1
1 - 1
1 - 1
1 - 2
1 - 1
1 - 2
1 - 1
1-1
1 - 2
1 - 1
1-2
1 - 1
B02
B01
1 - 2
1 - 2
1 - 1
1 - 1
1 - 2
1 - 2
1 - 1
1-2
2-2
M1
1A
6C
5C
4B
2A
3B
E-3
E-1
E-2
1 - 2
1 - 2
192A
1 - 1
1-1
A1
1-2
1 - 1
Bureau 1
Bureau 2
1-1
1 - 1
15-71
15-72
15-73
1 - 1
1 - 1
1LC
1 - 2
1 - 2
A2
A1
1 - 2
1 - 1
1 - 3
1 - 1
1 - 2
1 - 1
1 - 1
1 - 3
16-31
16-34
16-36
16-33
16-32
16-35
1 - 2
1-1
1 - 1
F31
F11
1 - 1
A1
1-1
1 - 1
1 - 1
1-1
1.1
3.1
3.2
1-2
A1
A2
1 - 2
1 - 1
1-1
2 - 2
1-1
10.3
10.2
10.1
1 - 2
1 - 3
1 - 1
1 - 2
1 - 2
1 - 2
1-2
1 - 1
B12
B13
1-2
1 - 2
2 - 2
1 - 2
1 - 1
1 - 1
1 - 1
15.1
15.2
B11
5C
1A
1D
1C
5A
1E
5B
1-2
1 - 1
K-1
K-2
1 - 1
1 - 1
15-57
15-58
15-55
15-51
15-52
15-53
15-54
15-56
A1
1 - 2
1 - 1
1 - 1
2 - 1
1 - 2
1 - 1
1-2
3-2
4-2
B-1
B-2
1 - 1
1 - 2
1 - 1
1 - 2
1 - 1
G-1
G-2
1-3
2-2
1 - 1
B07
1 - 1
1 - 1
1 - 3
1-2
1 - 2
2 - 2
1 - 1
2 - 1
1 - 2
2 - 2
B1
1 - 1
69A
1 - 1
1 - 1
1 - 1
B15
B14
1 - 2
1 - 1
112A
1 - 1
81A
1N
2N
1 - 1
1-1
1-2
1 - 1
4.1
4.2
4.3
4.4
182A
1 - 1
1 - 1
17-11
17-12
1 - 1
1 - 1
1 - 2
1-1
D11
1-2
1 - 2
1-2
1 - 1
1 - 1
1-1
1 - 1
F-1
F-2
1 - 2
1-1
1 - 1
1 - 1
D21
A11
A21
1 - 2
1 - 2
18-51
1 - 1
1 - 2
1 - 1
1 - 1
1-2
A1
1 - 2
1 - 1
1 - 1
2 - 1
A1
A2
1 - 1
unique
17-71
17-72
3C
3D
3B
3A
3E
1 - 2
B11
1 - 2
1 - 1
1 - 2
1 - 2
17-31
17-32
1 - 1
J-2
J-1
1- 1
19.2
19.1
19.3
1 - 1
17-52
17-51
17-53
1 - 1
1 - 1
1-2
B1
1 - 2
1 - 1
1 - 1
1 - 1
1 - 1
198A
23.1
23.2
23.3
1 - 1
1 - 1
2 - 2
2 - 1
1 - 2
1 - 2
C-3
D-1
D-2
C-2
D-3
1 - 1
1 - 1
20.1
18.1
18.2
18.3
1-1
1 - 1
1 - 2
7A
8A
1 - 1
1-2
1 - 2
1-3
1 - 3
1 - 2
1 - 1
1 - 2
18-24
18-21
18-25
18-22
18-23
1 - 3
1 - 2
1-1
1 - 1
1 - 2
1 - 1
C21
F21
G11
G21
1 - 3
1 - 1
1 - 1
1 - 2
1 - 1
1 - 1
1 - 1
1 - 2
1-2
1 - 2
1 - 1
1 - 1
1 - 1
1 - 1
1 - 2
1 - 1
1 - 2
1 - 2
1 - 1
2-2
1-2
1 - 2
B06
14.1
14.2
1 - 1
1 - 1
15-61
15-62
15-63
1-1
2-1
1-1
1 - 2
1 - 3
1 - 2
H-1
1 - 1
1 - 2
1 - 1
1 - 1
2S
1S
1 - 2
1 - 1
1-2
1C
4C
2C
3C
A1
18-31
1 - 1
1 - 1
C-1
2-2
1-2
3-2
3-3
4-3
4-2
1 - 2
1 - 1
1 - 2
1 - 1
1 - 1
1 - 2
1 - 3
2A
3A
4A
6A
5A
1A
1 - 1
1 - 1
16-61
16-62
1 - 2
1 - 1
22.1
22.2
1 - 1
1 - 1
nan
1 - 1
1 - 2
1 - 1
1 - 2
1 - 1
1 - 1
1 - 2
1 - 1
M1 - 3
1 - 1
1 - 2
1 - 1
1 - 2
1 - 2
2.2
2.1
16-52
16-51
1 - 1
E31
E21
E11
E41
1 - 2
18-32
1 - 1
1 - 2
1 - 1
6.1
6.2
1 - 1
1 - 1
1 - 1
1 - 3
1 - 2
B08
18-64
18-62
18-61
18-63
1 - 1
1 - 1
1 - 1
1 - 1
1 - 1
11.3
11.1
11.2
1 - 1
15-82
15-81
1 - 2
B03
1-3
1-2
9.2
9.1
7.1
7.2
9.3
7.3
1 - 1
1-1
1 - 2
1 - 1
1 - 1
1 - 1
B01
B02
B03
B05
1 - 2
1 - 1
1 - 1
12.1
18-11
18-12
17-21
B1
1-1
1 - 1
1 - 1
17-62
17-63
17-61
17-64
1 - 1
1 - 2
1-1
1 - 2
38B
1B
1-1
1 - 2
1 - 2
21.1
21.2
1 - 1
1-2
1 - 2
16.2
16.1
16.3
16.4
1 - 1
1 -1
1 - 1
16-23
16-21
16-22
1 - 2
B05
B10
1 - 1
1 - 1
1-1
1 - 1
1-2
1 - 2
1-3
1 - 1
1 -1
1 - 2
1 - 2
1 - 1
1 - 3
1 - 1
1-3
N-1
N-2
1 - 1
1 - 1
1 - 1
2 -1
17.1
17.3
17.2
1 - 1
1 -1
1 - 1
1 - 1
1 - 2
1 - 2
1-2
1 - 1
1 - 1
A5
A1
A2
A6
A4
A3
1 - 2
1-2
1 - 1
1-1
1 - 1
3 - 1
4 - 1
2 - 1
13 - 2
3 - 1
B01
B05
B03
B04
B06
B02
1 - 1
1 - 2
1 - 1
1 - 2
1 - 1
1 - 1
1 - 1
Unique
UN
1 - 1
1 - 2
1 - 1
B04
1 - 1
15-11
13.3
13.1
13.2
C09
1 - 1
8.1
1 - 1
1 - 1
1 - 1
1-1
1-1
1-2
1 - 1
1-2
1 - 1
5.2
5.1
M-1
1 - 2
198A
unique
7.1
7.2
7.3
3C
3D
3B
3A
3E
E-3
E-1
E-2
1 - 1
16-23
16-21
16-22
1 - 1
1 - 1
2 - 2
A2
1 - 1
1 - 2
1 - 1
J-2
J-1
1-2
1A
6C
5C
4B
2A
3B
1 - 2
15-36
15-35
15-33
15-31
15-32
15-37
15-34
1 - 1
1 - 2
81A
16-52
16-51
K-1
K-2
4.1
4.2
4.3
4.4
18-64
18-62
18-61
18-63
69A
1 - 1
15-61
15-62
15-63
17-62
17-63
17-61
17-64
1-1
1 - 1
81A
3 - 1
4 - 1
1 - 1
1A
1D
1C
1E
1 - 2
14.1
14.2
18.1
18.2
18.3
F31
F11
22.1
22.2
5.2
5.1
3.1
3.2
3C
3D
3B
3A
3E
16-31
16-34
16-36
16-33
16-32
16-35
1 - 1
1 - 1
1 - 1
18-43
18-41
18-42
6.1
6.2
1 - 2
4.1
4.2
4.3
4.4
1 - 1
1 - 1
1 - 2
F31
F11
1 - 1
1 -1
1 - 2
112A
19.2
19.1
19.3
F31
F11
1-2
15.1
15.2
23.1
23.2
23.3
D11
1 - 1
16-31
16-34
16-36
16-33
16-32
16-35
1 - 2
1 -1
1-2
15-21
15-22
21.1
21.2
1 - 1
17.1
17.3
17.2
1 - 1
1 - 2
1 - 1
81A
18-11
18-12
1 - 1
17-11
17-12
1 - 2
1 - 1
1 - 1
15-57
15-58
15-55
15-51
15-52
15-53
15-54
15-56
1 - 2
18-51
1 - 1
1 - 1
1 - 2
1 - 1
1 - 1
1 - 1
10.3
10.2
10.1
112A
B11
16-61
16-62
1-2
1-2
1 - 2
2-2
15-57
15-58
15-55
15-51
15-52
15-53
15-54
15-56
5C
5A
5B
69A
1-2
17-62
17-63
17-61
17-64
16-52
16-51
1 - 2
7.1
7.2
7.3
1 - 2
1 - 1
1 - 2
81A
1 - 2
3-2
1 - 2
2 - 2
2 - 1
1 - 1
B10
5.2
5.1
13.3
13.1
13.2
1 - 2
17-71
17-72
B01
B05
B03
B04
B06
B02
1 - 1
A2
18-64
18-62
18-61
18-63
1-2
16.2
16.1
16.3
16.4
1B
1-1
1 - 2
20.1
1 - 2
1 - 2
1 - 1
16-42
16-41
16-43
23.1
23.2
23.3
1 - 1
1 - 2
1 - 1
1 - 2
20.1
1-2
1-1
17-41
17-42
1 - 1
15-36
15-35
15-33
15-31
15-32
15-37
15-34
1 - 1
1A
6C
5C
4B
2A
3B
1- 1
15-57
15-58
15-55
15-51
15-52
15-53
15-54
15-56
E31
E21
E11
E41
D-1
D-2
D-3
A1
1 -1
14.1
14.2
J-2
J-1
15-41
15-42
M1
1- 1
1-1
18-24
18-21
18-25
18-22
18-23
3.1
3.2
1 - 3
L-3
1 - 1
1-2
1 - 1
1 - 1
1A
1D
1C
1E
1 - 1
182A
1 - 1
15-57
15-58
15-55
15-51
15-52
15-53
15-54
15-56
1-2
2S
1S
1 - 1
7.1
7.2
7.3
1 - 1
18.1
18.2
18.3
B15
17-52
17-51
17-53
22.1
22.2
1 - 1
5C
5A
5B
1 - 1
1 - 1
1 - 1
1 - 2
15-41
15-42
7.1
7.2
7.3
1 - 1
1-2
1 - 1
16-31
16-34
16-36
16-33
16-32
16-35
B01
B05
B03
B04
B06
B02
A11
A21
1-1
1 - 1
1 - 2

In [ ]:

# 
print(data_premier.shape, data_recensement.shape)

data_premier.head(1)
data_recensement.head(1)

(66544, 32) (78398, 7)

,IRIS,ID_BV,commune_code,libelle,Code du bvote_sans 0 devant,longitude,latitude
0,721910000,17428,72191,Mayet,1,0.271986000000000,47.759019000000002

In [ ]:
###################################################################
#                          JOINTURE A GAUCHE
###################################################################

In [ ]:
JOINTURE = data_recensement.merge(data_premier, on = ["commune_code","Code du bvote_sans 0 devant"],how= "left")
print(JOINTURE.shape)
JOINTURE.head(2)

(78398, 37)

,IRIS,ID_BV,commune_code,libelle,Code du bvote_sans 0 devant,longitude,latitude,Code du département,Libellé du département,Code de la circonscription,Code de la commune,Libellé de la commune,Code du bvote,Inscrits,Abstentions,Votants,Blancs,Nuls,Exprimés,Nom_1,Prénom_1,Voix_1,Nom_2,Prénom_2,Voix_2,Nom_3,Prénom_3,Voix_3,Nom_4,Prénom_4,Voix_4,Nom_9,Prénom_9,Voix_9,Nom_11,Prénom_11,Voix_11
0,721910000,17428,72191,Mayet,1,0.271986000000000,47.759019000000002,72,Sarthe,03,191,Mayet,0001,1405,223,1182,29,11,1142,DUPONT-AIGNAN,Nicolas,48,LE PEN,Marine,332,MACRON,Emmanuel,185,HAMON,Benoît,45,MÉLENCHON,Jean-Luc,178,FILLON,François,298
1,721910000,55161,72191,Mayet,2,0.271986000000000,47.759019000000002,72,Sarthe,03,191,Mayet,0002,916,160,756,15,5,736,DUPONT-AIGNAN,Nicolas,33,LE PEN,Marine,190,MACRON,Emmanuel,125,HAMON,Benoît,37,MÉLENCHON,Jean-Luc,124,FILLON,François,200

In [ ]:
IRIS_A_COMPLETER_TOUS = JOINTURE[JOINTURE["Libellé du département"].isnull()] # absent
IRIS_COMPLET = JOINTURE[JOINTURE["Libellé du département"].isnull()==False]

In [ ]:
# doublons
IRIS_A_COMPLETER_TOUS["IRIS"].value_counts().shape[0]+IRIS_COMPLET["IRIS"].value_counts().shape[0]-JOINTURE["IRIS"].value_counts().shape[0]

679

In [ ]:
# on élimine les doublons de IRIS_A_COMPLETER
jointure_temporaire = IRIS_A_COMPLETER_TOUS.merge(IRIS_COMPLET,on = "IRIS" , how="left")
IRIS_A_COMPLETER_UNIQUE = jointure_temporaire[jointure_temporaire["Voix_11_y"].isnull()] # absent
IRIS_A_COMPLETER_UNIQUE.head(1)

,IRIS,ID_BV_x,commune_code_x,libelle_x,Code du bvote_sans 0 devant_x,longitude_x,latitude_x,Code du département_x,Libellé du département_x,Code de la circonscription_x,Code de la commune_x,Libellé de la commune_x,Code du bvote_x,Inscrits_x,Abstentions_x,Votants_x,Blancs_x,Nuls_x,Exprimés_x,Nom_1_x,Prénom_1_x,Voix_1_x,Nom_2_x,Prénom_2_x,Voix_2_x,Nom_3_x,Prénom_3_x,Voix_3_x,Nom_4_x,Prénom_4_x,Voix_4_x,Nom_9_x,Prénom_9_x,Voix_9_x,Nom_11_x,Prénom_11_x,Voix_11_x,ID_BV_y,commune_code_y,libelle_y,Code du bvote_sans 0 devant_y,longitude_y,latitude_y,Code du département_y,Libellé du département_y,Code de la circonscription_y,Code de la commune_y,Libellé de la commune_y,Code du bvote_y,Inscrits_y,Abstentions_y,Votants_y,Blancs_y,Nuls_y,Exprimés_y,Nom_1_y,Prénom_1_y,Voix_1_y,Nom_2_y,Prénom_2_y,Voix_2_y,Nom_3_y,Prénom_3_y,Voix_3_y,Nom_4_y,Prénom_4_y,Voix_4_y,Nom_9_y,Prénom_9_y,Voix_9_y,Nom_11_y,Prénom_11_y,Voix_11_y
0,231670000,2759,23167,Sannat,1-1,2.406418000000000,46.119498000000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
# vérification
IRIS_A_COMPLETER_UNIQUE["IRIS"].value_counts().shape[0]+IRIS_COMPLET["IRIS"].value_counts().shape[0]-JOINTURE["IRIS"].value_counts().shape[0]

0

In [ ]:
# PRISE D'UNE PARTIE DE LA BASE DE DONNEES DE IRIS_A_COMPLETER_TOUS
IRIS_A_COMPLETER_UNIQUE = IRIS_A_COMPLETER_UNIQUE[["IRIS","ID_BV_x","commune_code_x","libelle_x","Code du bvote_sans 0 devant_x","longitude_x","latitude_x"]]
IRIS_A_COMPLETER_UNIQUE.columns = ["IRIS","ID_BV","commune_code","libelle","Code du bvote_sans 0 devant","longitude","latitude"]
IRIS_A_COMPLETER_UNIQUE.head(1)

,IRIS,ID_BV,commune_code,libelle,Code du bvote_sans 0 devant,longitude,latitude
0,231670000,2759,23167,Sannat,1-1,2.406418000000000,46.119498000000000

In [ ]:
JOINTURE[JOINTURE["commune_code"]=="72191"]

,IRIS,ID_BV,commune_code,libelle,Code du bvote_sans 0 devant,longitude,latitude,Code du département,Libellé du département,Code de la circonscription,Code de la commune,Libellé de la commune,Code du bvote,Inscrits,Abstentions,Votants,Blancs,Nuls,Exprimés,Nom_1,Prénom_1,Voix_1,Nom_2,Prénom_2,Voix_2,Nom_3,Prénom_3,Voix_3,Nom_4,Prénom_4,Voix_4,Nom_9,Prénom_9,Voix_9,Nom_11,Prénom_11,Voix_11
0,721910000,17428,72191,Mayet,1,0.271986000000000,47.759019000000002,72,Sarthe,03,191,Mayet,0001,1405,223,1182,29,11,1142,DUPONT-AIGNAN,Nicolas,48,LE PEN,Marine,332,MACRON,Emmanuel,185,HAMON,Benoît,45,MÉLENCHON,Jean-Luc,178,FILLON,François,298
1,721910000,55161,72191,Mayet,2,0.271986000000000,47.759019000000002,72,Sarthe,03,191,Mayet,0002,916,160,756,15,5,736,DUPONT-AIGNAN,Nicolas,33,LE PEN,Marine,190,MACRON,Emmanuel,125,HAMON,Benoît,37,MÉLENCHON,Jean-Luc,124,FILLON,François,200

In [ ]:
#test
JOINTURE

,IRIS,ID_BV,commune_code,libelle,Code du bvote_sans 0 devant,longitude,latitude,Code du département,Libellé du département,Code de la circonscription,Code de la commune,Libellé de la commune,Code du bvote,Inscrits,Abstentions,Votants,Blancs,Nuls,Exprimés,Nom_1,Prénom_1,Voix_1,Nom_2,Prénom_2,Voix_2,Nom_3,Prénom_3,Voix_3,Nom_4,Prénom_4,Voix_4,Nom_9,Prénom_9,Voix_9,Nom_11,Prénom_11,Voix_11
0,721910000,17428,72191,Mayet,1,0.271986000000000,47.759019000000002,72,Sarthe,03,191,Mayet,0001,1405,223,1182,29,11,1142,DUPONT-AIGNAN,Nicolas,48,LE PEN,Marine,332,MACRON,Emmanuel,185,HAMON,Benoît,45,MÉLENCHON,Jean-Luc,178,FILLON,François,298
1,721910000,55161,72191,Mayet,2,0.271986000000000,47.759019000000002,72,Sarthe,03,191,Mayet,0002,916,160,756,15,5,736,DUPONT-AIGNAN,Nicolas,33,LE PEN,Marine,190,MACRON,Emmanuel,125,HAMON,Benoît,37,MÉLENCHON,Jean-Luc,124,FILLON,François,200
2,811990000,2567,81199,Padiès,1,2.387936000000000,44.037731000000001,81,Tarn,01,199,Padiès,0001,168,26,142,1,4,137,DUPONT-AIGNAN,Nicolas,13,LE PEN,Marine,27,MACRON,Emmanuel,32,HAMON,Benoît,8,MÉLENCHON,Jean-Luc,30,FILLON,François,20
3,592250102,36765,59225,Feignies,3,3.920591000000000,50.297097999999998,59,Nord,03,225,Feignies,0003,881,217,664,10,3,651,DUPONT-AIGNAN,Nicolas,32,LE PEN,Marine,282,MACRON,Emmanuel,98,HAMON,Benoît,30,MÉLENCHON,Jean-Luc,124,FILLON,François,59
4,603970000,38892,60397,Le Mesnil-Conteville,1,2.058362000000000,49.668540000000000,60,Oise,02,397,Le Mesnil-Conteville,0001,82,9,73,6,0,67,DUPONT-AIGNAN,Nicolas,3,LE PEN,Marine,20,MACRON,Emmanuel,7,HAMON,Benoît,2,MÉLENCHON,Jean-Luc,9,FILLON,François,24
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
78393,910270114,39698,91027,Athis-Mons,16,2.385880000000000,48.710135000000001,91,Essonne,07,027,Athis-Mons,0016,984,202,782,9,8,765,DUPONT-AIGNAN,Nicolas,61,LE PEN,Marine,95,MACRON,Emmanuel,208,HAMON,Benoît,76,MÉLENCHON,Jean-Luc,183,FILLON,François,120
78394,910270114,44900,91027,Athis-Mons,1,2.385880000000000,48.710135000000001,91,Essonne,07,027,Athis-Mons,0001,1180,342,838,18,5,815,DUPONT-AIGNAN,Nicolas,35,LE PEN,Marine,171,MACRON,Emmanuel,164,HAMON,Benoît,85,MÉLENCHON,Jean-Luc,251,FILLON,François,80
78395,104300000,8531,51377,Montépreux,1,4.138896000000000,48.712504000000003,51,Marne,05,377,Montépreux,0001,33,8,25,0,0,25,DUPONT-AIGNAN,Nicolas,0,LE PEN,Marine,1,MACRON,Emmanuel,5,HAMON,Benoît,0,MÉLENCHON,Jean-Luc,4,FILLON,François,11
78396,394510000,27758,39452,Rans,1,5.727725000000000,47.141947000000002,39,Jura,03,452,Rans,0001,339,49,290,5,7,278,DUPONT-AIGNAN,Nicolas,24,LE PEN,Marine,91,MACRON,Emmanuel,50,HAMON,Benoît,10,MÉLENCHON,Jean-Luc,51,FILLON,François,45
78397,930010501,42860,93001,Aubervilliers,10,2.395793000000000,48.913151999999997,93,Seine-Saint-Denis,06,001,Aubervilliers,0010,1239,431,808,10,5,793,DUPONT-AIGNAN,Nicolas,15,LE PEN,Marine,104,MACRON,Emmanuel,183,HAMON,Benoît,62,MÉLENCHON,Jean-Luc,331,FILLON,François,63

In [ ]:
IRIS_COMPLET[IRIS_COMPLET["libelle"]=="Les Sables-d'Olonne"][["IRIS","Code du bvote_sans 0 devant","commune_code","Inscrits"]]#["Inscrits"].astype(int).sum()

            IRIS Code du bvote_sans 0 devant commune_code Inscrits
8447   851940103                           4        85194     1179
8448   851940103                           3        85194     1084
26179  851940101                           8        85194     1196
31976  851940106                          11        85194     1168
31977  851940106                          12        85194     1156
31978  851940106                           5        85194     1231
34423  851940104                           1        85194     1147
34424  851940104                           2        85194     1084
34425  851940104                           9        85194     1050
34426  851940104                          10        85194     1195
44050  851940201                           6        85194     1174
49398  851940102                           7        85194     1226
59354  851940105                          12        85194     1156

In [ ]:
15046-(1156)#+1084)

13890

In [ ]:
data_premier[data_premier["Libellé de la commune"]=="Les Sables-d'Olonne"][["Inscrits","Code du bvote_sans 0 devant","commune_code" ]]#.fillna(0).astype(int).sum()

      Inscrits Code du bvote_sans 0 devant commune_code
59844     1147                           1        85194
59845     1084                           2        85194
59846     1084                           3        85194
59847     1179                           4        85194
59848     1231                           5        85194
59849     1174                           6        85194
59850     1226                           7        85194
59851     1196                           8        85194
59852     1050                           9        85194
59853     1195                          10        85194
59854     1168                          11        85194
59855     1156                          12        85194

In [ ]:
###COMPLETER LES IRIS PAR LES COMMUNES : ON CHERCHE LES COMMUNES POUR LEQUELS IL Y A UNE SEUL BV

table_nb_bv_par_commune = JOINTURE[["commune_code","Code du bvote_sans 0 devant"]].groupby("commune_code", as_index=False).count()
table_nb_bv_par_commune.columns = ["commune_code","nb_bv_par_commune"]
table_nb_bv_par_commune

      commune_code  nb_bv_par_commune
0            01001                  2
1            01002                  1
2            01004                 12
3            01005                  1
4            01006                  2
...            ...                ...
29172        95676                  1
29173        95678                  1
29174        95680                 37
29175        95682                  1
29176        95690                  1

[29177 rows x 2 columns]

In [ ]:
# commune nb bv
table_1 = table_nb_bv_par_commune[table_nb_bv_par_commune["nb_bv_par_commune"]==1]
table_2 = table_nb_bv_par_commune[table_nb_bv_par_commune["nb_bv_par_commune"]!=1]
table_1

      commune_code  nb_bv_par_commune
1            01002                  1
3            01005                  1
6            01008                  1
7            01009                  1
8            01010                  1
...            ...                ...
29171        95675                  1
29172        95676                  1
29173        95678                  1
29175        95682                  1
29176        95690                  1

[18821 rows x 2 columns]

In [ ]:
IRIS_A_COMPLETER_1 = IRIS_A_COMPLETER_UNIQUE.merge(table_1) #, how="left")
IRIS_A_COMPLETER_2 = IRIS_A_COMPLETER_UNIQUE.merge(table_2)
IRIS_A_COMPLETER_1

,IRIS,ID_BV,commune_code,libelle,Code du bvote_sans 0 devant,longitude,latitude,nb_bv_par_commune
0,231670000,2759,23167,Sannat,1-1,2.406418000000000,46.119498000000000,1
1,422620000,45044,42262,Saint-Maurice-en-Gourgois,1 - 2,4.181872000000001,45.403328999999999,1
2,714540000,52691,71454,Saint-Martin-du-Mont,11,5.275538000000000,46.617655999999997,1
3,593110000,52855,59311,Honnechy,30,3.470584000000000,50.069226000000000,1
4,553010000,38312,55301,Longchamps-sur-Aire,1 - 1,5.308323000000000,48.910172000000003,1
...,...,...,...,...,...,...,...,...
343,593770000,36910,59377,Marcoing,30,3.171875000000000,50.120503999999997,1
344,210170000,31281,21017,Arcenant,1 - 1,4.844123000000000,47.139229999999998,1
345,071650000,8185,07165,Belsentes,2,4.507120000000000,44.918472000000001,1
346,712580000,29976,71258,Leynes,1 - 2,4.728363000000000,46.269680999999999,1
347,510430000,28445,51043,Bazancourt,2,4.168168000000000,49.366283000000003,1

In [ ]:
######################## RESULTATS PAR COMMUNE #########################
for k in ["Inscrits","Abstentions","Votants","Blancs","Nuls","Exprimés","Voix_1","Voix_2","Voix_3","Voix_4","Voix_9","Voix_11"]:
    data_premier.loc[:,k] = data_premier.loc[:,k].astype(float)

moyen_commune = data_premier[["commune_code","Inscrits","Abstentions","Votants","Blancs","Nuls","Exprimés","Voix_1","Voix_2","Voix_3","Voix_4","Voix_9","Voix_11"]].groupby("commune_code", as_index=False).sum()
moyen_commune

,commune_code,Inscrits,Abstentions,Votants,Blancs,Nuls,Exprimés,Voix_1,Voix_2,Voix_3,Voix_4,Voix_9,Voix_11
0,01001,598.0,92.0,506.0,2.0,9.0,495.0,34.0,126.0,119.0,29.0,59.0,110.0
1,01002,209.0,25.0,184.0,6.0,2.0,176.0,6.0,48.0,37.0,13.0,33.0,34.0
2,01004,8586.0,1962.0,6624.0,114.0,58.0,6452.0,346.0,1667.0,1332.0,344.0,1412.0,1084.0
3,01005,1172.0,215.0,957.0,21.0,3.0,933.0,45.0,306.0,191.0,37.0,126.0,197.0
4,01006,99.0,20.0,79.0,2.0,0.0,77.0,4.0,18.0,15.0,3.0,19.0,14.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
35318,95676,382.0,43.0,339.0,5.0,0.0,334.0,16.0,75.0,47.0,10.0,64.0,110.0
35319,95678,593.0,48.0,545.0,8.0,2.0,535.0,33.0,112.0,124.0,27.0,85.0,139.0
35320,95680,13213.0,4392.0,8821.0,163.0,100.0,8558.0,210.0,1256.0,1936.0,728.0,2932.0,1109.0
35321,95682,120.0,10.0,110.0,3.0,1.0,106.0,5.0,17.0,26.0,10.0,21.0,21.0
35322,95690,309.0,46.0,263.0,2.0,0.0,261.0,14.0,47.0,70.0,8.0,45.0,72.0

In [ ]:
pourcentage_commune = data_premier[["commune_code","Inscrits","Abstentions","Votants","Blancs","Nuls","Exprimés","Voix_1","Voix_2","Voix_3","Voix_4","Voix_9","Voix_11"]].groupby("commune_code", as_index=False).mean()
pourcentage_commune

,commune_code,Inscrits,Abstentions,Votants,Blancs,Nuls,Exprimés,Voix_1,Voix_2,Voix_3,Voix_4,Voix_9,Voix_11
0,01001,598.000000,92.000000,506.000000,2.000000,9.000000,495.000000,34.000000,126.000000,119.000000,29.0,59.000000,110.000000
1,01002,209.000000,25.000000,184.000000,6.000000,2.000000,176.000000,6.000000,48.000000,37.000000,13.0,33.000000,34.000000
2,01004,1073.250000,245.250000,828.000000,14.250000,7.250000,806.500000,43.250000,208.375000,166.500000,43.0,176.500000,135.500000
3,01005,1172.000000,215.000000,957.000000,21.000000,3.000000,933.000000,45.000000,306.000000,191.000000,37.0,126.000000,197.000000
4,01006,99.000000,20.000000,79.000000,2.000000,0.000000,77.000000,4.000000,18.000000,15.000000,3.0,19.000000,14.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
35318,95676,382.000000,43.000000,339.000000,5.000000,0.000000,334.000000,16.000000,75.000000,47.000000,10.0,64.000000,110.000000
35319,95678,593.000000,48.000000,545.000000,8.000000,2.000000,535.000000,33.000000,112.000000,124.000000,27.0,85.000000,139.000000
35320,95680,1016.384615,337.846154,678.538462,12.538462,7.692308,658.307692,16.153846,96.615385,148.923077,56.0,225.538462,85.307692
35321,95682,120.000000,10.000000,110.000000,3.000000,1.000000,106.000000,5.000000,17.000000,26.000000,10.0,21.000000,21.000000
35322,95690,309.000000,46.000000,263.000000,2.000000,0.000000,261.000000,14.000000,47.000000,70.000000,8.0,45.000000,72.000000

In [ ]:
# ON COMPLETE LES IRIS 

IRIS_COMPLET_1 = IRIS_A_COMPLETER_1.merge(moyen_commune)
IRIS_COMPLET_1

,IRIS,ID_BV,commune_code,libelle,Code du bvote_sans 0 devant,longitude,latitude,nb_bv_par_commune,Inscrits,Abstentions,Votants,Blancs,Nuls,Exprimés,Voix_1,Voix_2,Voix_3,Voix_4,Voix_9,Voix_11
0,231670000,2759,23167,Sannat,1-1,2.406418000000000,46.119498000000000,1,299.0,45.0,254.0,8.0,3.0,243.0,11.0,36.0,64.0,17.0,53.0,47.0
1,422620000,45044,42262,Saint-Maurice-en-Gourgois,1 - 2,4.181872000000001,45.403328999999999,1,1206.0,179.0,1027.0,13.0,5.0,1009.0,62.0,374.0,193.0,54.0,123.0,168.0
2,714540000,52691,71454,Saint-Martin-du-Mont,11,5.275538000000000,46.617655999999997,1,141.0,25.0,116.0,3.0,2.0,111.0,7.0,24.0,33.0,5.0,19.0,19.0
3,593110000,52855,59311,Honnechy,30,3.470584000000000,50.069226000000000,1,349.0,66.0,283.0,13.0,1.0,269.0,19.0,121.0,19.0,9.0,50.0,41.0
4,553010000,38312,55301,Longchamps-sur-Aire,1 - 1,5.308323000000000,48.910172000000003,1,106.0,16.0,90.0,2.0,0.0,88.0,10.0,11.0,18.0,0.0,16.0,26.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
343,593770000,36910,59377,Marcoing,30,3.171875000000000,50.120503999999997,1,1490.0,276.0,1214.0,18.0,6.0,1190.0,88.0,410.0,188.0,49.0,233.0,179.0
344,210170000,31281,21017,Arcenant,1 - 1,4.844123000000000,47.139229999999998,1,408.0,53.0,355.0,8.0,1.0,346.0,26.0,60.0,102.0,24.0,55.0,57.0
345,071650000,8185,07165,Belsentes,2,4.507120000000000,44.918472000000001,1,164.0,28.0,136.0,3.0,2.0,131.0,6.0,31.0,30.0,9.0,26.0,16.0
346,712580000,29976,71258,Leynes,1 - 2,4.728363000000000,46.269680999999999,1,356.0,41.0,315.0,8.0,3.0,304.0,14.0,68.0,92.0,18.0,43.0,60.0
347,510430000,28445,51043,Bazancourt,2,4.168168000000000,49.366283000000003,1,1529.0,274.0,1255.0,20.0,5.0,1230.0,82.0,453.0,237.0,41.0,190.0,180.0

In [ ]:
IRIS_COMPLET_2 = IRIS_A_COMPLETER_2.merge(moyen_commune)
IRIS_COMPLET_2

,IRIS,ID_BV,commune_code,libelle,Code du bvote_sans 0 devant,longitude,latitude,nb_bv_par_commune,Inscrits,Abstentions,Votants,Blancs,Nuls,Exprimés,Voix_1,Voix_2,Voix_3,Voix_4,Voix_9,Voix_11
0,710410000,24390,71041,Bois-Sainte-Marie,11,4.349647000000000,46.327606000000003,2,87.0,15.0,72.0,1.0,1.0,70.0,4.0,24.0,13.0,3.0,9.0,14.0
1,711410000,24390,71041,Bois-Sainte-Marie,11,4.349647000000000,46.327606000000003,2,87.0,15.0,72.0,1.0,1.0,70.0,4.0,24.0,13.0,3.0,9.0,14.0
2,900100201,8076,90010,Belfort,L-2,6.837190000000000,47.640498000000001,41,26162.0,7806.0,18356.0,338.0,172.0,17846.0,657.0,3625.0,3863.0,1376.0,4162.0,3314.0
3,900100201,41801,90010,Belfort,L-1,6.837637000000000,47.639012000000001,41,26162.0,7806.0,18356.0,338.0,172.0,17846.0,657.0,3625.0,3863.0,1376.0,4162.0,3314.0
4,900100201,41804,90010,Belfort,L-3,6.837013000000000,47.643287999999998,41,26162.0,7806.0,18356.0,338.0,172.0,17846.0,657.0,3625.0,3863.0,1376.0,4162.0,3314.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1694,510490000,43694,51612,Blancs-Coteaux,4,4.005537000000001,48.903314000000002,7,1719.0,259.0,1460.0,16.0,13.0,1431.0,80.0,427.0,247.0,48.0,146.0,436.0
1695,510490000,46806,51612,Blancs-Coteaux,3,4.005537000000001,48.903314000000002,7,1719.0,259.0,1460.0,16.0,13.0,1431.0,80.0,427.0,247.0,48.0,146.0,436.0
1696,640420000,11106,64396,Mont,3,-0.667896000000000,43.448554999999999,5,829.0,172.0,657.0,20.0,6.0,631.0,28.0,141.0,141.0,46.0,152.0,63.0
1697,930500106,33685,93050,Neuilly-sur-Marne,20,2.526387000000000,48.857841999999998,18,18221.0,4131.0,14090.0,298.0,121.0,13671.0,558.0,2230.0,3875.0,979.0,3886.0,1562.0
1698,360220000,3775,36022,Bouesse,1 - 1,1.699606000000000,46.653058999999999,2,323.0,76.0,247.0,3.0,7.0,237.0,12.0,78.0,40.0,21.0,28.0,49.0

In [ ]:
IRIS_A_COMPLETER_2 = IRIS_A_COMPLETER_2.drop_duplicates(subset=["IRIS", "commune_code"])
IRIS_COMPLET_2 = IRIS_A_COMPLETER_2.merge(moyen_commune)
IRIS_COMPLET_2

,IRIS,ID_BV,commune_code,libelle,Code du bvote_sans 0 devant,longitude,latitude,nb_bv_par_commune,Inscrits,Abstentions,Votants,Blancs,Nuls,Exprimés,Voix_1,Voix_2,Voix_3,Voix_4,Voix_9,Voix_11
0,710410000,24390,71041,Bois-Sainte-Marie,11,4.349647000000000,46.327606000000003,2,87.0,15.0,72.0,1.0,1.0,70.0,4.0,24.0,13.0,3.0,9.0,14.0
1,711410000,24390,71041,Bois-Sainte-Marie,11,4.349647000000000,46.327606000000003,2,87.0,15.0,72.0,1.0,1.0,70.0,4.0,24.0,13.0,3.0,9.0,14.0
2,900100201,8076,90010,Belfort,L-2,6.837190000000000,47.640498000000001,41,26162.0,7806.0,18356.0,338.0,172.0,17846.0,657.0,3625.0,3863.0,1376.0,4162.0,3314.0
3,900100502,8202,90010,Belfort,A-1,6.863533000000000,47.638348000000001,41,26162.0,7806.0,18356.0,338.0,172.0,17846.0,657.0,3625.0,3863.0,1376.0,4162.0,3314.0
4,900100102,8382,90010,Belfort,E-3,6.847938000000000,47.654350999999998,41,26162.0,7806.0,18356.0,338.0,172.0,17846.0,657.0,3625.0,3863.0,1376.0,4162.0,3314.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
803,793420000,50688,79077,Beugnon-Thireuil,2,-0.501723000000000,46.581705999999997,4,296.0,56.0,240.0,10.0,12.0,218.0,12.0,54.0,51.0,11.0,23.0,56.0
804,510490000,43694,51612,Blancs-Coteaux,4,4.005537000000001,48.903314000000002,7,1719.0,259.0,1460.0,16.0,13.0,1431.0,80.0,427.0,247.0,48.0,146.0,436.0
805,640420000,11106,64396,Mont,3,-0.667896000000000,43.448554999999999,5,829.0,172.0,657.0,20.0,6.0,631.0,28.0,141.0,141.0,46.0,152.0,63.0
806,930500106,33685,93050,Neuilly-sur-Marne,20,2.526387000000000,48.857841999999998,18,18221.0,4131.0,14090.0,298.0,121.0,13671.0,558.0,2230.0,3875.0,979.0,3886.0,1562.0
807,360220000,3775,36022,Bouesse,1 - 1,1.699606000000000,46.653058999999999,2,323.0,76.0,247.0,3.0,7.0,237.0,12.0,78.0,40.0,21.0,28.0,49.0

In [ ]:
###
IRIS_COMPLET_2["nb_bv_par_commune"] = 2
IRIS_COMPLET_2

,IRIS,ID_BV,commune_code,libelle,Code du bvote_sans 0 devant,longitude,latitude,nb_bv_par_commune,Inscrits,Abstentions,Votants,Blancs,Nuls,Exprimés,Voix_1,Voix_2,Voix_3,Voix_4,Voix_9,Voix_11
0,710410000,24390,71041,Bois-Sainte-Marie,11,4.349647000000000,46.327606000000003,2,87.0,15.0,72.0,1.0,1.0,70.0,4.0,24.0,13.0,3.0,9.0,14.0
1,711410000,24390,71041,Bois-Sainte-Marie,11,4.349647000000000,46.327606000000003,2,87.0,15.0,72.0,1.0,1.0,70.0,4.0,24.0,13.0,3.0,9.0,14.0
2,900100201,8076,90010,Belfort,L-2,6.837190000000000,47.640498000000001,2,26162.0,7806.0,18356.0,338.0,172.0,17846.0,657.0,3625.0,3863.0,1376.0,4162.0,3314.0
3,900100502,8202,90010,Belfort,A-1,6.863533000000000,47.638348000000001,2,26162.0,7806.0,18356.0,338.0,172.0,17846.0,657.0,3625.0,3863.0,1376.0,4162.0,3314.0
4,900100102,8382,90010,Belfort,E-3,6.847938000000000,47.654350999999998,2,26162.0,7806.0,18356.0,338.0,172.0,17846.0,657.0,3625.0,3863.0,1376.0,4162.0,3314.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
803,793420000,50688,79077,Beugnon-Thireuil,2,-0.501723000000000,46.581705999999997,2,296.0,56.0,240.0,10.0,12.0,218.0,12.0,54.0,51.0,11.0,23.0,56.0
804,510490000,43694,51612,Blancs-Coteaux,4,4.005537000000001,48.903314000000002,2,1719.0,259.0,1460.0,16.0,13.0,1431.0,80.0,427.0,247.0,48.0,146.0,436.0
805,640420000,11106,64396,Mont,3,-0.667896000000000,43.448554999999999,2,829.0,172.0,657.0,20.0,6.0,631.0,28.0,141.0,141.0,46.0,152.0,63.0
806,930500106,33685,93050,Neuilly-sur-Marne,20,2.526387000000000,48.857841999999998,2,18221.0,4131.0,14090.0,298.0,121.0,13671.0,558.0,2230.0,3875.0,979.0,3886.0,1562.0
807,360220000,3775,36022,Bouesse,1 - 1,1.699606000000000,46.653058999999999,2,323.0,76.0,247.0,3.0,7.0,237.0,12.0,78.0,40.0,21.0,28.0,49.0

In [ ]:
IRIS_COMPLET =IRIS_COMPLET[['IRIS', 'ID_BV', 'commune_code', 'libelle',
       'Code du bvote_sans 0 devant', 'longitude', 'latitude',
       'Inscrits', 'Abstentions', 'Votants', 'Blancs',
       'Nuls', 'Exprimés', 'Voix_1', 'Voix_2', 'Voix_3', 'Voix_4', 'Voix_9',
       'Voix_11']]
IRIS_COMPLET["nb_bv_par_commune"]=0

In [ ]:
IRIS_COMPLET = IRIS_COMPLET[IRIS_COMPLET_1.columns]
IRIS_COMPLET

,IRIS,ID_BV,commune_code,libelle,Code du bvote_sans 0 devant,longitude,latitude,nb_bv_par_commune,Inscrits,Abstentions,Votants,Blancs,Nuls,Exprimés,Voix_1,Voix_2,Voix_3,Voix_4,Voix_9,Voix_11
0,721910000,17428,72191,Mayet,1,0.271986000000000,47.759019000000002,0,1405,223,1182,29,11,1142,48,332,185,45,178,298
1,721910000,55161,72191,Mayet,2,0.271986000000000,47.759019000000002,0,916,160,756,15,5,736,33,190,125,37,124,200
2,811990000,2567,81199,Padiès,1,2.387936000000000,44.037731000000001,0,168,26,142,1,4,137,13,27,32,8,30,20
3,592250102,36765,59225,Feignies,3,3.920591000000000,50.297097999999998,0,881,217,664,10,3,651,32,282,98,30,124,59
4,603970000,38892,60397,Le Mesnil-Conteville,1,2.058362000000000,49.668540000000000,0,82,9,73,6,0,67,3,20,7,2,9,24
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
78393,910270114,39698,91027,Athis-Mons,16,2.385880000000000,48.710135000000001,0,984,202,782,9,8,765,61,95,208,76,183,120
78394,910270114,44900,91027,Athis-Mons,1,2.385880000000000,48.710135000000001,0,1180,342,838,18,5,815,35,171,164,85,251,80
78395,104300000,8531,51377,Montépreux,1,4.138896000000000,48.712504000000003,0,33,8,25,0,0,25,0,1,5,0,4,11
78396,394510000,27758,39452,Rans,1,5.727725000000000,47.141947000000002,0,339,49,290,5,7,278,24,91,50,10,51,45
78397,930010501,42860,93001,Aubervilliers,10,2.395793000000000,48.913151999999997,0,1239,431,808,10,5,793,15,104,183,62,331,63

In [ ]:
for k in ['Inscrits', 'Abstentions', 'Votants', 'Blancs','Nuls', 'Exprimés', 'Voix_1', 'Voix_2', 'Voix_3', 'Voix_4', 'Voix_9','Voix_11']:
    IRIS_COMPLET.loc[:,k] = IRIS_COMPLET.loc[:,k].astype(float)

In [ ]:

TAB = IRIS_COMPLET[["IRIS","commune_code","libelle"]].drop_duplicates("IRIS").merge(IRIS_COMPLET[["IRIS",'Inscrits', 'Abstentions', 'Votants', 'Blancs',
       'Nuls', 'Exprimés', 'Voix_1', 'Voix_2', 'Voix_3', 'Voix_4', 'Voix_9',
       'Voix_11']].groupby("IRIS", as_index=False).sum())
TAB

,IRIS,commune_code,libelle,Inscrits,Abstentions,Votants,Blancs,Nuls,Exprimés,Voix_1,Voix_2,Voix_3,Voix_4,Voix_9,Voix_11
0,721910000,72191,Mayet,2321.0,383.0,1938.0,44.0,16.0,1878.0,81.0,522.0,310.0,82.0,302.0,498.0
1,811990000,81199,Padiès,168.0,26.0,142.0,1.0,4.0,137.0,13.0,27.0,32.0,8.0,30.0,20.0
2,592250102,59225,Feignies,881.0,217.0,664.0,10.0,3.0,651.0,32.0,282.0,98.0,30.0,124.0,59.0
3,603970000,60397,Le Mesnil-Conteville,82.0,9.0,73.0,6.0,0.0,67.0,3.0,20.0,7.0,2.0,9.0,24.0
4,383820104,38382,Saint-Égrève,1815.0,345.0,1470.0,15.0,3.0,1452.0,45.0,144.0,562.0,103.0,271.0,291.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
47429,930050101,93005,Aulnay-sous-Bois,1484.0,374.0,1110.0,18.0,10.0,1082.0,56.0,202.0,262.0,63.0,273.0,193.0
47430,910270114,91027,Athis-Mons,2164.0,544.0,1620.0,27.0,13.0,1580.0,96.0,266.0,372.0,161.0,434.0,200.0
47431,104300000,51377,Montépreux,33.0,8.0,25.0,0.0,0.0,25.0,0.0,1.0,5.0,0.0,4.0,11.0
47432,394510000,39452,Rans,339.0,49.0,290.0,5.0,7.0,278.0,24.0,91.0,50.0,10.0,51.0,45.0
47433,930010501,93001,Aubervilliers,1239.0,431.0,808.0,10.0,5.0,793.0,15.0,104.0,183.0,62.0,331.0,63.0

In [ ]:
TAB

,IRIS,commune_code,libelle,Inscrits,Abstentions,Votants,Blancs,Nuls,Exprimés,Voix_1,Voix_2,Voix_3,Voix_4,Voix_9,Voix_11
0,721910000,72191,Mayet,2321.0,383.0,1938.0,44.0,16.0,1878.0,81.0,522.0,310.0,82.0,302.0,498.0
1,811990000,81199,Padiès,168.0,26.0,142.0,1.0,4.0,137.0,13.0,27.0,32.0,8.0,30.0,20.0
2,592250102,59225,Feignies,881.0,217.0,664.0,10.0,3.0,651.0,32.0,282.0,98.0,30.0,124.0,59.0
3,603970000,60397,Le Mesnil-Conteville,82.0,9.0,73.0,6.0,0.0,67.0,3.0,20.0,7.0,2.0,9.0,24.0
4,383820104,38382,Saint-Égrève,1815.0,345.0,1470.0,15.0,3.0,1452.0,45.0,144.0,562.0,103.0,271.0,291.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
47429,930050101,93005,Aulnay-sous-Bois,1484.0,374.0,1110.0,18.0,10.0,1082.0,56.0,202.0,262.0,63.0,273.0,193.0
47430,910270114,91027,Athis-Mons,2164.0,544.0,1620.0,27.0,13.0,1580.0,96.0,266.0,372.0,161.0,434.0,200.0
47431,104300000,51377,Montépreux,33.0,8.0,25.0,0.0,0.0,25.0,0.0,1.0,5.0,0.0,4.0,11.0
47432,394510000,39452,Rans,339.0,49.0,290.0,5.0,7.0,278.0,24.0,91.0,50.0,10.0,51.0,45.0
47433,930010501,93001,Aubervilliers,1239.0,431.0,808.0,10.0,5.0,793.0,15.0,104.0,183.0,62.0,331.0,63.0

In [ ]:
#IRIS_COMPLET[IRIS_COMPLET["IRIS"]=="582780000"]

In [ ]:
#data_recensement_orig[data_recensement_orig["IRIS"]=="582780000"]

In [ ]:
FINAL =  pd.concat([TAB, IRIS_COMPLET_1.drop(["ID_BV","Code du bvote_sans 0 devant","longitude","latitude"],axis=1), IRIS_COMPLET_2.drop(["ID_BV","Code du bvote_sans 0 devant","longitude","latitude"],axis=1)], axis=0)
FINAL

,IRIS,commune_code,libelle,Inscrits,Abstentions,Votants,Blancs,Nuls,Exprimés,Voix_1,Voix_2,Voix_3,Voix_4,Voix_9,Voix_11,nb_bv_par_commune
0,721910000,72191,Mayet,2321.0,383.0,1938.0,44.0,16.0,1878.0,81.0,522.0,310.0,82.0,302.0,498.0,NaN
1,811990000,81199,Padiès,168.0,26.0,142.0,1.0,4.0,137.0,13.0,27.0,32.0,8.0,30.0,20.0,NaN
2,592250102,59225,Feignies,881.0,217.0,664.0,10.0,3.0,651.0,32.0,282.0,98.0,30.0,124.0,59.0,NaN
3,603970000,60397,Le Mesnil-Conteville,82.0,9.0,73.0,6.0,0.0,67.0,3.0,20.0,7.0,2.0,9.0,24.0,NaN
4,383820104,38382,Saint-Égrève,1815.0,345.0,1470.0,15.0,3.0,1452.0,45.0,144.0,562.0,103.0,271.0,291.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
803,793420000,79077,Beugnon-Thireuil,296.0,56.0,240.0,10.0,12.0,218.0,12.0,54.0,51.0,11.0,23.0,56.0,2.0
804,510490000,51612,Blancs-Coteaux,1719.0,259.0,1460.0,16.0,13.0,1431.0,80.0,427.0,247.0,48.0,146.0,436.0,2.0
805,640420000,64396,Mont,829.0,172.0,657.0,20.0,6.0,631.0,28.0,141.0,141.0,46.0,152.0,63.0,2.0
806,930500106,93050,Neuilly-sur-Marne,18221.0,4131.0,14090.0,298.0,121.0,13671.0,558.0,2230.0,3875.0,979.0,3886.0,1562.0,2.0
807,360220000,36022,Bouesse,323.0,76.0,247.0,3.0,7.0,237.0,12.0,78.0,40.0,21.0,28.0,49.0,2.0

In [ ]:
FINAL["Voix/Exprimés_1"] = round(FINAL["Voix_1"]/FINAL["Exprimés"]*100,2)
FINAL["Voix/Exprimés_2"] = round(FINAL["Voix_2"]/FINAL["Exprimés"]*100,2)
FINAL["Voix/Exprimés_3"] = round(FINAL["Voix_3"]/FINAL["Exprimés"]*100,2)
FINAL["Voix/Exprimés_4"] = round(FINAL["Voix_4"]/FINAL["Exprimés"]*100,2)
FINAL["Voix/Exprimés_9"] = round(FINAL["Voix_9"]/FINAL["Exprimés"]*100,2)
FINAL["Voix/Exprimés_11"] = round(FINAL["Voix_11"]/FINAL["Exprimés"]*100,2)

In [ ]:
FINAL[FINAL["libelle"]=="Les Sables-d'Olonne"][FINAL[FINAL["libelle"]=="Les Sables-d'Olonne"]["nb_bv_par_commune"].isnull()]#["Inscrits"]#.sum()

,IRIS,commune_code,libelle,Inscrits,Abstentions,Votants,Blancs,Nuls,Exprimés,Voix_1,Voix_2,Voix_3,Voix_4,Voix_9,Voix_11,nb_bv_par_commune,Voix/Exprimés_1,Voix/Exprimés_2,Voix/Exprimés_3,Voix/Exprimés_4,Voix/Exprimés_9,Voix/Exprimés_11
5215,851940103,85194,Les Sables-d'Olonne,2263.0,457.0,1806.0,17.0,7.0,1782.0,71.0,209.0,534.0,91.0,212.0,625.0,NaN,3.98,11.73,29.97,5.11,11.90,35.07
16069,851940101,85194,Les Sables-d'Olonne,1196.0,242.0,954.0,6.0,5.0,943.0,28.0,103.0,240.0,38.0,82.0,421.0,NaN,2.97,10.92,25.45,4.03,8.70,44.64
19601,851940106,85194,Les Sables-d'Olonne,3555.0,785.0,2770.0,48.0,24.0,2698.0,121.0,422.0,754.0,143.0,329.0,834.0,NaN,4.48,15.64,27.95,5.30,12.19,30.91
21095,851940104,85194,Les Sables-d'Olonne,4476.0,1088.0,3388.0,36.0,20.0,3332.0,157.0,489.0,855.0,144.0,418.0,1176.0,NaN,4.71,14.68,25.66,4.32,12.55,35.29
26942,851940201,85194,Les Sables-d'Olonne,1174.0,285.0,889.0,11.0,3.0,875.0,34.0,119.0,246.0,42.0,113.0,302.0,NaN,3.89,13.60,28.11,4.80,12.91,34.51
30255,851940102,85194,Les Sables-d'Olonne,1226.0,281.0,945.0,11.0,6.0,928.0,37.0,85.0,229.0,39.0,106.0,413.0,NaN,3.99,9.16,24.68,4.20,11.42,44.50
36385,851940105,85194,Les Sables-d'Olonne,1156.0,273.0,883.0,16.0,5.0,862.0,34.0,132.0,217.0,48.0,123.0,275.0,NaN,3.94,15.31,25.17,5.57,14.27,31.90

In [ ]:
1559/11420*100, 15046/15

(13.651488616462345, 1003.0666666666667)

In [ ]:
moyen_commune[moyen_commune['commune_code']=="85194"]

,commune_code,Inscrits,Abstentions,Votants,Blancs,Nuls,Exprimés,Voix_1,Voix_2,Voix_3,Voix_4,Voix_9,Voix_11
33212,85194,13890.0,3138.0,10752.0,129.0,65.0,10558.0,448.0,1427.0,2858.0,497.0,1260.0,3771.0

In [ ]:
JOINTURE[JOINTURE["libelle"]=="Les Sables-d'Olonne"]

,IRIS,ID_BV,commune_code,libelle,Code du bvote_sans 0 devant,longitude,latitude,Code du département,Libellé du département,Code de la circonscription,Code de la commune,Libellé de la commune,Code du bvote,Inscrits,Abstentions,Votants,Blancs,Nuls,Exprimés,Nom_1,Prénom_1,Voix_1,Nom_2,Prénom_2,Voix_2,Nom_3,Prénom_3,Voix_3,Nom_4,Prénom_4,Voix_4,Nom_9,Prénom_9,Voix_9,Nom_11,Prénom_11,Voix_11
1216,851940301,54382,85194,Les Sables-d'Olonne,13,-1.738948000000000,46.504593000000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1217,851940301,54423,85194,Les Sables-d'Olonne,14,-1.736586000000000,46.504373000000001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1218,851940301,54605,85194,Les Sables-d'Olonne,21,-1.734019000000000,46.502429999999997,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8447,851940103,54175,85194,Les Sables-d'Olonne,4,-1.768354000000000,46.493582000000004,85,Vendée,03,194,Les Sables-d'Olonne,0004,1179,214,965,11,5,949,DUPONT-AIGNAN,Nicolas,37,LE PEN,Marine,105,MACRON,Emmanuel,288,HAMON,Benoît,31,MÉLENCHON,Jean-Luc,90,FILLON,François,383
8448,851940103,54487,85194,Les Sables-d'Olonne,3,-1.766921000000000,46.496878000000002,85,Vendée,03,194,Les Sables-d'Olonne,0003,1084,243,841,6,2,833,DUPONT-AIGNAN,Nicolas,34,LE PEN,Marine,104,MACRON,Emmanuel,246,HAMON,Benoît,60,MÉLENCHON,Jean-Luc,122,FILLON,François,242
22721,851940204,583,85194,Les Sables-d'Olonne,23,-1.774020000000000,46.532266999999997,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22722,851940204,54490,85194,Les Sables-d'Olonne,32,-1.785341000000000,46.515881000000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22723,851940204,54493,85194,Les Sables-d'Olonne,31,-1.785341000000000,46.515881000000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22724,851940204,54580,85194,Les Sables-d'Olonne,24,-1.779720000000000,46.539439000000002,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22725,851940204,54590,85194,Les Sables-d'Olonne,25,-1.774020000000000,46.532266999999997,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26179,851940101,54181,85194,Les Sables-d'Olonne,8,-1.782142000000000,46.496985000000002,85,Vendée,03,194,Les Sables-d'Olonne,0008,1196,242,954,6,5,943,DUPONT-AIGNAN,Nicolas,28,LE PEN,Marine,103,MACRON,Emmanuel,240,HAMON,Benoît,38,MÉLENCHON,Jean-Luc,82,FILLON,François,421
30547,851940203,54488,85194,Les Sables-d'Olonne,33,-1.810082000000000,46.544618999999997,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31976,851940106,54377,85194,Les Sables-d'Olonne,11,-1.805909000000000,46.494886000000001,85,Vendée,03,194,Les Sables-d'Olonne,0011,1168,230,938,18,10,910,DUPONT-AIGNAN,Nicolas,37,LE PEN,Marine,162,MACRON,Emmanuel,261,HAMON,Benoît,44,MÉLENCHON,Jean-Luc,88,FILLON,François,286
31977,851940106,54476,85194,Les Sables-d'Olonne,12,-1.796893000000000,46.501040000000003,85,Vendée,03,194,Les Sables-d'Olonne,0012,1156,273,883,16,5,862,DUPONT-AIGNAN,Nicolas,34,LE PEN,Marine,132,MACRON,Emmanuel,217,HAMON,Benoît,48,MÉLENCHON,Jean-Luc,123,FILLON,François,275
31978,851940106,54622,85194,Les Sables-d'Olonne,5,-1.804843000000000,46.494804000000002,85,Vendée,03,194,Les Sables-d'Olonne,0005,1231,282,949,14,9,926,DUPONT-AIGNAN,Nicolas,50,LE PEN,Marine,128,MACRON,Emmanuel,276,HAMON,Benoît,51,MÉLENCHON,Jean-Luc,118,FILLON,François,273
34423,851940104,54189,85194,Les Sables-d'Olonne,1,-1.784006000000000,46.497207000000003,85,Vendée,03,194,Les Sables-d'Olonne,0001,1147,287,860,8,0,852,DUPONT-AIGNAN,Nicolas,23,LE PEN,Marine,100,MACRON,Emmanuel,190,HAMON,Benoît,33,MÉLENCHON,Jean-Luc,80,FILLON,François,412
34424,851940104,54200,85194,Les Sables-d'Olonne,2,-1.777874000000000,46.501403000000003,85,Vendée,03,194,Les Sables-d'Olonne,0002,1084,293,791,11,3,777,DUPONT-AIGNAN,Nicolas,40,LE PEN,Marine,137,MACRON,Emmanuel,217,HAMON,Benoît,39,MÉLENCHON,Jean-Luc,107,FILLON,François,220
34425,851940104,54421,85194,Les Sables-d'Olonne,9,-1.784143000000000,46.503903000000001,85,Vendée,03,194,Les Sables-d'Olonne,0009,1050,242,808,9,8,791,DUPONT-AIGNAN,Nicolas,40,LE PEN,Marine,99,MACRON,Emmanuel,228,HAMON,Benoît,41,MÉLENCHON,Jean-Luc,129,FILLON,François,219
34426,851940104,54473,85194,Les Sables-d'Olonne,10,-1.782564000000000,46.497748999999999,85,Vendée,03,194,Les Sables-d'Olonne,0010,1195,266,929,8,9,912,DUPONT-AIGNAN,Nicolas,54,LE PEN,Marine,153,MACRON,Emmanuel,220,HAMON,Benoît,31,MÉLENCHON,Jean-Luc,102,FILLON,François,325
35767,851940302,1720,85194,Les Sables-d'Olonne,17,-1.743641000000000,46.490890999999998,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35768,851940302,54604,85194,Les Sables-d'Olonne,22,-1.741571000000000,46.501730000000002,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35769,851940302,54613,85194,Les Sables-d'Olonne,16,-1.757805000000000,46.494672999999999,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39910,851940303,54542,85194,Les Sables-d'Olonne,15,-1.765178000000000,46.500503999999999,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43830,851940305,54608,85194,Les Sables-d'Olonne,20,-1.748940000000000,46.477145999999998,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44050,851940201,1047,85194,Les Sables-d'Olonne,6,-1.783738000000000,46.510410999999998,85,Vendée,03,194,Les Sables-d'Olonne,0006,1174,285,889,11,3,875,DUPONT-AIGNAN,Nicolas,34,LE PEN,Marine,119,MACRON,Emmanuel,246,HAMON,Benoît,42,MÉLENCHON,Jean-Luc,113,FILLON,François,302
44051,851940201,52410,85194,Les Sables-d'Olonne,30,-1.768756000000000,46.506082999999997,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44052,851940201,54495,85194,Les Sables-d'Olonne,29,-1.773001000000000,46.509045999999998,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44053,851940201,54560,85194,Les Sables-d'Olonne,28,-1.773001000000000,46.509045999999998,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44054,851940201,58951,85194,Les Sables-d'Olonne,27,-1.776890000000000,46.509875000000001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49398,851940102,54544,85194,Les Sables-d'Olonne,7,-1.769780000000000,46.492787999999997,85,Vendée,03,194,Les Sables-d'Olonne,0007,1226,281,945,11,6,928,DUPONT-AIGNAN,Nicolas,37,LE PEN,Marine,85,MACRON,Emmanuel,229,HAMON,Benoît,39,MÉLENCHON,Jean-Luc,106,FILLON,François,413
54717,851940304,54609,85194,Les Sables-d'Olonne,19,-1.747867000000000,46.482469000000002,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
54718,851940304,54611,85194,Les Sables-d'Olonne,18,-1.742847000000000,46.477719999999998,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
58984,851940205,54579,85194,Les Sables-d'Olonne,26,-1.768472000000000,46.517041999999996,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
59354,851940105,54476,85194,Les Sables-d'Olonne,12,-1.796893000000000,46.501040000000003,85,Vendée,03,194,Les Sables-d'Olonne,0012,1156,273,883,16,5,862,DUPONT-AIGNAN,Nicolas,34,LE PEN,Marine,132,MACRON,Emmanuel,217,HAMON,Benoît,48,MÉLENCHON,Jean-Luc,123,FILLON,François,275

In [ ]:
IRIS_COMPLET.drop_duplicates(subset=["IRIS","Code du bvote_sans 0 devant"]).shape[0]-IRIS_COMPLET.drop_duplicates(subset=["IRIS","commune_code","Code du bvote_sans 0 devant"]).shape[0]

-86

Index(['IRIS', 'ID_BV', 'commune_code', 'libelle',
       'Code du bvote_sans 0 devant', 'longitude', 'latitude',
       'nb_bv_par_commune', 'Inscrits', 'Abstentions', 'Votants', 'Blancs',
       'Nuls', 'Exprimés', 'Voix_1', 'Voix_2', 'Voix_3', 'Voix_4', 'Voix_9',
       'Voix_11'],
      dtype='object')

In [ ]:
#pd.concat([IRIS_COMPLET[["IRIS","ID_BV"]], IRIS_A_COMPLETER_1[["IRIS","ID_BV"]], IRIS_A_COMPLETER_2[["IRIS","ID_BV"]]], axis=0)["IRIS"].value_counts().shape[0]

In [ ]:
TAB["IRIS"].value_counts().shape[0] +IRIS_A_COMPLETER_1["IRIS"].value_counts().shape[0]+IRIS_A_COMPLETER_2["IRIS"].value_counts().shape[0]

48590